{# templates/home/bedrijf.html.twig #}

{% extends 'base.html.twig' %}
{% block container %}


    <div style="display: flex; justify-content: center; margin-top: 5%">
        <div id="zoekbalk" style="background-color: #01689b; display: inline-block; padding: 20px"><h2
                style="color: white">ik zoek een stagiair in de sector:</h2><input type="text" id="Input"
                                                                                  onkeyup="stagefilter()"
                                                                                  placeholder="ICT"></div>
    </div>


    <div class="container" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-8" style="float: none;margin: auto">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list list--card">
                            <li class="card background--primary card__hover">
                                <a href="#" class="card__content">
                                    <div class="card__icon flex-center color--primary"><i
                                            class="fas fa-user-check fa-5x"></i></div>
                                    <div class="card__body flex-center"><span
                                            class="card__title color--primary flex-center">ik zoek een stagiair</span>
                                    </div>
                                </a>
                            </li>
                            <li class="card background--primary card__hover">
                                <a href="#" class="card__content">
                                    <div class="card__icon flex-center color--primary"><i
                                            class="fas fa-building fa-5x"></i></div>
                                    <div class="card__body flex-center"><span
                                            class="card__title color--primary flex-center">ik wil mijn bedrijf beschikbaar stellen</span>
                                    </div>
                                </a>
                            </li>
                            <li class="card background--primary card__hover">
                                <a href="#" class="card__content">
                                    <div class="card__icon flex-center color--primary"><i
                                            class="fas fa-stopwatch fa-5x"></i></div>
                                    <div class="card__body flex-center"><span
                                            class="card__title color--primary flex-center">ik wil een challenge plaatsen</span>
                                    </div>
                                </a>
                            </li>
                            <li class="card background--primary card__hover">
                                <a href="#" class="card__content">
                                    <div class="card__icon flex-center color--primary"><i
                                            class="fas fa-chalkboard-teacher fa-5x"></i></div>
                                    <div class="card__body flex-center"><span
                                            class="card__title color--primary flex-center">ik wil een tutorial plaatsen</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div>
        </div>
    </div>
    <main class="skiplink-target main" id="content" tabindex="-1">
        <div id="filters">
            <div id="kaarten">
                <ul class="list list--card list--card-small" id="stages">
                    <li class="card card--small">
                        <a href="#" class="card__content">
                            <div class="card__thumb" style="border: #0d5aa7"></div>
                            <div class="card__body"><span class="card__title">naam</span>
                                <p class="card__content">opleiding</p>
                                <p class="card__content">sector</p>
                                <p class="card__content">leeftijd</p>
                                <p class="card__content">leerjaar</p>
                            </div>
                        </a>
                    </li>
                    <li class="card card--small">
                        <a href="#" class="card__content">
                            <div class="card__thumb" style="border: #0d5aa7"></div>
                            <div class="card__body"><span class="card__title">naam</span>
                                <p class="card__content">opleiding</p>
                                <p class="card__content">sector</p>
                                <p class="card__content">leeftijd</p>
                                <p class="card__content">leerjaar</p>
                            </div>
                        </a>
                    </li>
                    <li class="card card--small">
                        <a href="#" class="card__content">
                            <div class="card__thumb" style="border: #0d5aa7"></div>
                            <div class="card__body"><span class="card__title">naam</span>
                                <p class="card__content">opleiding</p>
                                <p class="card__content">sector</p>
                                <p class="card__content">leeftijd</p>
                                <p class="card__content">leerjaar</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
{% endblock %}

