{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}
{% block container %}

    <h2>Challenges</h2>
    <div class="container" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-8" style="float: none;margin: auto">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list list--card" style="column-count: auto">
                            <li class="card background--primary card__hover">
                                <a href="#" class="card__content">
                                    <div class="card__icon flex-center color--primary"><i
                                            class="fas fa-stopwatch fa-5x"></i></div>
                                    <div class="card__body flex-center"><span
                                            class="card__title color--primary flex-center">Algoritmen</span></div>
                                </a>
                            </li>
                            <li class="card background--primary card__hover"><a href="#" class="card__content">
                                    <div class="card__icon flex-center color--primary"><i
                                            class="fas fa-stopwatch fa-5x"></i></div>
                                    <div class="card__body flex-center"><span
                                            class="card__title color--primary flex-center">C</span></div>
                                </a>
                            </li>
                            <li class="card background--primary card__hover"><a href="#" class="card__content">
                                    <div class="card__icon flex-center color--primary"><i class="fab fa-python"></i>
                                    </div>
                                    <div class="card__body flex-center"><span
                                            class="card__title color--primary flex-center">Python</span></div>
                                </a>
                            </li>
                        </ul>
                    </div><!-- /.col -->
                </div><!-- /.row -->
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list list--card" style="column-count: auto">
                            <li class="card background--primary card__hover"><a href="#" class="card__content">
                                    <div class="card__icon flex-center color--primary"><i class="fab fa-python"></i>
                                    </div>
                                    <div class="card__body flex-center"><span
                                            class="card__title color--primary flex-center">Functioneel programmeren</span>
                                    </div>
                                </a>
                            </li>
                            <li class="card background--primary card__hover"><a href="#" class="card__content">
                                    <div class="card__icon flex-center color--primary"><i class="fas fa-database"></i>
                                    </div>
                                    <div class="card__body flex-center"><span
                                            class="card__title color--primary flex-center">Databases</span></div>
                                </a>
                            </li>
                            <li class="card background--primary card__hover"><a href="#" class="card__content">
                                    <div class="card__thumb"
                                         style="background-image: url('../../images/img-1.png')"></div>
                                    <div class="card__body flex-center"><span
                                            class="card__title color--primary flex-center">Data structuren</span></div>
                                </a>
                            </li>
                        </ul>
                    </div><!-- /.col -->
                </div><!-- /.row -->
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list list--card" style="column-count: auto">
                            <li class="card background--primary card__hover"><a href="#" class="card__content">
                                    <div class="card__icon flex-center color--primary"><i class="icon-cplusplus"></i>
                                    </div>
                                    <div class="card__body flex-center"><span
                                            class="card__title color--primary flex-center">C++</span></div>
                                </a>
                            </li>
                            <li class="card background--primary card__hover"><a href="#" class="card__content">
                                    <div class="card__icon flex-center color--primary"><i class="fas fa-gem"></i></div>
                                    <div class="card__body flex-center"><span
                                            class="card__title color--primary flex-center">Robijn</span></div>
                                </a>
                            </li>
                            <li class="card background--primary card__hover"><a href="#" class="card__content">
                                    <div class="card__thumb"
                                         style="background-image: url('../../images/img-1.png')"></div>
                                    <div class="card__body flex-center"><span
                                            class="card__title color--primary flex-center">Kunstmatige intelligentie</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div><!-- /.col -->
                </div><!-- /.row -->
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list list--card" style="column-count: auto">
                            <li class="card background--primary card__hover"><a href="#" class="card__content">
                                    <div class="card__thumb"
                                         style="background-image: url('../../images/img-1.png')"></div>
                                    <div class="card__body flex-center"><span
                                            class="card__title color--primary flex-center">Regex</span></div>
                                </a>
                            </li>
                            <li class="card background--primary card__hover"><a href="#" class="card__content">
                                    <div class="card__icon flex-center color--primary"><i
                                            class="fas fa-square-root-alt"></i></div>
                                    <div class="card__body flex-center"><span
                                            class="card__title color--primary flex-center">Wiskunde</span></div>
                                </a>
                            </li>
                            <li class="card background--primary card__hover"><a href="#" class="card__content">
                                    <div class="card__icon flex-center color--primary"><i class="fab fa-java"></i></div>
                                    <div class="card__body flex-center"><span
                                            class="card__title color--primary flex-center">Java</span></div>
                                </a>
                            </li>
                        </ul>
                    </div><!-- /.col -->
                </div><!-- /.row -->
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list list--card" style="column-count: auto">
                            <li class="card background--primary card__hover"><a href="#" class="card__content">
                                    <div class="card__icon flex-center color--primary"><i class="fab fa-terminal"></i>
                                    </div>
                                    <div class="card__body flex-center"><span
                                            class="card__title color--primary flex-center">Linux-shell</span></div>
                                </a>
                            </li>
                            <li class="card background--primary card__hover"><a href="#" class="card__content">
                                    <div class="card__thumb"
                                         style="background-image: url('../../images/img-1.png')"></div>
                                    <div class="card__body flex-center"><span
                                            class="card__title color--primary flex-center">SQL</span></div>
                                </a>
                            </li>
                        </ul>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div>
        </div>
    </div>

{% endblock %}
