<span class="footer__header">Partners</span>
<ul class="list list--links list--chevrons footer__nav" >
    <li><a href="https://www.conduction.nl">Conduction</a></li>
    <li><a href="https://www.sidnfonds.nl/">SIDNfonds</a></li>
    <li><a href="https://www.rocvanflevoland.nl/">ROC van Flevoland</a></li>
    <li><a href="https://www.commonground.nl">Commonground</a></li>
</ul>
