{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}
{% block container %}

    {# Header image #}
    {% set headerimg = commonground_resource(application.defaultConfiguration.configuration.headerimg) %}
    <div class="row background--primary background--image"
         style="height: 500px; background: url(data:image/file;base64,{{ headerimg['base64'] }})">
        <div class="container">
        </div><!-- /.container -->
    </div><!-- /.row -->
    {#  Blokjes voorpagina  #}
    <div style="background: white;">
        <div class="container"><br>
            <div class="row">
                <div class="col-md-8" style="float: none;margin: auto">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list list--card">
                                <li class="card background--primary card__hover">
                                    <a href="#" class="card__content">
                                        <div class="card__icon flex-center color--primary"><i
                                                class="fas fa-laptop-house fa-5x"></i></div>
                                        <div class="card__body flex-center"><span
                                                class="card__title color--primary flex-center">Stages</span></div>
                                    </a>
                                </li>
                                <li class="card background--primary card__hover">
                                    <a href="#" class="card__content">
                                        <div class="card__icon flex-center color--primary"><i
                                                class="fas fa-chalkboard-teacher fa-5x"></i></div>
                                        <div class="card__body flex-center"><span
                                                class="card__title color--primary flex-center">Tutorials</span></div>
                                    </a>
                                </li>
                                <li class="card background--primary card__hover">
                                    <a href="#" class="card__content">
                                        <div class="card__icon flex-center color--primary"><i
                                                class="fas fa-child fa-5x"></i></div>
                                        <div class="card__body flex-center"><span
                                                class="card__title color--primary flex-center">Studenten vinden</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="card background--primary card__hover">
                                    <a href="#" class="card__content">
                                        <div class="card__icon flex-center color--primary"><i
                                                class="fas fa-bullseye fa-5x"></i></div>
                                        <div class="card__body flex-center"><span
                                                class="card__title color--primary flex-center">Doelen</span></div>
                                    </a>
                                </li>
                            </ul>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div>
            </div>
        </div>
    </div>
    {# Donker blauw vlalk#}
    <div style="width: 100%; background: #263846; height: 500px"></div>
    {# Klas image #}
    {% set kladimg = commonground_resource(application.defaultConfiguration.configuration.kladimg) %}
    <div class="row background--primary background--image"
         style="padding: 20px; height: 500px; background: url(data:image/file;base64,{{ kladimg['base64'] }})">
        <div class="container">
        </div><!-- /.container -->
    </div><!-- /.row -->
    {# Wit vlak#}
    <div style="background: white; width: 100%; height: 400px"></div>
    {# Raket image aan de rechter kant in de footer #}
    {% set raketimg = commonground_resource(application.defaultConfiguration.configuration.raketimg) %}
    <div class="row background--primary background--image"
         style="float: right; width: 30%; background: url(data:image/file;base64,{{ raketimg['base64'] }})">
        <div class="container">
        </div><!-- /.container -->
    </div><!-- /.row -->

<<<<<<< HEAD
<<<<<<< HEAD
    <div style="background: white; width: 100%; height: 400px"></div>
=======
        <div style="background: white; width: 100%; height: 400px"></div>
>>>>>>> development
=======
>>>>>>> development
{% endblock %}

