{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}
{% block container %}

    {#  Blokjes voorpagina  #}
    <div class="row">
        <div class="col-md-8" style="text-align: center; margin-top: 10%;">
                <div class="col-md-12">
                    <ul class="list list--card">
                        <li class="card background--primary card__hover">
                            <a href="#" class="card__content">
                                <div class="card__icon flex-center color--primary"><i class="fas fa-laptop-house fa-5x" aria-hidden="true"></i></div>
                                <div class="card__body flex-center"><span class="card__title color--primary flex-center">Stages</span></div>
                            </a>
                        </li>
                        <li class="card background--primary card__hover">
                            <a href="#" class="card__content">
                                <div class="card__icon flex-center color--primary"><i class="fas fa-chalkboard-teacher fa-5x" aria-hidden="true"></i></div>
                                <div class="card__body flex-center"><span class="card__title color--primary flex-center">Tutorials</span></div>
                            </a>
                        </li>
                        <li class="card background--primary card__hover">
                            <a href="#" class="card__content">
                                <div class="card__icon flex-center color--primary"><i class="fas fa-child fa-5x" aria-hidden="true"></i></div>
                                <div class="card__body flex-center"><span class="card__title color--primary flex-center">Studenten vinden</span></div>
                            </a>
                        </li>
                        <li class="card background--primary card__hover">
                            <a href="#" class="card__content">
                                <div class="card__icon flex-center color--primary"><i class="fas fa-bullseye fa-5x" aria-hidden="true"></i></div>
                                <div class="card__body flex-center"><span class="card__title color--primary flex-center">Doelen</span></div>
                            </a>
                        </li>
                    </ul>
                </div><!-- /.col -->
        </div>
    </div><!-- /.row -->

{% endblock %}
