{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}
{% block container %}

    {# Header image #}
    {% set headerimg = commonground_resource(application.defaultConfiguration.configuration.headerimg) %}
    <div class="row background--primary background--image"
         style="height: 500px; !important; background: url(data:image/file;base64,{{ headerimg['base64'] }})">
    </div>
    <div style="background-color: #222222">
        <div class="row">
            <div class="container">
                <div class="content" style="text-align: center; width: 50%;"><br>
                    <h2 style="color: white; margin-bottom: 20px; text-align: justify;">Over Conduction Academy</h2>
                    <p class="paragraph-s" style="color: white; text-align: justify;">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus.
                        Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis
                        enim.
                        Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
                        imperdiet a, venenatis vitae, justo.
                        Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum
                        semper nisi. Aenean vulputate eleifend tellus.
                        Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus
                        in,
                        viverra quis, feugiat a, tellus.
                        Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam
                        ultricies
                        nisi vel augue. Curabitur ullamcorper ultricies nisi.
                    </p>
                </div>
            </div>
        </div>
    </div>
    {#  Blokjes voorpagina  #}
    <div style="background-color: #263846">
        <div class="container"><br>
            <div class="row">
                <div class="col-md-8" style="float: none; margin: auto;">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list list--card" style="z-index: 0;">
                                <li class="card background--primary card__hover">
                                    <a href="/studenten" class="card__content">
                                        <img src="afbeeldingen/Studenten-los_06.png"
                                             style="position: absolute; z-index: 1">
                                        <div class="card__icon flex-center color--primary"><i
                                                class="fas fa-laptop-house fa-5x"></i></div>
                                        <div class="card__body flex-center"><span
                                                class="card__title color--primary flex-center">Studenten</span></div>
                                    </a>
                                </li>
                                <li class="card background--primary card__hover">
                                    <a href="/bedrijven" class="card__content">
                                        <img src="afbeeldingen/Studenten-los_06.png"
                                             style="position: absolute; z-index: 1">
                                        <div class="card__icon flex-center color--primary"><i
                                                class="fas fa-building fa-5x"></i></div>
                                        <div class="card__body flex-center"><span
                                                class="card__title color--primary flex-center">Bedrijven</span></div>
                                    </a>
                                </li>
                            </ul>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div>
            </div>
        </div>
    </div>
    {# Klas image #}
    {% set kladimg = commonground_resource(application.defaultConfiguration.configuration.kladimg) %}
    <div class="row background--primary background--image"
         style="padding: 20px; height: 500px; !important; background: url(data:image/file;base64,{{ kladimg['base64'] }})">
    </div>
    {# Wit vlak#}
    <div style="background: white; height: 400px"></div>
{% endblock %}
