{# templates/home/stagairzoeker.html.twig #}

{% extends 'base.html.twig' %}
{% block container %}

    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <h2 style="margin-left: 40px; margin-top: 20px; margin-bottom: 10px; font-family: 'Lobster', cursive">Stagaire zoeker</h2>
    <div style="margin-left: 40px; float: left; background-color: #263846; width: 250px; height: 700px;flex-direction: column;"></div>



    <div style="display: flex; margin-bottom: 100px">
        <div style="background-color: #406377;margin-top: 30px;margin-left: 100px;height: 120px;
width: 60%;text-align: center;border-style: solid;border-color: black;position: relative">
            <h2 style="color: white">    Ik zoek een stageplek in de buurt :</h2>
            <input type="text" id="Input1" onkeyup="stagefilter()" placeholder="Plaats/postcode"></div>


        <img src="afbeeldingen/Studenten-los_06.png" height="190" width="60"
             style="margin-top: -10px;margin-left: 70px;position: absolute"/>
    </div>



    <div style="display: flex; margin-bottom: 100px">
        <div style="background-color: #406377;
margin-top: -50px;margin-left: 100px;height: 120px;width: 60%;text-align: center;border-style: solid;
border-color: black;position: relative">
            <h2 style="color: white">    Ik zoek een stageplek in de buurt :</h2>
            <input type="text" id="Input2" onkeyup="stagefilter()" placeholder="Plaats/postcode"></div>

        <img src="afbeeldingen/Studenten-los_10.png" height="190" width="60"
             style="margin-top: -85px;margin-left: 70px;position: absolute"/>
    </div>



    <div style="display: flex; margin-bottom: 100px">
        <div style="background-color: #406377;margin-top: -50px;margin-left: 100px;height: 120px;width: 60%;
text-align: center;border-style: solid;border-color: black;position: relative">
            <h2 style="color: white">    Ik zoek een stageplek in de buurt :</h2>
            <input type="text" id="Input3" onkeyup="stagefilter()" placeholder="Plaats/postcode"></div>

        <img src="afbeeldingen/Studenten-los_08.png" height="190" width="60"
             style="margin-top: -85px;margin-left: 70px;position: absolute"/>
    </div>


    <div style="display: flex; margin-bottom: 100px">
        <div style="background-color: #406377;
margin-top: -50px;margin-left: 100px;height: 120px;width: 60%;text-align: center;border-style: solid;
border-color: black;position: relative">
            <h2 style="color: white">    Ik zoek een stageplek in de buurt :</h2>
            <input type="text" id="Input4" onkeyup="stagefilter()" placeholder="Plaats/postcode"></div>

        <img src="afbeeldingen/Studenten-los_12.png" height="190" width="60"
             style="margin-top: -85px;margin-left: 70px;position: absolute"/></div>

{% endblock %}
