

{% extends 'base.html.twig' %}
{% block container %}

    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <style>
        main {
            background-color: white;
        }
        .grijzevlakjes{
            background-color: lightgray;
            height: 115px; margin-left:
            10px; position: relative;
            display: flex;
        }
        .blauwebox{
            margin-left: 40px;
            float: left;
            background-color: #263846;
            width: 270px;
            height: 270px;
            flex-direction: column;
        }
        .paginatitle{
            margin-left: 40px;
            margin-top: 20px;
            margin-bottom: 10px;
            font-family: 'Lobster', cursive
        }
        .table{
            margin-left: 25%;
            margin-right: 60px
        }

    </style>
    <h2 class="paginatitle">Stages</h2>


    <div class="blauwebox"></div>
    <ul class="table">
        <li class="grijzevlakjes"></li>
        <br><br>
        <li class="grijzevlakjes"></li>
        <br><br>
        <li class="grijzevlakjes"></li>
    </ul>
{% endblock %}
