{# templates/home/stagairzoeker.html.twig #}

{% extends 'base.html.twig' %}
{% block container %}
    <link href="https://fonts.googleapis.com/css2?family=Lobster&amp;display=swap" rel="stylesheet">
    <style>
        main {
            background-color: white;
        }
        .titlestyle{
            font-family: 'Lobster', cursive
        }
        .textcolor{
            color: white;
        }
        .bluebox{
            background-color: #263846;
            height:300px;
        }
        .greycards {
            background-color: #406377;
            margin-top: -50px;
            margin-left: 100px;
            height: 120px;
            width: 60%;
            text-align: center;
            border-style: solid;
            border-color: black;
            position: relative
        }
        .list--card-small {
            margin-left: 0px;
            margin-top: 0px;
        }


    </style>
    <div class="container">
        <h2 class="titlestyle">Stage filter</h2>
        <div class="row">
            <div class="col-xs-12 col-lg-4">
                <div class="bluebox"></div>
            </div>
            <div class="col-xs-12 col-lg-8">
                <ul class="list list--card list--card-small">
                    <li class="greycards">
                        <div class="card__body flex-center">
                            <h2 class="textcolor"> Ik zoek een stageplek in de buurt :</h2>
                            <input type="text" id="Input2" onkeyup="stagefilter()" placeholder="Plaats/postcode">
                        </div>
                    </li>
                    <br>
                    <li class="greycards">
                        <div class="card__body flex-center">
                            <h2 class="textcolor"> Ik zoek een stageplek in de buurt :</h2>
                            <input type="text" id="Input2" onkeyup="stagefilter()" placeholder="Plaats/postcode">
                        </div>
                    </li>
                    <br>
                    <li class="greycards">
                        <div class="card__body flex-center">
                            <h2 class="textcolor"> Ik zoek een stageplek in de buurt :</h2>
                            <input type="text" id="Input2" onkeyup="stagefilter()" placeholder="Plaats/postcode">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>



















    <div style="display: flex; margin-bottom: 100px">
        <div style="background-color: #406377;
margin-top: -50px;margin-left: 100px;height: 120px;width: 60%;text-align: center;border-style: solid;
border-color: black;position: relative">
            <h2 style="color: white">    Ik zoek een stageplek in de buurt :</h2>
            <input type="text" id="Input2" onkeyup="stagefilter()" placeholder="Plaats/postcode"></div>

        <img src="afbeeldingen/Studenten-los_10.png" height="190" width="60"
             style="margin-top: -85px;margin-left: 70px;position: absolute"/>
    </div>



    <div style="display: flex; margin-bottom: 100px">
        <div style="background-color: #406377;margin-top: -50px;margin-left: 100px;height: 120px;width: 60%;
text-align: center;border-style: solid;border-color: black;position: relative">
            <h2 style="color: white">    Ik zoek een stageplek in de buurt :</h2>
            <input type="text" id="Input3" onkeyup="stagefilter()" placeholder="Plaats/postcode"></div>

        <img src="afbeeldingen/Studenten-los_08.png" height="190" width="60"
             style="margin-top: -85px;margin-left: 70px;position: absolute"/>
    </div>


    <div style="display: flex; margin-bottom: 100px">
        <div style="background-color: #406377;
margin-top: -50px;margin-left: 100px;height: 120px;width: 60%;text-align: center;border-style: solid;
border-color: black;position: relative">
            <h2 style="color: white">    Ik zoek een stageplek in de buurt :</h2>
            <input type="text" id="Input4" onkeyup="stagefilter()" placeholder="Plaats/postcode"></div>

        <img src="afbeeldingen/Studenten-los_12.png" height="190" width="60"
             style="margin-top: -85px;margin-left: 70px;position: absolute"/></div>

{% endblock %}
