{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}
{% block container %}
    {% set headerimg = commonground_resource(application.defaultConfiguration.configuration.headerimg) %}
    <div style="display: flex; justify-content: center; margin-top: 5%">
        <div id="zoekbalk" style="background-color: #01689b; display: inline-block; padding: 20px"><h2
                style="color: white">Vind je ideale stage:</h2><input type="text" id="Input"
                                                                                  onkeyup="stagefilter()"
                                                                                  placeholder="Vul hier je zoekterm in"></div>
    </div>


    <div class="container" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-8" style="float: none;margin: auto">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list list--card">
                            <li class="card background--primary card__hover">
                                <a href="#" class="card__content">
                                    <div class="card__icon flex-center color--primary"><i
                                            class="fas fa-user-check fa-5x"></i></div>
                                    <div class="card__body flex-center"><span
                                            class="card__title color--primary flex-center">Stage vinden</span>
                                    </div>
                                </a>
                            </li>
                            <li class="card background--primary card__hover">
                                <a href="#" class="card__content">
                                    <div class="card__icon flex-center color--primary"><i
                                            class="fas fa-stopwatch fa-5x"></i></div>
                                    <div class="card__body flex-center"><span
                                            class="card__title color--primary flex-center">Profiel aanmaken</span>
                                    </div>
                                </a>
                            </li>
                            <li class="card background--primary card__hover">
                                <a href="#" class="card__content">
                                    <div class="card__icon flex-center color--primary"><i
                                            class="fas fa-chalkboard-teacher fa-5x"></i></div>
                                    <div class="card__body flex-center"><span
                                            class="card__title color--primary flex-center">Tutorials</span>
                                    </div>
                                </a>
                            </li>
                            <li class="card background--primary card__hover">
                                <a href="#" class="card__content">
                                    <div class="card__icon flex-center color--primary"><i
                                            class="fas fa-stopwatch fa-5x"></i></div>
                                    <div class="card__body flex-center"><span
                                            class="card__title color--primary flex-center">Challenges</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div>
        </div>
    </div>
    <ul class="list list--card list--card-small" style="column-count: auto">
        <li class="card card--small">
            <a href="#" class="card__content">
                <div class="card__thumb" style="background-image: url('../../images/img-1.png')"></div>
                <div class="card__body"><span class="card__title">Vooraankondiging nieuwe werkwijze relatief verzuim</span></div>
            </a>
        </li>
        <li class="card card--small">
            <a href="#" class="card__content">
                <div class="card__thumb" style="background-image: url('../../images/img-1.png')"></div>
                <div class="card__body"><span class="card__title">Vooraankondiging nieuwe werkwijze relatief verzuim</span></div>
            </a>
        </li>
    </ul>
{% endblock %}
