{% set invoice = commonground_resource(resource) %} {# bc/invoices #}
{% set customer = commonground_resource(invoice.customer) %} {# cc/people or brp/ingeschrevenpersonen (or even cc/organizations?) #}
{% set organization = commonground_resource(invoice.targetOrganization) %} {# wrc/organizations #}

<p>Organization: {{ organization.name }}</p>
<p>Customer: {{ customer['@type'] }}</p>
<p>Invoice: {{ invoice.name }}</p>
