{% extends 'base.html.twig' %}

{% block content %}
{#  Closing container started in base.html.twig in Proto-application-NL-Design   #}
    </div>

    <div class="content-background">

        {% if application is defined and application.defaultConfiguration.configuration.headerimg is defined and application.defaultConfiguration.configuration.headerimg is not empty  %}
        {% set headerimg = commonground_resource(application.defaultConfiguration.configuration.headerimg) %}
        <div class="row content-background background--hemelblauw headerImage" style="background: url(data:image/file;base64,{{headerimg['base64']}})">
            {% else %}
            <div class="row content-background background--hemelblauw" style="margin-top: -20px; height: 500px; margin-top: 0px; background: url(https://images.unsplash.com/photo-1547499681-28dece7dba00?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80) !important; background-size: cover !important;">
                {% endif %}

        <div class="content container" style="text-align: center">

            <h3>Welkom, op deze website kunt u een uitvaart plannen in de regio West-Friesland.</h3>

        </div>
    </div>

    <div class="container" style="margin-top: 75px;">
        <a class="begraaf-card col-sm-offset-4 col-sm-4" style="background: #233A79"
           href="{{ path('app_process_load',{"id":"a8b8ce49-d5db-4270-9e42-4b47902fc817"}) }}">
            <i style="color: white; font-size: 2em;" class="fas fa-monument processIcon"></i>
            <br>
            <span class="card__title" style="color: white;">Uitvaart plannen</span>
        </a>
    </div>

{% endblock %}
