{% extends 'base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-sm-12">
            <div class="content-background">

                <img src="https://picsum.photos/1180/300">

                <div class="content">

                    <h3>Welkom, op deze website kunt u een uitvaart plannen in de regio West-Friesland.</h3>

                </div>
            </div>

        </div>
    </div>

{% endblock %}
