{% extends 'base.html.twig' %}

{% block content %}

    <div class="content-background">

        <img src="https://picsum.photos/1180/300">

        <div class="content">

            <h3>Welkom, op deze website kunt u een uitvaart plannen in de regio West-Friesland.</h3>

        </div>
    </div>

    <div class="container">
        <a class="begraaf-card col-sm-offset-4 col-sm-4"
           href="{{ path('app_process_load',{"id":"a8b8ce49-d5db-4270-9e42-4b47902fc817"}) }}">
            <i style="color: white; font-size: 2em;" class="fas fa-monument processIcon"></i>
            <br>
            <span class="card__title" style="color: white;">Uitvaart plannen</span>
        </a>
    </div>

{% endblock %}
