{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    <article>
        <div class="row">
            <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                <div class="content-background">
                    <div class="content">
                        <h1>Concept</h1>
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}
