
                        
                        <p>Er is meer mogelijk met open source en specifiek Common Ground, dan de meeste mensen en gemeenten denken. Om dat te illustreren is door <a href="https://www.conduction.nl/">Conduction</a> de fictieve gemeente Zuid-Drecht in het leven geroepen.</p>

                        <p>De visie is om een fictieve gemeente te draaien die 100% volgens Common Ground architectuur is opgebouwd, dat wil zeggen dat we alleen maar gebruik maken van componenten zoals die beschikbaar zijn in de Common Ground app-store, gehost op een Haven-omgeving en ontsloten via NLX en gepubliceerd .</p>

                        <p>Dat betekent dat we (om het even technisch te maken) de volgende design decisions toepassen:</p>

                        <ul>
                            <li>Alle interfaces voor burgers moeten NL-Design zijn.</li>
                            <li>Alle interfaces voor burgers moet WCAG-conform zijn.</li>
                            <li>We draaien alles op een Haven compliant kubernetes omgeving (in dit geval gebruiken we daarvoor de CAAS).</li>
                            <li>We gebruiken alleen componenten (software) die gratis beschikbaar is in de VNG app-store.</li>
                            <li>We gebruiken alleen componenten (software) die open source beschikbaar zijn onder een EUPL-licentie.</li>
                            <li>We gebruiken NLX voor verbindingen naar buiten de omgeving.</li>
                            <li>We gebruiken Haal-Centraal. We werken zaakgericht.</li>
                            <li>We willen zoveel mogelijk componenten en mogelijkheden van Common Ground laten zien.</li>
                            <li>We sluiten zoveel mogelijk bij lopende (VNG)projecten (zoals ZGW, online Huwelijksplanner, online Begrafenisplanner, Digitale geboorteaangifte, Open Webconcept etc)</li>
                        </ul>

                        <p>En hoewel we dit natuurlijk graag allemaal in &eacute;&eacute;n keer zouden doen is Common Ground inmiddels (gelukkig te groot) om in &eacute;&eacute;n keer inzichtelijk te maken. Daarnaast is dit project liefdewerk (we doen dit zonder opdracht of financiering).</p>

                        <p>Ben je ge&iuml;nteresseerd in wat er al beschikbaar is? Kijk dan eens onder functionaliteit. Voor de planning kan je de roadmap raadplegen. Voor meer details over hoe &eacute;&eacute;n en ander technisch in elkaar zit, kijk dan eens onder &lsquo;voor developers&rsquo;.</p>

                        <p>Ben je benieuwd wat Common Ground zou kunnen betekenen voor jouw gemeente, kijk dan eens op <a href="https://commonground.nl/">www.commonground.nl</a> of wordt onderdeel van de <a href="https://join.slack.com/t/samenorganiseren/shared_invite/zt-dex1d7sk-wy11sKYWCF0qQYjJHSMW5Q">slack community</a>.</p>

                        <p>Uiteraard kunnen we je als de bouwer en beheerder van deze voorbeeld omgeving ook helpen en ondersteunen bij het ontwikkelen voor, of implementeren op Common Ground neem daarvoor direct <a href="mailto:info@conduction.nl">contact</a> met ons op.</p>
