{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    <div class="content-background">
        <div class="content">
            <h1>Wat is een cookie?</h1>
            <p>De website van de gemeente zuid drecht maakt gebruik van cookies.</p>

            <h3>Wat is een cookie?</h3>
            <p>
                Een cookie is een klein tekstbestand dat deze website automatisch aanmaakt.
                Die informatie bewaart uw browser.
                Andere pagina's op deze website kunnen die informatie dan weer opvragen zodat het websitesysteem weet of u bijvoorbeeld bent ingelogd of niet.
            </p>

            <h3>Nut en noodzaak</h3>
            <p>
                De cookies die deze website gebruikt zijn noodzakelijk voor het goed en veilig functioneren van de dienstverlening van de gemeente Zuid drecht.
                Deze website gebruikt geen tracking cookies om uw gebruik van de website te volgen.
            </p>

            <h3>Gebruikersgegevens</h3>
            <p>
                De gemeente Zuid drecht verzamelt gebruikersgegevens van de website.
                De gemeente deelt deze gegevens niet met derden en legt geen persoonlijke gegevens vast.
                Ze maakt hiervoor dus géén gebruik van commerciële partijen en plaatst ook geen tracking cookies van derde partijen.
                IP-adressen zijn automatisch anoniem en pagina's die u heeft bekeken, zijn achteraf niet te koppelen aan bepaalde IP-adressen.
            </p>

            <h3>Do not track</h3>
            <p>
                De gemeente Zuid drecht respecteert de Do Not Track (DNT) functie van uw browser.
                Als u de DNT-functionaliteit via de instellingen van uw browser inschakelt,
                dan slaat de website geen gebruiksgegevens op van uw bezoek aan de website van de gemeente Zuid drecht.
            </p>
        </div>
    </div>
{% endblock %}
