{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
<div class="content-background">
    <div class="content">
    <h1>Coronavirus in de gemeente zuid-drecht</h1>
    <span class="meta">22 juni 2020</span>
    <div class="row">
        <div class="col-sm-6">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusantium ad, architecto assumenda atque, autem corporis dolores eius fuga fugit inventore libero,
                magnam minima mollitia quae quibusdam ratione rem rerum sed. Alias aperiam aspernatur consequuntur cum ducimus ex in,
                ipsam nemo quas quasi repellendus reprehenderit, sit voluptatibus? Illo optio repudiandae vitae.
                <br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, exercitationem libero perspiciatis tempore veritatis voluptate?
                <br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus at cumque,
                earum eos error exercitationem illum maiores, nisi odit, optio perferendis quibusdam quod sed!
                Dignissimos dolore eveniet ipsam quas repellat.
            </p>
        </div>
        <div class="col-sm-6" style="display: flex; justify-content: center">
            <img style="height: 150px; width: 250px;" src="https://images.unsplash.com/photo-1590998038961-a496353e8578?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80" alt="">
        </div>
    </div>

    <h2>Houd afstand, vermijd drukte</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Beatae eligendi molestiae non porro vitae. Asperiores assumenda atque est exercitationem id in iste iure,
        nihil officiis quisquam rerum sequi suscipit tempora. Commodi quo repellendus similique voluptate!
    </p>

    <h2>Monitoren drukke plekken</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Beatae eligendi molestiae non porro vitae. Asperiores assumenda atque est exercitationem id in iste iure,
        nihil officiis quisquam rerum sequi suscipit tempora. Commodi quo repellendus similique voluptate!
        <br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Aliquid at blanditiis consequuntur doloribus incidunt labore modi optio quae,
        quasi voluptates! Enim odio pariatur ratione saepe! Alias, architecto, blanditiis doloribus,
        expedita inventore libero nihil omnis quaerat quam quas quo rem tenetur.
        A adipisci consectetur dicta ducimus esse excepturi fuga illum incidunt nostrum odit perspiciatis possimus quaerat quasi qui,
        quidem repellat sequi suscipit velit vero voluptas? Dolore ducimus eius in quisquam velit.
    </p>
    </div>
</div>
{% endblock %}
