<span class="footer__header">Voor ondernemers</span>
<ul class="list list--links list--chevrons footer__nav" >
    <li><a style="color: white" href="{{ path('app_tender_challenges') }}">Aanbestedingen</a></li>
    <li><a style="color: white" href="https://www.rijksoverheid.nl/onderwerpen/coronavirus-covid-19/ondernemers-en-bedrijven/anderhalvemetersamenleving">Protocollen</a></li>
    <li><a style="color: white" href="https://www.rijksoverheid.nl/onderwerpen/coronavirus-covid-19/ondernemers-en-bedrijven/financiele-regelingen">Financiele regelingen</a></li>
    <li><a style="color: white" href="https://www.rijksoverheid.nl/onderwerpen/coronavirus-covid-19/ondernemers-en-bedrijven/werkgevers-en-ondernemers">Algemene informatie voor werkgevers</a></li>
    <li><a style="color: white" href="https://www.rijksoverheid.nl/onderwerpen/coronavirus-covid-19/ondernemers-en-bedrijven/sluiting-en-opening-van-bedrijven">Sluiting en opening van bedrijven</a></li>
    <li><a style="color: white" href="https://www.rijksoverheid.nl/onderwerpen/coronavirus-covid-19/ondernemers-en-bedrijven/winkeliers">winkeliers</a></li>
    <li><a style="color: white" href="https://www.rijksoverheid.nl/onderwerpen/coronavirus-covid-19/ondernemers-en-bedrijven/bouw-en-techniek">Bouw en techniek</a></li>
    <li><a style="color: white" href="https://www.rijksoverheid.nl/onderwerpen/coronavirus-covid-19/ondernemers-en-bedrijven/horeca">Horeca</a></li>
</ul>

