<span class="footer__header">Voor inwoners</span>
<ul class="list list--links footer__nav" >
    <li><a href="#">Mijn zuiddrecht</a></li>
    <li><a href="#">Verhuizen</a></li>
    <li><a href="#">Trouwen</a></li>
    <li><a href="#">Begraven</a></li>
    <li><a href="#">Geboorte aangifte</a></li>
    <li><a href="#">Melding openbare ruimte</a></li>
    <li><a href="#">aanvraag parkeer vergunning</a></li>
</ul>

