<span class="footer__header">Contact gegevens</span>
<ul class="list list--links footer__nav" >
    <li>Adres: fictiefadres 123</li>
    <li>Postcode: 1234 AB</li>
    <li>Telefoon: 145002</li>
    <li><a href="#"><button class="btn-primary" style=" color: black;">Contact</button></a></li>
</ul>
<br>
    <div class="row">
        <div class="col-sm-6">
            <span>Maandag:</span>
        </div>
        <div class="col-sm-6">
            <span>09:00 - 17:00</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <span>Dinsdag:</span>
        </div>
        <div class="col-sm-6">
            <span>09:00 - 17:00</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <span>Woensdag:</span>
        </div>
        <div class="col-sm-6">
            <span>09:00 - 17:00</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <span>Donderdag:</span>
        </div>
        <div class="col-sm-6">
            <span>09:00 - 21:00</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <span>Vrijdag:</span>
        </div>
        <div class="col-sm-6">
            <span>09:00 - 17:00</span>
        </div>
    </div>



