<span class="footer__header">Voor inwoners</span>
<ul class="list list--links footer__nav" >
    <li><a style="color: white" href="#">Mijn zuiddrecht</a></li>
    <li><a style="color: white" href="#">Verhuizen</a></li>
    <li><a style="color: white" href="#">Trouwen</a></li>
    <li><a style="color: white" href="#">Begraven</a></li>
    <li><a style="color: white" href="#">Geboorte aangifte</a></li>
    <li><a style="color: white" href="#">Melding openbare ruimte</a></li>
    <li><a style="color: white" href="#">aanvraag parkeer vergunning</a></li>
</ul>

