<span class="footer__header">Voor inwoners</span>
<ul class="list list--links footer__nav" >
    <li><a style="color: white" href="#">Mijn zuiddrecht</a></li>
    <li><a style="color: white" href="/process/c8de2851-332d-4284-b86e-ba0615694427">Verhuizen</a></li>
    <li><a style="color: white" href="/process/b8955949-2d8d-4bfb-9c73-e5275bffa427">Trouwen</a></li>
    <li><a style="color: white" href="/process/a8b8ce49-d5db-4270-9e42-4b47902fc817">Begraven</a></li>
    <li><a style="color: white" href="#">Geboorte aangifte</a></li>
    <li><a style="color: white" href="#">Melding openbare ruimte</a></li>
    <li><a style="color: white" href="#">aanvraag parkeer vergunning</a></li>
</ul>

