<span class="footer__header">Voor gemeenten</span>
<ul class="list list--links list--chevrons footer__nav" style="color: white;" >
    <li><a style="color: white" href="#">Concept</a></li>
    <li><a style="color: white" href="#">Contact</a></li>
</ul>

<span class="footer__header">Voor developers</span>
<ul class="list list--links list--chevrons footer__nav" style="color: white;" >
    <li><a style="color: white" href="#">Uitleg</a></li>
    <li><a style="color: white" href="#">API's</a></li>
    <li><a style="color: white" href="#">Repositories</a></li>
</ul>

<span class="footer__header">Over de website</span>
<ul class="list list--links list--chevrons footer__nav" style="color: white;" >
    <li><a style="color: white" href="/privacy">Privacy</a></li>
    <li><a style="color: white" href="/proclaimer">Proclaimer</a></li>
    <li><a style="color: white" href="/cookies">Cookies</a></li>
</ul>

