<span class="footer__header">Contact gegevens</span>
<ul class="list list--links footer__nav" >
    <li>Adres: Zuiderdreef 16</li>
    <li>Postcode: 1085VR Zuid-Drecht</li>
    <li>Telefoon: 14 020</li>
    <li><a style="text-decoration: none;" href="{{ path('app_process_load',{"id":"32293766-8b3a-43ee-9f16-ed67234ac309"}) }}"><button class="btn btn--primary" style=" color: black;">Contact</button></a></li>
</ul>
<br>
    <div class="row">
        <div class="col-sm-6">
            <span>Maandag:</span>
        </div>
        <div class="col-sm-6">
            <span>09:00 - 17:00</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <span>Dinsdag:</span>
        </div>
        <div class="col-sm-6">
            <span>09:00 - 17:00</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <span>Woensdag:</span>
        </div>
        <div class="col-sm-6">
            <span>09:00 - 17:00</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <span>Donderdag:</span>
        </div>
        <div class="col-sm-6">
            <span>09:00 - 21:00</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <span>Vrijdag:</span>
        </div>
        <div class="col-sm-6">
            <span>09:00 - 17:00</span>
        </div>
    </div>



