<span class="footer__header">Over Zuid Drecht</span>
<ul class="list list--links list--chevrons footer__nav" style="color: white;" >
    <li><a href="/article?id=b4d411c7-17b3-469b-8a4a-2f334dbaeb4c">Concept</a></li>
    <li><a href="/article?id=22689f6d-9f62-4025-b880-18d8ba63818f">Functionaliteit</a></li>
    <li><a href="/article?id=5bf63407-73dc-4c9b-a458-3350e9325457">Roadmap</a></li>
    <li><a href="/article?id=55a98b6b-8ca7-4c2f-a0a0-2c559efeb189">Voor developers</a></li>
    <li><a href="/newsletter">Nieuwsbrief</a></li>
    <li><a href="/contact">Contact</a></li>
</ul>

<span class="footer__header">Over de website</span>
<ul class="list list--links list--chevrons footer__nav" style="color: white;" >
    <li><a href="/privacy">Privacy</a></li>
    <li><a href="/proclaimer">Proclaimer</a></li>
    <li><a href="/cookies">Cookies</a></li>
</ul>

