<span class="footer__header">Over Zuid Drecht</span>
<ul class="list list--links list--chevrons footer__nav" style="color: white;" >
    <li><a style="color: white" href="/concept">Concept</a></li>
    <li><a style="color: white" href="/functionaliteit">Functionaliteit</a></li>
    <li><a style="color: white" href="/roadmap">Roadmap</a></li>
    <li><a style="color: white" href="/voor-developers">Voor developers</a></li>
    <li><a style="color: white" href="/contact">Contact</a></li>
</ul>



<span class="footer__header">Over de website</span>
<ul class="list list--links list--chevrons footer__nav" style="color: white;" >
    <li><a style="color: white" href="/privacy">Privacy</a></li>
    <li><a style="color: white" href="/proclaimer">Proclaimer</a></li>
    <li><a style="color: white" href="/cookies">Cookies</a></li>
</ul>

