<span class="footer__header">Over de website</span>
<ul class="list list--links footer__nav" >
    <li><a href="#">Cookies & Privacy</a></li>
    <li><a href="#">Disclaimer</a></li>
    <li><a href="#">Copyright</a></li>

</ul>

