<span class="footer__header">Contact gegevens</span>
<ul class="list list--links footer__nav" >
    <li>Adres: Zuiderdreef 16</li>
    <li>Postcode: 1085VR Zuid-Drecht</li>
    <li>Telefoon: 14 020</li>
    <li><a href="{{ path('app_ptc_load',{"id":"d1118a40-cede-42e0-b5dd-ff38e837ab0b"}) }}"><button class="btn btn--primary">Contact</button></a></li>
</ul>
<br>
    <div class="row">
        <div class="col-sm-6">
            <span>Maandag:</span>
        </div>
        <div class="col-sm-6">
            <span>09:00 - 17:00</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <span>Dinsdag:</span>
        </div>
        <div class="col-sm-6">
            <span>09:00 - 17:00</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <span>Woensdag:</span>
        </div>
        <div class="col-sm-6">
            <span>09:00 - 17:00</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <span>Donderdag:</span>
        </div>
        <div class="col-sm-6">
            <span>09:00 - 21:00</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <span>Vrijdag:</span>
        </div>
        <div class="col-sm-6">
            <span>09:00 - 17:00</span>
        </div>
    </div>



