<span class="footer__header">Over de website</span>
<ul class="list list--links footer__nav" >
    <li><a href="/privacy">Cookies & Privacy</a></li>
    <li><a href="/disclaimer">Disclaimer</a></li>
    <li><a href="/copyright">Copyright</a></li>

</ul>

