{
                        <p>De gemeente Zuid-Drecht stapt via een inktvlek model over op Common Ground, daarmee bedoelen dat we &eacute;&eacute;n voor &eacute;&eacute;n functionaliteiten zullen toevoegen aan deze omgeving. Voor een lijst met functionaliteiten die we willen toevoegen kan je kijken op de roadmap.</p>

                        <p>Op dit moment ondersteunen we de volgende functionaliteiten User Interface en NL-Design Voor de grafische interface van Zuid Drecht wordt gebruik gemaakt  <lees meer> Headless CMS ad <lees meer></p>

                        <p>Klantreizen adasad <lees meer></p>

                        <p>Digispoof en e-Herkenning asdad <lees meer></p>
