{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
</div>
    {% set headerImage = commonground_resource_list({'component':'wrc', 'type':'images'}, {'limit':1})['hydra:member'] %}
    {% if headerImage is not empty %}
    <div class="row content-background background--hemelblauw" style="height: 400px; margin-top: 0px; background: url() !important; background-size: cover !important;">

{% else %}
    <div class="row content-background background--hemelblauw" style="height: 400px; margin-top: 0px; background: url(https://images.unsplash.com/photo-1547499681-28dece7dba00?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80) !important; background-size: cover !important;">
        {% endif %}
        <div class="container" style="height: 400px; position: relative;">
            <div  style=" position: absolute; bottom: 15px; right: 15px; padding: 15px; margin: 0; background-color: #3669A5">
                <h1>Nieuws</h1>
                {% if application.defaultconfiguration.configuration.nieuws is defined %}
                    {% set nieuws = commonground_resource(application.defaultconfiguration.configration.nieuws) %}
                    {% set templates = commonground_resource_list({'component':'wrc', 'type':'templates'})['hydra:member'] %}
                    {{ dump(templates) }}
                    {% for template in templates %}
                        {% set slug = commonground_resource({'component':'wrc', 'type':'slugs'},{'template.id' : template.id})['hydra:member']%}
                        <li><a href="{{ slug.slug }}" style="text-decoration: none;">{{ template.description }}</a></li>
                    {% endfor %}
                    {% else %}
                    <div>ging iets mis</div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="margin-top: 50px;">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-4" style="">
                        <div class="card" style="height: 166px; width: 236px; background-color: #CC0000;">
                            <a href="/process/c8de2851-332d-4284-b86e-ba0615694427" class="card__content">
                                <div class="card__body">
                                    <i style="color: white;" class="fas fa-people-carry"></i>
                                    <span class="card__title" style="color: white;">Verhuizen</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4" style="">
                        <div class="card" style="height: 166px; width: 236px; background-color: #CC0000;">
                            <a href="/subpage" class="card__content">
                                <div class="card__body">
                                    <i style="color: white;" class="fas fa-ring"></i>
                                    <span class="card__title" style="color: white;">Trouwen</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4" style="">
                        <div class="card" style="height: 166px; width: 236px; background-color: #CC0000;">
                            <a href="/subpage" class="card__content">
                                <div class="card__body">
                                    <i style="color: white;" class="fas fa-monument"></i>
                                    <span class="card__title" style="color: white;">Begraven</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4" style="">
                        <div class="card" style="height: 166px; width: 236px; background-color: #CC0000;">
                            <a href="/subpage" class="card__content">
                                <div class="card__body">
                                    <i style="color: white" class="fas fa-baby"></i>
                                    <span class="card__title" style="color: white;">Geboorte aangifte</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4" style="">
                        <div class="card" style="height: 166px; width: 236px; background-color: #CC0000;">
                            <a href="/subpage" class="card__content">
                                <div class="card__body">
                                    <i style="color: white;" class="fas fa-exclamation"></i>
                                    <span class="card__title" style="color: white;">Melding openbare ruimte</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4" style="">
                        <div class="card" style="height: 166px; width: 236px; background-color: #CC0000;">
                            <a href="/subpage" class="card__content">
                                <div class="card__body">
                                    <i style="color: white;" class="fas fa-parking"></i>
                                    <span class="card__title" style="color: white;">Aanvraag parkeer vergunning</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="height: 343px;">
                <section style="background-color: #3669A5; height: inherit;  padding: 10px; color: white">
                    <h1 style="margin-bottom: 1px; ">Contact</h1>
                    <h4 style="margin-top: 0;">Openingstijden</h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <span>Maandag:</span>
                        </div>
                        <div class="col-sm-6">
                            <span>09:00 - 17:00</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <span>Dinsdag:</span>
                        </div>
                        <div class="col-sm-6">
                            <span>09:00 - 17:00</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <span>Woensdag:</span>
                        </div>
                        <div class="col-sm-6">
                            <span>09:00 - 17:00</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <span>Donderdag:</span>
                        </div>
                        <div class="col-sm-6">
                            <span>09:00 - 21:00</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <span>Vrijdag:</span>
                        </div>
                        <div class="col-sm-6">
                            <span>09:00 - 17:00</span>
                        </div>
                    </div>
                    </p>
                    <p>
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Telefoon</h4>
                            <span>145002</span>
                        </div>
                    </div>
                    <a style="text-decoration: none;" href="#"><button class="btn btn--primary" style="width: 100%;">Maak een afspraak</button></a>
                    </p>


                </section>
            </div>
        </div>
    </div>
        <div  style=" margin-top: 50px; padding: 25px; background: url(https://images.unsplash.com/photo-1563122089-71f56e4e8d06?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) !important; background-size: cover !important;">
            <div class="container" style="display: flex; justify-content: space-between; padding-top: 5px; padding-bottom: 5px;">
                <div style="margin: 10px auto; width: 240px; background-color: white; padding: 15px; margin-left: 0px;">
                    <h2>Lorem ipsum dolor sit amet.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Aspernatur dicta et in ipsum iusto laboriosam laborum, nesciunt, non odit possimus quia quibusdam,
                        sapiente veritatis voluptatibus.
                    </p>
                </div>
                <div style="margin: 10px auto; width: 240px; background-color: white; padding: 15px">
                    <h2>Lorem ipsum dolor.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Aut autem culpa natus necessitatibus quisquam temporibus.
                    </p>
                </div>
                <div style="margin: 10px auto; width: 240px; background-color: white; padding: 15px">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Alias architecto culpa, debitis deleniti dolor eos illum libero neque! Blanditiis,
                        cupiditate doloremque fuga fugiat iste laborum magnam nobis porro soluta vitae.
                    </p>
                </div>
                <div style="margin: 10px auto; width: 240px; background-color: white; padding: 15px; margin-right: 0px">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Alias architecto culpa, debitis deleniti dolor eos illum libero neque! Blanditiis,
                        cupiditate doloremque fuga fugiat iste laborum magnam nobis porro soluta vitae.
                    </p>
                </div>
            </div>

        </div>



{% endblock %}
