{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    <article>
        <div class="row">
            <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                <div class="content-background">
                    <div class="content">
                        <h1>Proclaimer</h1>
                        <p>
                            zuid-drecht.nl is de officiële website van de gemeente Zuid Drecht.
                            De pagina's verschijnen onder verantwoordelijkheid van het Zuid drechtse gemeentebestuur.
                        </p>
                        <p>
                            De gemeente is verantwoordelijk voor de inhoud van deze website en doet er alles aan die
                            actueel en juist te houden en ervoor te zorgen dat de informatie gebruiksvriendelijk en toegankelijk is.
                            Komt u toch iets tegen dat niet correct of verouderd is of heeft u voorstellen voor verbetering,
                            stuur dan een reactie naar info@zuid-drecht.nl. Binnen 3 werkdagen krijgt u een reactie.
                        </p>
                        <p>
                            Gemeente Zuid drecht wil volledig voldoen aan de
                            Voldoen aan deze standaard maakt onze website onder andere gebruiksvriendelijker en beter toegankelijk voor verschillende doelgroepen.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </article>

{% endblock %}
