

                        <p>Dit is nog maar het begin van Zuid-Drecht, de volgende dingen staan op onze wishlist om zo snel mogelijk aan Zuid-Drecht toe te voegen: Wishlist</p>

                        <ul>
                            <li>Componenten ontsluiten op NLX</li>
                            <li>Betalingen bij bestellingen</li>
                            <li>Automatische Afhandeling van zaken</li>
                            <li>Medewerkers Dashboard</li>
                            <li>Inloggen met Irma</li>
                            <li>Processen via Cammunda</li>
                        </ul>

                        <p>Vind je dat er iets mist op deze lijst? Omdat jouw fantastische project er niet tussen staat bijvoorbeeld? Of omdat er wellicht nog helemaal geen Common Ground project is voor functionaliteiten die voor jouw gemeente echt cruciaal zijn? Neem dan gerust even contact op, we helpen je graag verder of wijzen je, indien nodig, even de goede kant op.</p>
