{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    <article>
        <div class="row">
            <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                <div class="content-background">
                    <div class="content">
                        <h1>Voor Developers</h1>
                        <p>De gemeente Zuid-Drecht is niet alleen bedoeld voor beslissers in gemeenten die zicht proberen te krijgen op de mogelijkheden rondom Common Ground, maar is tevens ook een voorbeeld Common Ground-ecosysteem. Daarmee is het automatisch een interessante omgeving om je eigen applicaties tegenaan te testen. dev.zuid-drecht.nl Op dev.zuid-drecht.nl is een speciale ontwikkelomgeving ingericht voor Common Ground developers, deze beschikt over dezelfde inrichting en componenten als de demo omgeving zuid-drecht.nl. Deze omgeving staat ook gratis ter beschikking van eenieder die aan de slag wil met Common Ground API&rsquo;s. Uiteraard staat hier wel een fair use policy en geen enkele garantie tegenover. Hou er ook rekening mee dat deze omgeving iedere nacht wordt gereset. Het is dus geen goede plek om gegevens op te slaan die je bijvoorbeeld de volgende dag bij een demo nodig hebt. Daarvoor kun je betere een tijdelijke gratis CAAS-omgeving aanmaken via commonground.nu Haven en Kubernetes We verlenen om overduidelijke reden geen toegang tot de onderliggende kubernetes klusters voor de omgeving. Het is dus niet mogelijk om hier te spelen met installeren en Haven. Maar daar zijn uiteraard wel andere opties voor, zo kun je zelf via commonground.nu een CAAS-omgeving starten en die van alle componenten voorzien waar je mee wilt developen.</p>

                        <p>Componentenlijst</p>

                        <p>Op Zuid-Drecht worden op dit moment de volgende componenten gedraaid:</p>

                        <p>{{ copy paste van de github.io readme }}</p>
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}
