{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    <article>
        <div class="row">
            <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                <div class="content-background">
                    <div class="content">
                        <h1>Voor Developers</h1>
                        <p>De gemeente Zuid-Drecht is niet alleen bedoeld voor beslissers in gemeenten die zicht proberen te krijgen op de mogelijkheden rondom Common Ground, maar is tevens ook een voorbeeld Common Ground-ecosysteem. Daarmee is het automatisch een interessante omgeving om je eigen applicaties tegenaan te testen.</p>

                        <h2>dev.zuid-drecht.nl</h2>

                        <p>Op dev.zuid-drecht.nl is een speciale ontwikkelomgeving ingericht voor Common Ground developers, deze beschikt over dezelfde inrichting en componenten als de demo omgeving zuid-drecht.nl. Deze omgeving staat ook gratis ter beschikking van eenieder die aan de slag wil met Common Ground API&rsquo;s. Uiteraard staat hier wel een fair use policy en geen enkele garantie tegenover. Hou er ook rekening mee dat deze omgeving iedere nacht wordt gereset. Het is dus geen goede plek om gegevens op te slaan die je bijvoorbeeld de volgende dag bij een demo nodig hebt. Daarvoor kun je betere een tijdelijke gratis CAAS-omgeving aanmaken via <a href="https://commonground.nu/" target="_blank">commonground.nu</p>

                        <h2>Haven en Kubernetes</h2>

                        <p>We verlenen om overduidelijke reden geen toegang tot de onderliggende kubernetes klusters voor de omgeving. Het is dus niet mogelijk om hier te spelen met installeren en Haven. Maar daar zijn uiteraard wel andere opties voor, zo kun je zelf via <a href="https://commonground.nu/" target="_blank">commonground.nu</a>s een CAAS-omgeving starten en die van alle componenten voorzien waar je mee wilt developen.</p>

                        <h2>Componentenlijst</h2>

                        <p>Op Zuid-Drecht worden op dit moment de volgende componenten gedraaid:</p>

                        <table>
                            <thead>
                            <tr>
                                <th style="text-align: center">Component</th>
                                <th style="text-align: center">Meer Informatie</th>
                                <th style="text-align: center">StyleCI: Dev</th>
                                <th style="text-align: center">Github: Dev</th>
                                <th style="text-align: center">API-Test: Dev</th>
                                <th style="text-align: center">Demo</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/adresservice" target="_blank">Adres Service</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/adres-service" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/198549517?branch=development" target="_blank"><img src="https://github.styleci.io/repos/198549517/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/adresservice/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/adresservice/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center"><a href="https://api-test.nl/server/4/e38e132a-ce39-4707-8fb8-8ab99f21cb62/e01ac8b2-7a08-417d-9be7-8a0bfa651390/latest/"><img src="https://shields.api-test.nl/endpoint.svg?style=for-the-badge&amp;url=https%3A//api-test.nl/api/v1/provider-latest-badge/e01ac8b2-7a08-417d-9be7-8a0bfa651390/" alt="Status badge"></a></td>
                                <td style="text-align: center"><a href="https://as.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/agendaservice" target="_blank">Agenda Service</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/agenda-service" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/206144508?branch=development" target="_blank"><img src="https://github.styleci.io/repos/206144508/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/agendaservice/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/agendaservice/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center"><a href="https://api-test.nl/server/4/3c8b48ab-4295-41df-a58e-735c79cf510e/ff0ccbd0-4e84-4e48-8458-6f31c603dc5c/latest/"><img src="https://shields.api-test.nl/endpoint.svg?style=for-the-badge&amp;url=https%3A//api-test.nl/api/v1/provider-latest-badge/ff0ccbd0-4e84-4e48-8458-6f31c603dc5c/" alt="Status badge"></a></td>
                                <td style="text-align: center"><a href="https://arc.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/berichtservice" target="_blank">Bericht Service</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/bericht-service" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/206144502?branch=development" target="_blank"><img src="https://github.styleci.io/repos/206144502/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/berichtservice/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/berichtservice/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center"><a href="https://api-test.nl/server/4/1222a5b4-7faa-433b-8bdd-d0bc0fd9f829/0d7ac3f7-52e1-477b-9aee-d871a4b793f6/latest/"><img src="https://shields.api-test.nl/endpoint.svg?style=for-the-badge&amp;url=https%3A//api-test.nl/api/v1/provider-latest-badge/0d7ac3f7-52e1-477b-9aee-d871a4b793f6/" alt="Status badge"></a></td>
                                <td style="text-align: center"><a href="https://bs.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/betaalservice" target="_blank">Betaal Service</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/betaal-service" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/206145303?branch=development" target="_blank"><img src="https://github.styleci.io/repos/206145303/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/betaalservice/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/betaalservice/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center"><a href="https://api-test.nl/server/4/99c117bb-6732-459a-86cb-f9c1ca313913/062a1a37-3fb2-49ca-a0d8-8c80b5ba891d/latest/"><img src="https://shields.api-test.nl/endpoint.svg?style=for-the-badge&amp;url=https%3A//api-test.nl/api/v1/provider-latest-badge/062a1a37-3fb2-49ca-a0d8-8c80b5ba891d/" alt="Status badge"></a></td>
                                <td style="text-align: center"><a href="https://bc.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/brpservice" target="_blank">BRP Service</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/brp-service" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/204954539?branch=development" target="_blank"><img src="https://github.styleci.io/repos/204954539/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/brpservice/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/brpservice/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center">Nvt</td>
                                <td style="text-align: center"><a href="https://brp.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/Challenge-component" target="_blank">Challenge Component</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/challenge-component" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/255577421?branch=development" target="_blank"><img src="https://github.styleci.io/repos/255577421/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/Challenge-component/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/Challenge-component/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center"><a href="https://api-test.nl/server/4/b6964f8d-2a7c-42cb-8e96-bea63c6aab57/88fdb98e-44c0-4e5b-a108-995148a42b9a/latest/"><img src="https://shields.api-test.nl/endpoint.svg?style=for-the-badge&amp;url=https%3A//api-test.nl/api/v1/provider-latest-badge/88fdb98e-44c0-4e5b-a108-995148a42b9a/" alt="Status badge"></a></td>
                                <td style="text-align: center"><a href="https://chrc.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/contactcatalogus" target="_blank">Contact Catalogus</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/contact-catalogus" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/206145398?branch=development" target="_blank"><img src="https://github.styleci.io/repos/206145398/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/contactcatalogus/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/contactcatalogus/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center"><a href="https://api-test.nl/server/4/f76cdd7a-b147-47c4-829b-f85132182b25/e447f8d0-b4f2-4911-a22b-e770f5a288b4/latest/"><img src="https://shields.api-test.nl/endpoint.svg?style=for-the-badge&amp;url=https%3A//api-test.nl/api/v1/provider-latest-badge/e447f8d0-b4f2-4911-a22b-e770f5a288b4/" alt="Status badge"></a></td>
                                <td style="text-align: center"><a href="https://cc.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/ContactMoment-Component" target="_blank">Contact Moment Component</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/contact-moment-component" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/262270870?branch=development" target="_blank"><img src="https://github.styleci.io/repos/262270870/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/ContactMoment-Component/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/ContactMoment-Component/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center"><a href="https://api-test.nl/server/4/bf2bc958-4c2b-4651-ad6b-966fbf29d9ec/7b345507-45eb-4587-a2b1-f5308e6bc468/latest/"><img src="https://shields.api-test.nl/endpoint.svg?style=for-the-badge&amp;url=https%3A//api-test.nl/api/v1/provider-latest-badge/7b345507-45eb-4587-a2b1-f5308e6bc468/" alt="Status badge"></a></td>
                                <td style="text-align: center"><a href="https://cmc.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/commonground-dashboard" target="_blank">Commonground Dashboard</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/commonground-dashboard" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/231819815?branch=development" target="_blank"><img src="https://github.styleci.io/repos/231819815/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/commonground-dashboard/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/commonground-dashboard/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center"><a href="https://api-test.nl/server/4/031c29a2-3cbd-4e4b-b0f2-b8caecc8a19c/1fd1f192-9bf4-4bb8-b164-8e476b7b0ddd/latest/"><img src="https://shields.api-test.nl/endpoint.svg?style=for-the-badge&amp;url=https%3A//api-test.nl/api/v1/provider-latest-badge/1fd1f192-9bf4-4bb8-b164-8e476b7b0ddd/" alt="Status badge"></a></td>
                                <td style="text-align: center"><a href="https://db.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/digispoof-interface" target="_blank">Digispoof</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/digispoof" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/244861540?branch=development" target="_blank"><img src="https://github.styleci.io/repos/244861540/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/digispoof/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/digispoof/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center">Nvt</td>
                                <td style="text-align: center"><a href="https://ds.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/docparser" target="_blank">Doc parser</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/doc-parser" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/235730570?branch=development" target="_blank"><img src="https://github.styleci.io/repos/235730570/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/docparser/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/docparser/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center"><a href="https://api-test.nl/server/4/37527612-98ab-4eb1-856d-d77e076e268a/4bbf1079-b368-41ec-ab3c-a8d712090514/latest/"><img src="https://shields.api-test.nl/endpoint.svg?style=for-the-badge&amp;url=https%3A//api-test.nl/api/v1/provider-latest-badge/4bbf1079-b368-41ec-ab3c-a8d712090514/" alt="Status badge"></a></td>
                                <td style="text-align: center"><a href="https://dps.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/education-component" target="_blank">Education Component</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/education-component" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/279244427?branch=development" target="_blank"><img src="https://github.styleci.io/repos/279244427/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/education-component/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/education-component/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center"><a href="https://api-test.nl/server/4/e8f923b7-9f5a-4ecf-8ef0-48d610d02173/1582a6ef-b66e-4d2d-9d07-6cb1fb0df0a9/latest/"><img src="https://shields.api-test.nl/endpoint.svg?style=for-the-badge&amp;url=https%3A//api-test.nl/api/v1/provider-latest-badge/1582a6ef-b66e-4d2d-9d07-6cb1fb0df0a9/" alt="Status badge"></a></td>
                                <td style="text-align: center"><a href="https://edu.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/environment-component" target="_blank">Environment Component</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/environment-component" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/252478109?branch=development" target="_blank"><img src="https://github.styleci.io/repos/252478109/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/environment-component/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/environment-component/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center">Nvt</td>
                                <td style="text-align: center"><a href="https://evc.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/export-component" target="_blank">Export Component</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/export-component" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/271184774?branch=development" target="_blank"><img src="https://github.styleci.io/repos/271184774/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/export-component/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/export-component/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center"><a href="https://api-test.nl/server/4/3b1acfbd-412d-4c2c-aaaa-895448c26e84/cd94cc92-442d-4cde-827a-678ac75a745e/latest/"><img src="https://shields.api-test.nl/endpoint.svg?style=for-the-badge&amp;url=https%3A//api-test.nl/api/v1/provider-latest-badge/cd94cc92-442d-4cde-827a-678ac75a745e/" alt="Status badge"></a></td>
                                <td style="text-align: center"><a href="https://ec.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/instemmingservice" target="_blank">Instemming Service</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/instemming-service" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/210753780?branch=development" target="_blank"><img src="https://github.styleci.io/repos/210753780/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/instemmingservice/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/instemmingservice/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center"><a href="https://api-test.nl/server/4/e91ee073-8277-4578-bbcc-6dc9f409a904/5e111d60-c72b-4c0d-ae58-1307dad945ca/latest/"><img src="https://shields.api-test.nl/endpoint.svg?style=for-the-badge&amp;url=https%3A//api-test.nl/api/v1/provider-latest-badge/5e111d60-c72b-4c0d-ae58-1307dad945ca/" alt="Status badge"></a></td>
                                <td style="text-align: center"><a href="https://irc.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/issue-component" target="_blank">Issue Component</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/issue-component" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/272452172?branch=development" target="_blank"><img src="https://github.styleci.io/repos/272452172/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/issue-component/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/issue-component/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center"><a href="https://api-test.nl/server/4/3e4151aa-5866-4737-a8b7-2511aec96115/38f1d168-cf31-4015-b9ba-a0a76df6837c/latest/"><img src="https://shields.api-test.nl/endpoint.svg?style=for-the-badge&amp;url=https%3A//api-test.nl/api/v1/provider-latest-badge/38f1d168-cf31-4015-b9ba-a0a76df6837c/" alt="Status badge"></a></td>
                                <td style="text-align: center"><a href="https://ic.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/landelijketabellencatalogus" target="_blank">Landelijke Tabellen Catalogus</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/landelijke-tabellen-catalogus" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/206147743?branch=development" target="_blank"><img src="https://github.styleci.io/repos/206147743/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/landelijketabellencatalogus/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/landelijketabellencatalogus/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center"><a href="https://api-test.nl/server/4/104ccbb2-eae1-4019-8378-ef41749adcaf/35e58de5-522e-4263-b17c-eae70ca57142/latest/"><img src="https://shields.api-test.nl/endpoint.svg?style=for-the-badge&amp;url=https%3A//api-test.nl/api/v1/provider-latest-badge/35e58de5-522e-4263-b17c-eae70ca57142/" alt="Status badge"></a></td>
                                <td style="text-align: center"><a href="https://ltc.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/locatiecatalogus" target="_blank">Locatie Catalogus</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/locatie-component" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/206144429?branch=development" target="_blank"><img src="https://github.styleci.io/repos/206144429/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/locatiecatalogus/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/locatiecatalogus/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center"><a href="https://api-test.nl/server/4/07ba88b1-6b10-4ec2-ae35-ca831c3faf50/e0febe91-dec5-4510-b963-52c68e5fe6bf/latest/"><img src="https://shields.api-test.nl/endpoint.svg?style=for-the-badge&amp;url=https%3A//api-test.nl/api/v1/provider-latest-badge/e0febe91-dec5-4510-b963-52c68e5fe6bf/" alt="Status badge"></a></td>
                                <td style="text-align: center"><a href="https://lc.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/medewerkercatalogus" target="_blank">Medewerker Catalogus</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/medewerker-catalogus" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/206144408?branch=development" target="_blank"><img src="https://github.styleci.io/repos/206144408/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/medewerkercatalogus/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/medewerkercatalogus/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center"><a href="https://api-test.nl/server/4/0d1baeb7-904a-48b7-8865-f009ba686ab2/bf5c3edd-6e60-402e-b634-5ec04206fe33/latest/"><img src="https://shields.api-test.nl/endpoint.svg?style=for-the-badge&amp;url=https%3A//api-test.nl/api/v1/provider-latest-badge/bf5c3edd-6e60-402e-b634-5ec04206fe33/" alt="Status badge"></a></td>
                                <td style="text-align: center"><a href="https://mrc.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/memo-component" target="_blank">Memo Component</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/memo-component" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/259932857?branch=development" target="_blank"><img src="https://github.styleci.io/repos/259932857/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/memo-component/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/memo-component/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center"><a href="https://api-test.nl/server/4/ac2252dd-3ac9-499e-b01e-85b5a50618f8/5851af69-5b51-43ba-98ab-b149c27f61d6/latest/"><img src="https://shields.api-test.nl/endpoint.svg?style=for-the-badge&amp;url=https%3A//api-test.nl/api/v1/provider-latest-badge/5851af69-5b51-43ba-98ab-b149c27f61d6/" alt="Status badge"></a></td>
                                <td style="text-align: center"><a href="https://memo.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/orderregistratiecomponent" target="_blank">Order Registratie Component</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/order-registratie-component" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/206144416?branch=development" target="_blank"><img src="https://github.styleci.io/repos/206144416/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/orderregistratiecomponent/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/orderregistratiecomponent/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center"><a href="https://api-test.nl/server/4/0b007860-ddf1-4dc8-905f-8fe8464fb6df/d046e630-1a89-49fd-9cd6-555eccd7b776/latest/"><img src="https://shields.api-test.nl/endpoint.svg?style=for-the-badge&amp;url=https%3A//api-test.nl/api/v1/provider-latest-badge/d046e630-1a89-49fd-9cd6-555eccd7b776/" alt="Status badge"></a></td>
                                <td style="text-align: center"><a href="https://orc.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/portfolio-component" target="_blank">Portfolio Component</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/portfolio-component" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/260448733?branch=development" target="_blank"><img src="https://github.styleci.io/repos/260448733/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/portfolio-component/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/portfolio-component/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center"><a href="https://api-test.nl/server/4/5c45ec91-287f-4794-afca-f8750e21dc0b/3ea7b794-881f-469e-8c82-024f525c8697/latest/"><img src="https://shields.api-test.nl/endpoint.svg?style=for-the-badge&amp;url=https%3A//api-test.nl/api/v1/provider-latest-badge/3ea7b794-881f-469e-8c82-024f525c8697/" alt="Status badge"></a></td>
                                <td style="text-align: center"><a href="https://pfc.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/procestypecatalogus" target="_blank">Proces Type Catalogus</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/proces-type-catalogus" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/198549944?branch=development" target="_blank"><img src="https://github.styleci.io/repos/198549944/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/procestypecatalogus/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/procestypecatalogus/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center"><a href="https://api-test.nl/server/4/846aa2d7-bda5-4d0f-a806-c87ce885b1c6/174bc26b-971b-4cf5-94ec-968054c2d794/latest/"><img src="https://shields.api-test.nl/endpoint.svg?style=for-the-badge&amp;url=https%3A//api-test.nl/api/v1/provider-latest-badge/174bc26b-971b-4cf5-94ec-968054c2d794/" alt="Status badge"></a></td>
                                <td style="text-align: center"><a href="https://ptc.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/productenendienstencatalogus" target="_blank">Producten Diensten Catalogus</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/producten-diensten-component" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/210809809?branch=development" target="_blank"><img src="https://github.styleci.io/repos/210809809/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/productenendienstencatalogus/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/productenendienstencatalogus/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center"><a href="https://api-test.nl/server/4/c37dd1cf-1459-436f-92d8-30d00b692c4c/c1f19e5c-afbc-4381-a8cf-71a2924f78a2/latest/"><img src="https://shields.api-test.nl/endpoint.svg?style=for-the-badge&amp;url=https%3A//api-test.nl/api/v1/provider-latest-badge/c1f19e5c-afbc-4381-a8cf-71a2924f78a2/" alt="Status badge"></a></td>
                                <td style="text-align: center"><a href="https://pdc.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/Proto-application-NLDesign" target="_blank">Proto Application NL Design</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/proto-applicatie" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/250502590?branch=development" target="_blank"><img src="https://github.styleci.io/repos/250502590/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/Proto-application-NLDesign/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/Proto-application-NLDesign/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center">Nvt</td>
                                <td style="text-align: center"><a href="https://pa.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/Proto-component-commonground" target="_blank">Proto Component Commonground</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/proto-component-commonground" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/198371552?branch=development" target="_blank"><img src="https://github.styleci.io/repos/198371552/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/Proto-component-commonground/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/Proto-component-commonground/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center">Nvt</td>
                                <td style="text-align: center"><a href="https://pc.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/Queue-Component" target="_blank">Queue Component</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/queue-component" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/262041492?branch=development" target="_blank"><img src="https://github.styleci.io/repos/262041492/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/Queue-Component/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/Queue-Component/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center"><a href="https://api-test.nl/server/4/f37edfc6-276f-41de-8d69-df4adcf120ef/6932eecf-fcf1-4613-9382-e6b6ca259285/latest/"><img src="https://shields.api-test.nl/endpoint.svg?style=for-the-badge&amp;url=https%3A//api-test.nl/api/v1/provider-latest-badge/6932eecf-fcf1-4613-9382-e6b6ca259285/" alt="Status badge"></a></td>
                                <td style="text-align: center"><a href="https://qc.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/review-component" target="_blank">Review Component</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/review-component" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/235730051?branch=development" target="_blank"><img src="https://github.styleci.io/repos/235730051/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/review-component/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/review-component/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center"><a href="https://api-test.nl/server/4/78d44cd4-a35c-4e3f-9798-6fcdb290200f/a162cce0-78b4-4bd3-82f3-1af16525dc39/latest/"><img src="https://shields.api-test.nl/endpoint.svg?style=for-the-badge&amp;url=https%3A//api-test.nl/api/v1/provider-latest-badge/a162cce0-78b4-4bd3-82f3-1af16525dc39/" alt="Status badge"></a></td>
                                <td style="text-align: center"><a href="https://rc.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/stufservice" target="_blank">StuF Component</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/stuf-component" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/206148674?branch=development" target="_blank"><img src="https://github.styleci.io/repos/206148674/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/stufservice/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/stufservice/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center"><a href="https://api-test.nl/server/4/419abbbb-8d3d-480f-bdbf-6901c14c09dc/ea40e838-2a2d-4211-8b39-890ba024ee0c/latest/"><img src="https://shields.api-test.nl/endpoint.svg?style=for-the-badge&amp;url=https%3A//api-test.nl/api/v1/provider-latest-badge/ea40e838-2a2d-4211-8b39-890ba024ee0c/" alt="Status badge"></a></td>
                                <td style="text-align: center"><a href="https://stuf.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/taken-component" target="_blank">Taken Component</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/taken-component" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/260444947?branch=development" target="_blank"><img src="https://github.styleci.io/repos/260444947/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/taken-component/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/taken-component/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center"><a href="https://api-test.nl/server/4/b85a3d33-929c-4811-ab5e-f0b2e0bed490/34a9ef90-23c9-45b3-b1c4-079aab216b72/latest/" target="_blank"><img src="https://shields.api-test.nl/endpoint.svg?style=for-the-badge&amp;url=https%3A//api-test.nl/api/v1/provider-latest-badge/34a9ef90-23c9-45b3-b1c4-079aab216b72/" alt="Status badge"></a></td>
                                <td style="text-align: center"><a href="https://tc.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/trouw-service" target="_blank">Trouw Service</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/trouw-service" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/272374899?branch=development" target="_blank"><img src="https://github.styleci.io/repos/272374899/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/trouw-service/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/trouw-service/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center">Nvt</td>
                                <td style="text-align: center"><a href="https://ts.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/user-component" target="_blank">User Component</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/user-component" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/222616116?branch=development" target="_blank"><img src="https://github.styleci.io/repos/222616116/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/user-component/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/user-component/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center"><a href="https://api-test.nl/server/4/904f55e1-54e6-48db-a637-2c193d4094b1/a973b118-ee34-4b83-bd75-553a5a204519/latest/" target="_blank"><img src="https://shields.api-test.nl/endpoint.svg?style=for-the-badge&amp;url=https%3A//api-test.nl/api/v1/provider-latest-badge/a973b118-ee34-4b83-bd75-553a5a204519/" alt="Status badge"></a></td>
                                <td style="text-align: center"><a href="https://uc.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/verzoekregistratiecomponent" target="_blank">Verzoek Registratie Component</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/verzoek-registratie-component" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/198549754?branch=development" target="_blank"><img src="https://github.styleci.io/repos/198549754/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/verzoekregistratiecomponent/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/verzoekregistratiecomponent/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center"><a href="https://api-test.nl/server/4/f33528be-acdc-445b-90d9-78c0c502c7c5/5065b0a6-0b20-4d75-bc9a-8275daa80092/latest/" target="_blank"><img src="https://shields.api-test.nl/endpoint.svg?style=for-the-badge&amp;url=https%3A//api-test.nl/api/v1/provider-latest-badge/5065b0a6-0b20-4d75-bc9a-8275daa80092/" alt="Status badge"></a></td>
                                <td style="text-align: center"><a href="https://vrc.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/verzoektypecatalogus" target="_blank">Verzoek type catalogus</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/verzoek-type-catalogus" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/210271092?branch=development" target="_blank"><img src="https://github.styleci.io/repos/210271092/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/verzoektypecatalogus/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/verzoektypecatalogus/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center"><a href="https://api-test.nl/server/4/091ec292-f00b-44be-8ba8-2a13ee1b3d35/73f53f1a-e515-4e84-b235-75454c8612c2/latest/" target="_blank"><img src="https://shields.api-test.nl/endpoint.svg?style=for-the-badge&amp;url=https%3A//api-test.nl/api/v1/provider-latest-badge/73f53f1a-e515-4e84-b235-75454c8612c2/" alt="Status badge"></a></td>
                                <td style="text-align: center"><a href="https://vtc.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            <tr>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/webresourcecatalogus" target="_blank">Web Resource Catalogus</a></td>
                                <td style="text-align: center"><a href="https://www.conduction.nl/componenten/web-resource-catalogus" target="_blank">Lees meer</a></td>
                                <td style="text-align: center"><a href="https://github.styleci.io/repos/206145646?branch=development" target="_blank"><img src="https://github.styleci.io/repos/206145646/shield?branch=development" alt="StyleCI"></a></td>
                                <td style="text-align: center"><a href="https://github.com/ConductionNL/webresourcecatalogus/actions?query=workflow%3A&quot;Docker+Image+CI&quot;" target="_blank"><img src="https://github.com/ConductionNL/webresourcecatalogus/workflows/Docker%20Image%20CI/badge.svg?branch=development" alt="Docker Image CI"></a></td>
                                <td style="text-align: center"><a href="https://api-test.nl/server/4/3c7a9096-6a1d-43cd-89fc-e850296d4f9c/7eddc6ff-646a-4c1a-8c76-4fd926bbd25e/latest/" target="_blank"><img src="https://shields.api-test.nl/endpoint.svg?style=for-the-badge&amp;url=https%3A//api-test.nl/api/v1/provider-latest-badge/7eddc6ff-646a-4c1a-8c76-4fd926bbd25e/" alt="Status badge"></a></td>
                                <td style="text-align: center"><a href="https://wrc.dev.zuid-drecht.nl/">Zuid Drecht</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}
