
<div class="row">
    <div class="col-sm-6">
        <p>
            De app CoronaMelder moet volgens het ministerie van Volksgezondheid vanaf 1 september van start gaan.
            Vanaf 17 augustus zou het verkrijgbaar moeten zijn voor zowel Android als iOS.
            De proef die eerder in Twente van start ging lijkt geslaagd.
        </p>
    </div>
    <div class="col-sm-6" style="display: flex; justify-content: center">
        <img style="height: 150px; width: 250px;" src="https://www.ictmagazine.nl/wp-content/uploads/2020/07/corona-app-op-telefoon-720x340.jpg" alt="">
    </div>
</div>

<p>
    Dat maakte het ministerie van Volksgezondheid <a href="https://www.rijksoverheid.nl/onderwerpen/coronavirus-app/vraag-en-antwoord/hoe-werkt-de-corona-app">bekend</a> in een publicatie waarop de tijdlijn van het uitrollen van de app staat.
    Anders dan oorspronkelijk gepland gaat de Belastingdienst de technische uitvoering niet op zich nemen.
    <br><br>
    Of die deadline realistisch is moet nog blijken. De Autoriteit Persoonsgegevens zich namelijk nog over de app uitspreken.
    Bovendien moeten de Eerste en de Tweede Kamer zich nog een oordeel vellen over de app.
    Dat kan pas nadat in augustus eerst de ministerraad met een standpunt komt.
</p>

<h2>Vrijwilligheid</h2>
<p>
    Voor het zover is vinden er nog tests plaats.
    Het is de bedoeling dat vanaf dat de start van de app zowel landelijk beschikbaar komt, en ondersteund door de GGD in het hele land.
    <br><br>
    De <a href="https://www.ictmagazine.nl/nieuwe-corona-app-gaat-coronamelder-heten/">werking</a> van de app is op basis van vrijwilligheid en werkt met bluetooth.
    De app stuurt een bericht aan wie enige tijd in de buurt is geweest van iemand die besmet is met het coronavirus.
    Ook geeft de app advies over wat in dat geval te doen.
    Dit om te zorgen dat het risico op onbewuste besmetting van andere mensen in de omgeving.
    <br><br>
    De app herkent via Bluetooth andere telefoons in de buurt die de app gebruiken.
    Als u langere tijd dichtbij een andere gebruiker bent, slaat de app de anonieme code van de andere gebruiker op.
    De app ziet geen persoonsgegevens en legt niet vast waar u bent.
</p>

<h2>Positieve test</h2>
<p>
    Een gebruiker die positief test op het coronavirus, kan er vrijwillig voor kiezen dit te melden in de app.
    De app van deze gebruiker stuurt de eigen anonieme codes van de afgelopen dagen vervolgens naar een centrale server.
    <br><br>
    De app kijkt een paar keer per dag op die centrale server of er anonieme codes staan die uw app herkent.
    Als dat het geval, dan bent u in de afgelopen tijd dichtbij een persoon geweest die besmet is met het coronavirus.
    Er is dan een mogelijkheid dat u ook besmet bent. Daarvan krijgt u een melding.
    U krijgt in de app ook advies wat u in dat geval het beste kunt doen.
</p>

<h2>Gegevens</h2>
<p>
    De corona-app gebruikt geen persoonsgegevens of locatiegegevens.
    Alle gegevens die de app gebruikt, zijn volledig anoniem.
    Het ontwerpen, bouwen en testen van de app doet de overheid niet alleen.
    Om zeker te weten dat de app aan alle strenge eisen voldoet, werken externe deskundigen mee aan het project.
    Ze hebben veel kennis van en ervaring in het maken, testen en beheren van veilige en toegankelijke apps en andere digitale toepassingen.
    De bedoeling is dat ze ook later betrokken blijven bij de verdere ontwikkeling.
</p>

<br>
<p>Bron: Redactie ICT-Magazine. (2020, 16 juli). App CoronaMelder vanaf 1 september van start. <a href="https://www.ictmagazine.nl/app-coronamelder-vanaf-1-september-van-start/">ICT Magazine.</a></p>
