
<div class="row">
    <div class="col-sm-6">
        <p>
            <B>Werkgevers vinden het steeds moeilijker om geschikt ICT-personeel te vinden.
                Vaak zijn er wel genoeg mensen die werk in computertechnologie zoeken, maar sluit hun opleiding niet aan bij de eisen van ondernemers.</B>
        </p>
    </div>
    <div class="col-sm-6" style="display: flex; justify-content: center">
        <img style="height: 150px; width: 250px;" src="https://media.nu.nl/m/m1oxk81ah5ya_wd640.jpg/gekwalificeerde-icter-heeft-banen-meer-en-meer-uitzoeken.jpg" alt="">
    </div>
</div>

<p>
    Dat stelt uitkeringsinstantie UWV in een nieuw rapport. De krapte is de afgelopen drie jaar toegenomen.
    <br><br>
    Vorig jaar was de helft van de ruim 53.000 ICT-vacatures moeilijk te vervullen, maakt het UWV op uit een peiling bij personeelsafdelingen.
    <br><br>
    In 2016 was het voor iets meer dan een derde van de vacatures moeilijk een geschikte kandidaat te vinden.
    Het jaar daarvoor gold dat voor 30 procent.
    <br><br>
    Het probleem speelt in alle sectoren, omdat de meeste bedrijven in zekere mate afhankelijk zijn van computers.
    Een personeelstekort kan als rem op groei werken, iets wat veel IT-bedrijven voelen.
    <br><br>
    Een ander gevaar schuilt in het toenemende aantal cyberaanvallen, die organisaties met te weinig mankracht en kennis in huis kwetsbaar maken.
</p>

<h2>HBO</h2>
<p>
    De wervingsproblemen doen zich vooral voor bij banen op hbo-niveau. Die zijn goed voor 80 procent van alle vacatures waar amper geschikte sollicitanten op afkomen.
    <br><br>
    Dat is een groot verschil met mbo-functies, waar maar 5 procent van de vacatures langdurig openstaat.
</p>

<h2>Diploma</h2>
<p>
    Er is volgens het UWV ook goed nieuws. De laatste jaren behalen meer mensen een bachelor- of masterdiploma in informatica.
    <br><br>
    Maar volgens de instantie is die nieuwe aanwas onvoldoende om het tekort op te vullen.
</p>

<br>
<p>Bron: NU.nl. (2020, 14 februari). Gekwalificeerde ICT’er heeft banen meer en meer voor het uitzoeken. <a href="https://www.nu.nl/economie/5230976/gekwalificeerde-icter-heeft-banen-meer-en-meer-uitzoeken.html">NU - Het laatste nieuws het eerst op NU.nl.</a></p>
