
<div class="row">
    <div class="col-sm-6">
        <p>
            <B>De Nederlandse overheid gaat zo'n 1 miljard euro meer uitgeven aan ICT-projecten dan origineel was gepland.</B>
        </p>
    </div>
    <div class="col-sm-6" style="display: flex; justify-content: center">
        <img style="height: 150px; width: 250px;" src="https://media.nu.nl/m/iosxtp9a7sbh_wd640.jpg/overheid-geeft-1-miljard-euro-meer-ict-dan-gepland.jpg" alt="">
    </div>
</div>

<p>
    Dat concludeert het <i><a href="https://fd.nl/ondernemen/1259605/grote-ict-projecten-overheid-zeker-1-mrd-duurder-dan-begroot">FD</a></i> na een analyse van 125 recente ICT-initiatieven van de Rijksoverheid.
    <br><br>
    Voor de gepeilde projecten was oorspronkelijk ongeveer 2,5 miljard euro begroot. De verwachte kosten zijn inmiddels echter opgelopen tot 3,5 miljard euro.
    <br><br>
    Bij 22 projecten zijn de kosten inmiddels verdubbeld. Gemiddeld wordt het begrote bedrag met 36 procent overschreden.
    <br><br>
    Onder andere een project waarbij de ICT achter de registratie van persoonsgegevens werd vernieuwd zou voor hoge kosten hebben gezorgd.
    Dat project werd vorig jaar geschrapt omdat de gemaakte software onbruikbaar was, maar toen was er al 100 miljoen euro aan opgegaan.
    Er was 30 miljoen euro voor het project begroot.
</p>

<h2>Meer tijd</h2>
<p>
    ICT-projecten zouden ook meer tijd in beslag nemen dan initieel werd ingeschat.
    Gemiddeld wordt 3,5 jaar gepland voor een initiatief, maar dat loopt in veel gevallen op tot 4,5 jaar.
    <br><br>
    De lijst die door het <i>FD</i> is onderzocht is afkomstig van het Bureau ICT Toetsing (BIT), dat de overheid adviseert over ICT-projecten.
    Op de lijst staat niet de Belastingdienst, die al langere tijd door IT-problemen wordt geplaagd.
</p>

<br>
<p>Bron: NU.nl. (2018, 2 juli). Overheid geeft 1 miljard euro meer uit aan ICT dan gepland. <a href="https://www.nu.nl/internet/5341877/overheid-geeft-1-miljard-euro-meer-ict-dan-gepland.html">NU - Het laatste nieuws het eerst op NU.nl.</a></p>
