{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-4 col-md-4-offset-4">

        <form method="post" action="{{ path('app_default_post',{'slug':'afwijkende-trouw-locatie'}) }}"

              class="affa-form-contact">
            <div class="submit-status">
            </div> <!-- submit status -->

            
        <h3>Gegevens locatie</h3>

        <label for="street">Naam<span class="required">*</span></label>
        <input type="text" name="locatieNaam" id="locatieNaam"  placeholder="De naam van de locatie" required/>

        <label for="houseNumber">Omschrijving<span class="required">*</span></label>
        <input type="text" name="locatieOmschrijving" id="locatieOmschrijving"  placeholder="7De omschrijving van de locatie" />

        <label for="houseNumberSuffix">Adres*</label>
        <input type="text" name="locatieAdres" id="locatieAdres"  placeholder="samenvoeging van straat, huisnummer, postcode, plaats" required/>

        <label for="postalCode">Telefoon<span class="required">*</span></label>
        <input type="text" name="locatieTelefoon" id="locatieTelefoon" placeholder="Telefoon nummer van der locatie" required/>

            <button type="submit" class="btn btn-success btn-lg btn-block btn-icon"><i
                    class="far fa-envelope"></i> Opslaan
            </button>

        </form>

    </div>

{% endblock %}
