{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-4 col-md-4-offset-4">

        <form method="post" action="{{ path('app_default_post',{'slug':'afwijkende-trouw-locatie-contact'}) }}"

              class="affa-form-contact">
            <div class="submit-status">
            </div> <!-- submit status -->

            <h3>Gegevens locatie eigenaar:</h3>

            <label for="name">Voornaam <span class="required">*</span></label>
            <input type="text" name="firstName" placeholder="Museum Sonnenborgh" required/>

            <label for="name">Achternaam <span class="required">*</span></label>
            <input type="text" name="firstName" placeholder="Museum Sonnenborgh" required/>

            <label for="email">Email Adres <span class="required">*</span></label>
            <input type="email" name="email" placeholder="john@do.nl" required/>

            <label for="telephone">Telefoonnummer</label>
            <input type="tel" name="telephone" placeholder="+31 6 12345678"/>

            <br>

            <h3>Gegevens locatie</h3>

            <label for="street">Straat<span class="required">*</span></label>
            <input type="text" name="street" placeholder="Appelstraat" required/>

            <label for="houseNumber">Nummer<span class="required">*</span></label>
            <input type="text" name="houseNumber" placeholder="7" required/>

            <label for="houseNumberSuffix">Toevoeging</label>
            <input type="text" name="houseNumberSuffix" placeholder="A"/>

            <label for="locality">Plaats<span class="required">*</span></label>
            <input type="text" name="locality" placeholder="Utrecht" required/>

            <label for="postalCode">Postcode<span class="required">*</span></label>
            <input type="text" name="postalCode" placeholder="1234AB" required/>

            <button type="submit" class="btn btn-success btn-lg btn-block btn-icon"><i
                    class="far fa-envelope"></i> Opslaan
            </button>

        </form>

    </div>

{% endblock %}
