{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <!-- .row -->
    <div class="row animation data-animation="animation-fade-in" data-delay=" {% if app.session.flashbag.peekAll|length > 0 %}3400{%else%}200{% endif %}" >


    {% if request.properties.type is defined and request.properties.type == 'omzetten' %}

        <div class="post-heading-center animation" data-animation="animation-fade-in-down">
            <h2>U heeft gekozen voor omzetten, en heeft geen locaties nodig</h2>
        </div>
        <div class="col-md-12 text-center">
            <i class="fas fa-check fa-6x " data-animation="animation-fade-in-down" ></i>
        </div><!-- /.col -->

    {% else %}
        <div class="post-heading-center">
            <h2>Waar wilt u trouwen?</h2>
            <p>Een trouwlocatie; in Utrecht is er voor elk wat wils. De gemeente Utrecht heeft een aantal eigen trouwlocaties; het Stadhuis, het Wijkservicecentrum in Vleuten en het Stadskantoor.  Een keuze voor een van deze trouwlocaties kunt u direct hier doen. </p>
            <p>Daarnaast zijn er verschillende andere vaste trouwlocaties. Deze trouwlocaties zijn door de gemeente Utrecht al goedgekeurd. Hieronder vindt u het overzicht van deze trouwlocaties. Heeft u een keuze gemaakt uit een van de vaste trouwlocaties? Maak dan eerst een afspraak met de locatie en geef dan aan ons door waar en wanneer u wilt trouwen. </p>
            <p class="margin-bottom30"> Maar misschien wilt u een heel andere locatie. Bijvoorbeeld het café om de hoek, bij u thuis of in uw favoriete restaurant. Zo'n locatie heet een vrije locatie.  Een aanvraag voor een vrije locatie kunt u hier ook doen. </p>
        </div>

        <nav class="isotope-menu" >
            <a href="#" class="active" data-filter="*">Alle trouwlocaties</a>
            <a href="#" data-filter=".creative">Modern</a>
            <a href="#" data-filter=".intern">Intern</a>
            <a href="#" data-filter=".extern">Extern</a>
            <a href="#" data-filter=".entertainment">Romantisch</a>
            <a href="#" data-filter=".mobile">Voordelig</a>
        </nav>

        <div class="isotope-row">
            {% for product in products %}
                <div class="item entertainment mobile intern"> <!-- 1 -->

                    {% if  request.properties.locatie is defined and request.properties.locatie ==
                        "https://pdc.zaakonline.nl/products/"~product.id %}
                        <p style="text-align: center; margin-top: -25px; color: black;">U heeft deze locatie gekozen.</p>
                    {% else %}
                        <p style="visibility: hidden; margin-top: -25px;">Hidden</p>
                    {% endif %}

                    <a href="{{ path('app_default_view',{'slug':'locatie-kiezen','id':product.id}) }}" data-fancybox-group="images_gallery" >
                        <figure class="img-overlay">
                            <img ng-src="{{ product.logo}}" alt="Portfolio Item 1" />
                            <div class="overlay-masked" style="display: none;">
                                <span class="overlay-icon" style="top: 25%; opacity: 0;"></span>
                                <p style="display: none;">{{ product.name }}</p>

                            </div>
                        </figure>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    </div>

    {% if user is empty %}
        <!-- .row -->
        <div class="row animation" {% if app.session.flashbag.peekAll|length > 0 %}data-animation="animation-fade-in" data-delay="3400"{% endif %}>
            <div class="col-sm-10 col-md-7 col-lg-6 col-sm-offset-0 col-md-offset-0 col-lg-offset-1">
                <a href="{{ path('app_default_index') }}" class="btn btn-primary btn-icon" >
                    <i class="fas fa-share-square"></i>
                    Terug naar home
                </a>
            </div><!-- /.col -->
        </div>
        <!-- .row end -->
    {% endif %}
{% endblock %}













