{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
            <!-- .row -->
            <div class="row" data-animation="animation-fade-in" data-delay=" {% if app.session.flashbag.peekAll|length > 0 %}3400{%else%}200{% endif %}" >
                    	<div class="post-heading-center ">
                            <h2>Naamgebruik</h2>
                        </div>
                <div class="col-sm-10 col-md-6 col-lg-5 col-sm-offset-1 col-md-offset-0 col-lg-offset-1">
               		<p>U kunt na uw huwelijk of partnerschapsregistratie de achternaam van uw partner gebruiken. Overheidsinstanties schrijven u dan aan met de achternaam die u gekozen heeft. </p>					
					<p>Voor alle duidelijkheid: uw eigen achternaam blijft dus ongewijzigd. U wordt alleen anders aangeschreven. In uw trouw- of partnerschapsboekje blijft bij geslachtsnaam voor en na het huwelijk of de partnerschapsregistratie dezelfde achternaam staan. </p>
               		<p>U heeft hierbij de keuze uit de volgende mogelijkheden:</p>	
					<ul>
						<li>eerst uw eigen achternaam, gevolgd door de achternaam uw partner</li>
						<li>eerst de achternaam van uw partner, gevolgd door uw eigen achternaam</li>
						<li>alleen de achternaam van uw partner</li>
					</ul>
            	</div><!-- /.col -->
            	<div class="col-sm-2 col-md-6  col-lg-5  col-sm-offset-1 col-md-offset-0 text-center-sm text-center-xs">
                	<div class="margin-bottom40">           
	                	<figure >
	                        <img src="images/content/elements/Bank.png" alt="Image">
	                    </figure>
                    </div>
                </div>
            </div><!-- /.row -->
{% endblock %}
