{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}

    <div class="wrap-container8040">
        <div class="container">
            <div class="post-heading-left">
                <h2 style="color: #4376FC">Thanks for your email!</h2>
                <br>
                <br>

                <a href="" class="btn-custom"> Home</a>

            </div>

            <div class="margin-top80 flex-s-b">


            </div>
        </div>
    </div>





{% endblock %}

