{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block headercontent %}
    <!-- .header-content -->
    <div class="header-content">

        <!-- .container -->
        <!-- /.container -->
    </div><!-- /.header-content -->
{% endblock %}

{% block body %}
    <div class="wrap-container8040 bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-md-7 col-lg-7 ">
                    <div class="col-text20 margin-bottom20">
                        <div class="post-heading-left">
                            <h2 id="verhuizen" style="color: #4386FB">Overlijden</h2>
                            <h4 style="color: #4386FB">Product: Begraafplaatsen registratie</h4>
                            <p>Samen met de Westfriese gemeenten zijn wij aan het ontwikkelen op de gebeurtenis
                                overlijden, daar komt een hoop bij kijken. Zoals bijvoorbeeld de totale cyclus van een
                                graf, van het plannen van de begrafenis tot het ruimen van een graf. Wij ondersteunen op
                                de digitale ontwikkeling van dit proces, weer volgens het common ground principe: Data
                                bij de bron, deelbaar en schaalbaar.</p>
                            <br>
                            <img src="{{ asset('images/gemeentewestfriesland.png') }}" width="110px">
                            <img src="{{ asset('images/018-Logo-HTA.png') }}" width="110px">
                            <br>
                        </div><!-- ./col-heading -->
                    </div><!-- ./col-text -->
                </div><!-- ./col -->
                <div class="col-sm-10 col-md-5 col-lg-5">
                    <img src={{ asset('images/overlijdenproject.png') }} width="600px">
                </div><!-- ./col -->
            </div><!-- ./row -->
        </div><!-- ./container -->
    </div><!-- ./wrap-container -->


    {{ include('/widgets/contact.html.twig') }}


{% endblock %}

