{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}        
    
    <!-- .wrap-container -->
    <div class="wrap-container8040">
        
        <!-- .container -->
    	<div class="container">
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-10 col-md-6 col-lg-9 col-sm-offset-1 col-md-offset-0 text-center-sm text-center-xs">
                	<div class="margin-bottom40">
                    	<div class="post-heading-left text-center-sm text-center-xs">
                            <h2>Servers</h2>
                        </div>
                        
                        <p> Ofwel de fysieke computers waar onze code en data op staat, deze dienen uiteraard ongenadigbaar goed afgeschermd te zijn. Dit is compleet apart expertise gebied waarvan je als kleine organisatie niet de illusie moet hebben dit allemaal zelf te kunnen. We maken daarom gebruik van managed hosting van TransIp, een nederlands bedrijf met een lage geschiedenis op het gebied van beveiliging zijn zorgen ervoor dat onze server altijd up to date zijn en volledig afgeschermd van slecht willende individuen. Tevens staan al onze servers (en daarmee data) in Nederland. Tevens staan al onze servers (en daarmee data) in Nederland. Ons datacenter beschikt over de volgende certificaten: <ul>
<li>ISO 9001</li>
<li>ISO 27001</li>
<li>ISO 14001</li>
<li>NEN 7510</li>
<li>PCI DDS</li>
</ul>
                         
						</p>
                    </div>
                </div>
                
                <div class="col-sm-10 col-md-6 col-lg-2 col-sm-offset-1 col-md-offset-0 col-lg-offset-1">
                	<figure class="col-img40 margin-bottom40 animation hidden" data-animation="animation-fade-in-right">
                        <img src="../images/content/team/ruben_zakelijk.png" alt="Image">
                    </figure>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- .wrap-container end -->
    
    <!-- .wrap-container -->
    <div class="wrap-container8040 bg-grey">
        
        <!-- .container -->
    	<div class="container">
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-10 col-md-6 col-lg-2 col-sm-offset-1 col-md-offset-0">
                	<figure class="margin-bottom40 animation hidden" data-animation="animation-fade-in-left">
                    	<img src="../images/content/team/dido_zakelijk.png" alt="Image">
                    </figure>
                </div>
                
                <div class="col-sm-10 col-md-6 col-lg-9 col-sm-offset-1 col-md-offset-0 col-lg-offset-1">
                	<div class="col-text20 margin-bottom20">
                    	<div class="post-heading-left margin-bottom20">
                            <h2>Code en verbindingen</h2>
                        </div>
                        
                        <p>Naast dat de servers veilig moeten zijn moet natuurlijk ook de code op de servers veilig zijn en de route daarnaartoe. Dit is een van de redenenen waarom we onze software hebben gebouwd als een webservice, ofwel een loket waar enveloppen worden aangeboden, voor de verbindingen naar ons loket maken we gebruik van SSL verbindingen. Dat betekend dat alle data die naar onze webservice gaat over een beveiligde verbinding en versleuteld wordt verzonden. Hiermee voorkomen we dat informatie op het internet wordt “onderschept”. Daarnaast maken we gebruik van interne en externe beveiligings sleutels waarmee de brenger van de envelop zich moet identificeren  bij het loket voordat we een envelop überhaupt aannemen.  Als laatste wordt de inhoud van de envelop vergeleken met een sjabloon, ofwel is het formulier ingevuld zoals het ingevuld moet worden. Is dit niet het geval dan wordt de date niet verwerkt.  </p>
                    </div>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- .wrap-container end -->
    
    
    <!-- .wrap-container -->
    <div class="wrap-container8040">
        
        <!-- .container -->
    	<div class="container">
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-10 col-md-6 col-lg-9 col-sm-offset-1 col-md-offset-0 text-center-sm text-center-xs">
                	<div class="margin-bottom40">
                    	<div class="post-heading-left text-center-sm text-center-xs">
                            <h2>Persoons gegevens</h2>
                        </div>
                        
                        <p>Een ander actueel thema zijn persoonsgegevens (een onderwerp waarop startups ook regelmatig de fout in gaan) we volgen hierin de  richtsnoeren van de nederlandse overheid en europese wetgeving die in 2018 de nationale wetgeving vervangt. Kort samengevat betekent dit dat we altijd toestemming zullen vragen waarin we uitleggen waarvoor we de gegevens van een persoon nodig hebben en deze gegevens ook verwijderen zodra we ze niet meer nodig hebben. Dit sluit ook aan bij goede beveiliging, hoe minder je opslaat hoe minder er gestolen kan worden. Daarnaast wordt zoveel mogelijk informatie versleuteld opgeslagen. Zodat zelf bij een lek de informatie betrokken partijen niet in gevaar brengt. 
</p>
                    </div>
                </div>
                
                <div class="col-sm-1 col-md-6 col-lg-2 col-sm-offset-1 col-md-offset-0 col-lg-offset-1">
                	<figure class="col-img40 margin-bottom40 animation hidden" data-animation="animation-fade-in-right">
                        <img src="../images/content/team/matthias_zakelijk.png" alt="Image">
                    </figure>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- .wrap-container end -->
    
    
    <!-- .wrap-container -->
    <div class="wrap-container8040 bg-grey">
        
        <!-- .container -->
    	<div class="container">
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-10 col-md-6 col-lg-2 col-sm-offset-1 col-md-offset-0">
                	<figure class="margin-bottom40 animation hidden" data-animation="animation-fade-in-left">
                    	<img src="../images/content/team/marleen_zakelijk.png" alt="Image">
                    </figure>
                </div>
                
                <div class="col-sm-10 col-md-6 col-lg-9 col-sm-offset-1 col-md-offset-0 col-lg-offset-1">
                	<div class="col-text20 margin-bottom20">
                    	<div class="post-heading-left margin-bottom20">
                            <h2>En dan toch..</h2>
                        </div>
                        
                        <p>En toch kan het altijd misgaan, het klinkt misschien wat crue maar al je een huis bouwt kan er nu eenmaal worden ingebroken. Das inherent aan het bouwen van een huis. Daar kunnen we ons zo goed mogelijk tegen beveiligen maar we zouden gek zijn als we niet ook zouden verzekeren. Dat hebben wij op een aantal manieren gedaan, ten eerste hebben we zogenoemde “bait” in onze dataset verstop, speciale informatie die we zelf verzonnen hebben. Door regelmatig op het web aangeboden datasets na te lopen controleren we actief of er geen gegevens op straat liggen. Mochten we er via deze of een andere route achterkomen dat er informatie op straat is beland dan zullen we de gebruikers en betrokken instanties hier altijd pro-actief over informeren. Eerlijkheid duurt immers het langst.</p>
                    </div>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- .wrap-container end -->
    
{% endblock %}
    
    