{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}

    <div class="wrap-container8040 ">

        <div class="container">
            <div class="post-heading-left">
                <h2 style="color: #4386FB">Buzz</h2>
            </div>

            <div class="col">
                <div class="col-md-6">
                    <a class="twitter-timeline" data-width="866" data-height="1020" data-theme="dark"
                       href="https://twitter.com/conduction_nl?ref_src=twsrc%5Etfw">Tweets by conduction_nl</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>


            <div class="col">
                <div class="col-md-6">
                    <div class="iframely-embed">
                        <div class="iframely-responsive"><a
                                href="https://commonground.nl/blog/view/54476659/de-common-ground-is-als-het-huwelijk%25E2%2580%25A6-je-moet-er-in-geloven-anders-wordt-het-nietsDe"
                                data-iframely-url="//cdn.iframe.ly/b9FLPL1"></a></div>
                    </div>
                    <script async src="//cdn.iframe.ly/embed.js" charset="utf-8"></script>


                    <div class="iframely-embed">
                        <div class="iframely-responsive"><a
                                href="https://www.binnenlandsbestuur.nl/digitaal/nieuws/collectief-staan-gemeenten-sterker-in-ict.12646934.lynkx"
                                data-iframely-url="//cdn.iframe.ly/PYoZFMZ"></a></div>
                    </div>
                    <script async src="//cdn.iframe.ly/embed.js" charset="utf-8"></script>
                </div>


            </div>


        </div>
    </div>

{% endblock %}

