{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}

    {% include 'widgets/slack.html.twig' %}

    <!-- .wrap-container -->
    <div class="wrap-container8040">

        <!-- .container -->
    	<div class="container">

            <!-- .row -->
            <div class="row">

                <div class="col-sm-10 col-md-6 col-lg-9 col-sm-offset-1 col-md-offset-0 text-center-sm text-center-xs">
                	<div class="margin-bottom40">
                    	<div class="post-heading-left text-center-sm text-center-xs">
                            <h2>Common Ground</h2>
                        </div>

                        <p>Wij geloven in online gemeenschappen, vanuit deze gedachte zijn we ook toegetreden tot het Common Ground initiatief van de Nederlandse Gemeenten. Binnen dit initiatief staat samenwerking en publiek eigenaarschap centraal. Sinds 3 Juli zijn wij ook toegetreden tot het groeipact Common Ground (<a href="/articles/groeipact-common-ground">lees hier het nieuwsbericht</a>). Met het ondertekenen van dit convenant proberen wij een actieve bijdrage te leveren aan het succes van common ground.
						</p>
                    </div>
                </div>

                <div class="col-sm-10 col-md-6 col-lg-2 col-sm-offset-1 col-md-offset-0 col-lg-offset-1">
                	<!--
                	<figure class="margin-bottom40 animation" data-animation="animation-fade-in-left">
                    	<img src="../images/content/team/dido_zakelijk.png" alt="Image">
                    </figure>
                     -->
                </div>

            </div>
            <!-- .row end -->

        </div>
        <!-- .container end -->

    </div>
    <!-- .wrap-container end -->

    <!-- .wrap-container -->
    <div class="wrap-container8040 bg-grey">

        <!-- .container -->
    	<div class="container">

            <!-- .row -->
            <div class="row">

                <div class="col-sm-10 col-md-6 col-lg-2 col-sm-offset-1 col-md-offset-0">
                	<!--
                	<figure class="margin-bottom40 animation" data-animation="animation-fade-in-left">
                    	<img src="../images/content/team/dido_zakelijk.png" alt="Image">
                    </figure>
                     -->
                </div>

                <div class="col-sm-10 col-md-6 col-lg-9 col-sm-offset-1 col-md-offset-0 col-lg-offset-1">
                	<div class="col-text20 margin-bottom20">
                    	<div class="post-heading-left margin-bottom20">
                            <h2>Niet opnieuw het wiel uitvinden</h2>
                        </div>

                        <p>In onze gedachte en werk staat &lsquo;samen&rsquo; centraal, samen maken we de mooiste dingen. Nergens is dit zo waar als bij applicatie en web development, bijna elke programmeur zit wel eens op stack overflow. Om iets op te zoeken, of omdat hij/zij een van de duizenden programmeurs wereldwijd is, die vanuit hun eigen expertise en passie andere programmeurs graag helpen antwoorden te vinden en problemen op te lossen. Samen verenigen programmeurs zich ook online in collectieven, waar ze in hun vrije tijd gratis applicaties bouwen zoals wikipedia, wordpress en blockchain. In deze open source wereld zijn legio reeds gevalideerde oplossingen te vinden voor problemen waar de nederlandse overheid nu nog mee worstelt.</p>
                    </div>
                </div>

            </div>
            <!-- .row end -->

        </div>
        <!-- .container end -->

    </div>
    <!-- .wrap-container end -->
    <!-- .wrap-container -->
    <div class="wrap-container8040">

        <!-- .container -->
    	<div class="container">

            <!-- .row -->
            <div class="row">

                <div class="col-sm-10 col-md-6 col-lg-9 col-sm-offset-1 col-md-offset-0 text-center-sm text-center-xs">
                	<div class="margin-bottom40">
                    	<div class="post-heading-left text-center-sm text-center-xs">
                            <h2>Democratisering van het Ecosysteem</h2>
                        </div>

                        <p> Overheids ecosystemen zijn een vertaling van haar werk. Door de applicaties waaruit deze ecosystemen bestaan open te breken en source beschikbaar te maken, wordt iedereen in staat gesteld om daadwerkelijk actief bij te dragen aan de oplossingen van maatschappelijke problemen. Lees je in de krant dat mensen in het oerwoud van overheidsdiensten hun weg niet kunnen vinden en heb je een goede online oplossing, ontwikkel een applicatie en koppel die. De infrastructuur aan de development kant bestaat al, het is nu aan de overheid om zichzelf bloot te durven geven.
						</p>
                    </div>
                </div>

                <div class="col-sm-10 col-md-6 col-lg-2 col-sm-offset-1 col-md-offset-0 col-lg-offset-1">
                	<!--
                	<figure class="margin-bottom40 animation" data-animation="animation-fade-in-left">
                    	<img src="../images/content/team/dido_zakelijk.png" alt="Image">
                    </figure>
                     -->
                </div>

            </div>
            <!-- .row end -->

        </div>
        <!-- .container end -->

    </div>
    <!-- .wrap-container end -->
    <!-- .wrap-container -->
    <div class="wrap-container8040 bg-grey">

        <!-- .container -->
    	<div class="container">

            <!-- .row -->
            <div class="row">

                <div class="col-sm-10 col-md-6 col-lg-2 col-sm-offset-1 col-md-offset-0">
                	<!--
                	<figure class="margin-bottom40 animation" data-animation="animation-fade-in-left">
                    	<img src="../images/content/team/dido_zakelijk.png" alt="Image">
                    </figure>
                     -->
                </div>

                <div class="col-sm-10 col-md-6 col-lg-9 col-sm-offset-1 col-md-offset-0 col-lg-offset-1">
                	<div class="col-text20 margin-bottom20">
                    	<div class="post-heading-left margin-bottom20">
                            <h2>Open huis betekent open source</h2>
                        </div>

                        <p>De applicaties die wij voor Common Ground bouwen zijn open source, dat betekent dat iedereen kan meekijken in de code. Klinkt dat eng? dat is het niet. Hoe meer mensen er meekijken, hoe groter de kans dat we problemen tijdig signaleren. Deze veiligheid in nummers is precies waarop blockchain en SSL draaien, maar kent in de dagelijkse wereld haar weerslag in hoe we bijvoorbeeld de verkiezingen en stembureaus organiseren. Hoe meer toeschouwers, hoe kleiner de kans op fraude. </p>
                    </div>
                </div>

            </div>
            <!-- .row end -->

        </div>
        <!-- .container end -->

    </div>
    <!-- .wrap-container end -->
    <!-- .wrap-container -->
    <div class="wrap-container8040">

        <!-- .container -->
    	<div class="container">

           <!-- .row -->
            <div class="row">
                <div class="col-md-12 text-center-sm text-center-xs">
                    {% include 'widgets/share.html.twig' %}
                </div>
            </div>
            <!-- .row end -->

        </div>
        <!-- .container end -->

    </div>
    <!-- .wrap-container end -->

    {% include 'widgets/contact.html.twig' %}
{% endblock %}



