{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}

    <div class="wrap-container8040">
        <div class="container">
            <div class="post-heading-left">
                <h2 style="color: #4376FC">Contact</h2>
                <br>
                <br>
                <h5 style="color: black">Conduction is een ICT bedrijf met een sterke idealistische en sociale inslag :) Daarom worden wij ook erg blij van de co-working space waar wij kantoor houden, daar wemelt het van de creatievelingen en wereldverbeteraars. We zitten ook nog op een geweldige plek: Emmalaan 7 in Amsterdam.
                </h5>
                <p style="color: black">Een keer langskomen of koffie drinken?  Mail ons!</p>
                <br>

                <a href="mailto:  info@conduction.nl" class="btn-custom btn-icon"><i
                        class="fa fa-envelope"></i> Mail ons!</a>
            </div>

            <div class="margin-top80 flex-s-b">


            </div>
        </div>
    </div>


    <!-- #contact -->
    <div id="contact" class="wrap-container80 bg-color">

        <!-- .container -->
        <div class="container">

            <!-- .row -->
            <div class="row">


                <div class="col-md-6">
                    <div class="post-heading-center">
                        <h4>Conduction blauw past bij jou!</h4>
                        <h2 style="color: white"> Ook werken of stage bij Conduction?</h2>
                        <p>Wij zijn altijd op zoek naar gedreven , originele vakfanaten, pioniers en creatievelingen (to
                            be). Voel je je aangesproken? Neem vooral contact met ons op! :) </p>

                    </div>
                </div>

                <div class="col-md-6">
                    <form action="/team" method="post" class="affa-form-contact">
                        <div class="submit-status"></div> <!-- submit status -->
                        <input type="text" name="name" placeholder="Your Name"/>
                        <input type="text" name="email" placeholder="Email Address *"/>
                        <textarea name="message" placeholder="Message *"></textarea>
                        <button type="submit" name="submit" class=" btn-block btn-custom2" style="padding: unset;">Mail
                            ons
                        </button>
                    </form>
                </div>

            </div>
            <!-- .row end -->

        </div>
        <!-- .container end -->

    </div>
    <!-- #contact end -->


{% endblock %}

