{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block headercontent %}
    <!-- .header-content -->
    <div class="header-content">

        <!-- .container -->
        <!-- /.container -->
    </div><!-- /.header-content -->
{% endblock %}

{% block body %}
    <div class="wrap-container8040 bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-md-7 col-lg-7 ">
                    <div class="col-text20 margin-bottom20">
                        <div class="post-heading-left">
                            <h2 id="verhuizen" style="color: #4386FB">Doc Parser</h2>
                            <a href="https://github.styleci.io/repos/235730570" target="_blank"><img src="https://github.styleci.io/repos/235730570/shield?branch=master" alt="StyleCI"></a>
                            <a href="https://github.com/ConductionNL/docparser/actions?query=workflow%3A"Docker+Image+CI"" target="_blank"><img src="https://github.com/ConductionNL/docparser/workflows/Docker%20Image%20CI/badge.svg?branch=master" alt="github"></a>

                            <p>De docerpasres is een developers tool die aan de hand van redoc documentatie (en optioneel api toegang)
                            controleert tot in hoeverre een api zich aan de binnen common ground geldende standaarden houdt (zoals nl apis strategie).
                            </p>

                            <br>
                            <br>
                            <a href="https://github.com/ConductionNL/docparser" class="btn-custom btn-more-link " target="_blank"> Bekijk repository</a>
                            <a href="#" class="btn-custom btn-more-link " target="_blank"> bekijk documentatie</a>
                        </div><!-- ./col-heading -->
                    </div><!-- ./col-text -->
                </div><!-- ./col -->
                <div class="col-sm-10 col-md-5 col-lg-5">
                    <img src={{ asset('images/content/Componenten/dps/1280w/Blauw_vlak.png') }} width="100%">
                </div><!-- ./col -->
            </div><!-- ./row -->
        </div><!-- ./container -->
    </div><!-- ./wrap-container -->


    {{ include('/widgets/contact.html.twig') }}


{% endblock %}

