{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block headercontent %}
<!-- .header-content -->
<div class="header-content">

    <!-- .container -->
    <div class="container">

        <!-- .row -->
        <div class="row">

            <div class="col-sm-7">
                <div class="header-text" style="padding-top: 0">
                    <div class="post-heading-left-white header-heading">
                        <h1>(Nood) formulieren)</h1>
                        <h4 style="color: white">Product: Verzoeken en StUF-koppeling</h4>
                    </div>
                    <br>
                    <p style="margin-top: -35px">Direct na het uitbreken van de Coronacrisis, wilden wij iets kunnen
                        bijdragen. Wij wilden graag onze techniek ter beschikking stellen om te
                        helpen bij het versnellen en vergemakkelijken van BBZ of Tozo aanvragen. We
                        zijn samen met de gemeenten, waar wij onze Common Ground projecten mee
                        doen, om de tafel gegaan. Binnen enkele dagen hebben we een generiek(e)
                        applicatie/formulier op kunnen tuigen, gekoppeld aan Common Ground
                        componenten.</p>
                    <br>
                </div>
            </div><!-- /.col -->

            <div class="col-sm-5">
                <div class="header-img">
                        <img src={{ asset('images/content/Formulieren/1280w/Geel_Vlak.png') }}  width="600px">
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.header-content -->
    {% endblock %}

    {% block body %}

        <div class="wrap-container8040">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-md-7 col-lg-7 ">
                        <div class="col-text20 margin-bottom20">
                            <div class="post-heading-left">
                                <h2 id="verhuizen" style="color: #4386FB">Hoe is dat in z’n werk gegaan</h2>
                                <h4 style="color: #4386FB">De wens was</h4>
                                <p dir="ltr">
                                    Een getroffen ondernemer kan via een toegankelijke webapp snel financiële
                                    hulp krijgen van de (lokale) overheid, zodat deze minder financiële zorgen
                                    heeft in de nabije (onzekere) toekomst. Door de laagdrempeligheid van de
                                    app is het voor de ondernemer meteen duidelijk waar hij voor in aanmerking
                                    komt.
                                </p>
                                <br/>
                                <h4 style="color: #4386FB">Wat wilden we bereiken:</h4>
                                <ul>
                                    <li dir="ltr">
                                        <p dir="ltr">
                                            Een eenduidige landelijke ingang voor de getroffen ondernemers om
                                            passende subsidie aan te vragen.
                                        </p>
                                    </li>
                                    <li dir="ltr">
                                        <p dir="ltr">
                                            Snelle aanvraagprocedure met weinig drempels.
                                        </p>
                                    </li>
                                    <li dir="ltr">
                                        <p dir="ltr">
                                            Financiële hulp moet snel en eenduidig geleverd worden.
                                        </p>
                                    </li>
                                </ul>
                                <br/>
                                <p dir="ltr">
                                    Wat wilden we voorkomen:
                                </p>
                                <ul>
                                    <li dir="ltr">
                                        <p dir="ltr">
                                            Door op één plek alle informatie en checks te hebben voorkomen we
                                            het ‘van kastje naar de muur’-gevoel
                                        </p>
                                    </li>
                                    <li dir="ltr">
                                        <p dir="ltr">
                                            Dat alle gemeenten/overheden een eigen oplossing moeten opleveren.
                                        </p>
                                    </li>
                                    <li dir="ltr">
                                        <p dir="ltr">
                                            Dat de ondernemer lang moet wachten op financiële hulp.
                                        </p>
                                    </li>
                                </ul>
                                <br/>
                                <h4 style="color: #4386FB">Hoe hebben we dit ontwikkeld:</h4>
                                <p dir="ltr">
                                    Binnen het, door de VNG en BZK ondersteunde,
                                    <a href="https://commonground.nl/cms/view/54476259/wat-is-common-ground">
                                        Common Ground
                                    </a>
                                    -initiatief bestaan alle componenten die hergebruikt worden in deze
                                    oplossing. Combineer dit met NLdesign als front-end en we hebben een
                                    volwaardige overheidsapplicatie, wat vertrouwen geeft voor de ondernemers.
                                </p>
                                <br/>
                                <h4 style="color: #4386FB">Wat zijn de voordelen:</h4>
                                <ol>
                                    <li dir="ltr">
                                        <p dir="ltr">
                                            Goedkoop
                                            <br/>
                                            Er zijn geen licentiekosten, het is namelijk open source.
                                        </p>
                                    </li>
                                    <li dir="ltr">
                                        <p dir="ltr">
                                            Schaalbaar
                                            <br/>
                                            Doordat we gebruikmaken van het door de VNG ontwikkelde “Haven”
                                            concept is het heel erg goed schaalbaar. Gebruikmakende van
                                            Kubernetes kunnen we dit heel snel en automatisch opschalen,
                                            afhankelijk van de vraag.
                                        </p>
                                    </li>
                                    <li dir="ltr">
                                        <p dir="ltr">
                                            Uitbreidbaar
                                        </p>
                                    </li>
                                </ol>
                                <p dir="ltr">
                                    Als de basis ‘staat’ voor één type subsidie of ondersteuning, kunnen we het
                                    makkelijk uitbreiden met volgende regelingen. Zo hoeven ondernemers niet
                                    naar allerlei verschillende loketten.
                                </p>
                                <ol start="4">
                                    <li dir="ltr">
                                        <p dir="ltr">
                                            Toegankelijk
                                        </p>
                                    </li>
                                </ol>
                                <p dir="ltr">
                                    NLdesign voldoet aan de relevante WCAG 2.0-richtlijnen. Zie
                                    <a href="https://nl-design-system.gitlab.io/nl-design-system/index.html">
                                        https://nl-design-system.gitlab.io/nl-design-system/index.html
                                    </a>
                                </p>
                                <br/>
                                <p dir="ltr">
                                    Je kunt op deze manier allerlei formulieren maken die schaalbaar zijn. De
                                    mogelijkheden zijn onbegrensd.
                                </p>
                            </div><!-- ./col-heading -->
                        </div><!-- ./col-text -->
                    </div><!-- ./col -->
                    <div class="col-sm-10 col-md-5 col-lg-5">
                        <!-- <img src={{ asset('images/verhuizenproject.png') }} width="600px"> -->
                    </div><!-- ./col -->
                </div><!-- ./row -->
            </div><!-- ./container -->
        </div><!-- ./wrap-container -->


        {{  include('/widgets/contact.html.twig') }}


    {% endblock %}

