{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}

    <div class="wrap-container8040">
        <div class="container">

            <div class="post-heading-left">
                <h2>Partners</h2>
            </div><!-- ./post-heading-left -->
            
        </div>
    </div>
    <div class="wrap-container8040">
        <div class="container">

            <div class="post-heading-left">
                <h5>Coming soon</h5>
            </div><!-- ./post-heading-left -->

        </div>
    </div>




    {{  include('/widgets/contact.html.twig') }}



{% endblock %}

