{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block headercontent %}
    <!-- .header-content -->
    <div class="header-content">

        <!-- .container -->
        <!-- /.container -->
    </div><!-- /.header-content -->
{% endblock %}

{% block body %}
    <div class="wrap-container8040 bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-md-7 col-lg-7 ">
                    <div class="col-text20 margin-bottom20">
                        <div class="post-heading-left">
                            <h2 id="verhuizen" style="color: #4386FB">Environment Component</h2>
                            <a href="https://github.styleci.io/repos/206148674" target="_blank"><img src="https://github.styleci.io/repos/206148674/shield?branch=master" alt="StyleCI"></a>
                            <a href="https://github.com/ConductionNL/stufservice/actions?query=workflow%3A"Docker+Image+CI"" target="_blank"><img src="https://github.com/ConductionNL/stufservice/workflows/Docker%20Image%20CI/badge.svg?branch=master" alt="github"></a>
                 
                            <p>Het StuF component faciliteert een bidirectionele koppeling tussen Common Ground en “oude” StuF koppelingen. Dat doet het door het vertalen van API-vragen naar StuF, 
                            de antwoorden op deze StuF-berichten indien nodig te verrijken met andere StuF-berichten en dit resultaat weer terug te geven als API- resultaat (bijvoorbeeld JSON). 
                            Op deze manier is het mogelijk om “oude” applicaties tijdelijk het Common Ground landschap in te trekken indien dit nodig is.</p>

                            <p>Het component ondersteunt ook het bevragen van Common Ground API’s via StuF-berichten, in dat geval fungeert het als een soort van broker die tevens vertaalt.</p>

                            <br>
                            <br>
                            <a href="https://github.com/ConductionNL/stufservice" class="btn-custom btn-more-link " target="_blank"> Bekijk repository</a>
                            <a href="#" class="btn-custom btn-more-link " target="_blank"> bekijk documentatie</a>
                        </div><!-- ./col-heading -->
                    </div><!-- ./col-text -->
                </div><!-- ./col -->
                <div class="col-sm-10 col-md-5 col-lg-5">
                    <img src={{ asset('images/content/Componenten/stuf/1280w/Blauw_vlak.png') }} width="100%">
                </div><!-- ./col -->
            </div><!-- ./row -->
        </div><!-- ./container -->
    </div><!-- ./wrap-container -->


    {{ include('/widgets/contact.html.twig') }}


{% endblock %}

