{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}

    <div class="wrap-container8040">
        <div class="container">
            <div class="post-heading-left">
                <h2>Beschikbare vacatures</h2>
                <p>Coming soon!</p>
            </div>

            <div class="margin-top80 flex-s-b">

{#                <div>#}
{#                    <h3>Junior Software Developer</h3>#}
{#                    <p>Als junior software developer ben je bij Conduction verantwoordelijk voor het ontwikkelen en#}
{#                        onderhouden van onze producten. </p>#}
{#                </div>#}

{#                <div>#}
{#                    <a class="btn-custom" href="" >Solliciteer</a>#}
{#                </div>#}
            </div>
        </div>
    </div>

{% endblock %}

