{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}        

    <!-- .wrap-container -->
    <div class="wrap-container8040">
        
        <!-- .container -->
    	<div class="container">
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-10 col-md-6 col-lg-9 col-sm-offset-1 col-md-offset-0 text-center-sm text-center-xs">
                	<div class="margin-bottom40">
                    	<div class="post-heading-left text-center-sm text-center-xs">
                            <h2>Dat klinkt leuk maar wat betekent dat nu?</h2>
                        </div>
                        
                        <p> Onze webservice is een soort poort voor applicaties, zij kunnen hier berichten naar toe sturen en krijgen dan een bericht terug. Je kan het een beetje vergelijken met een loket waar je een vraag op een briefje afgeeft en vervolgens een briefje met antwoord terug krijgt. Dat klinkt simpel maar onderwater gebeurt natuurlijk veel meer. Zo wordt degene die het briefje heeft ingeleverd geïdentificeerd en gevalideerd, daarnaast wordt het briefje zelf verwerkt, dat kan een simpele vraag zijn (ik wil graag de gegevens van klant nr 16), waarbij een briefje met de benodigde gegevens wordt teruggegeven. Het kan ook een ingewikkelder vraag zijn (ik wil graag order 66 betalen via ideal), waarbij bijvoorbeeld eerst moeten worden gecontroleerd of er al een factuur is, als die er niet is, er een aanmaken, dan bij het loket van de bank een ander briefje ophalen voor de betaling en die dan weer, als onderdeel van het eigen briefje, teruggeven aan jou. Het kan dus zo zijn dat ons loket weer andere loketten of databases raadpleegt om het juiste antwoord te kunnen geven.</p>
						<p> Wat wij hiermee faciliteren is dat alle gebruikers van een platform, weergaven zoals dashboards, websites, Apps en portalen, hebben losgemaakt van de “logica” van de software. Met andere woorden, als wij een App bouwen hebben we het eigenlijk puur over een grafische weergave die onderwater niks anders doet dan berichtjes naar ons loket (webservice) sturen en het antwoord weergeven. Omdat wij functionaliteit altijd aan de webservice toevoegen, betekent dit dat nieuwe functionaliteiten ook direct uitgerold kunnen worden naar de andere gebruikers weergaven, zonder dat er ín die weergaven geprogrammeerd hoeft te worden. We kunnen wijzigingen zeer snel doorvoeren. We hoeven immers alleen steeds het loket aan te passen.</p> 
						<p class="margin-bottom30">Ieder platform heeft een eigen loket. Ieder loket heeft toegang tot een deel van de modules van Conduction. Deze modules kunnen worden uitgewisseld en door meerdere loketten tegelijk worden gebruikt. Uiteraard met afscherming van gegevens. Wat betekent dat? Nou stel dat we voor één van onze klanten een integratie bouwen waarmee faxberichten kunnen worden verstuurd, dan kunnen we deze integratie vervolgens ook toevoegen aan de loketten van andere klanten. Het voordeel voor onze klanten is driedelig:
						<ul>
							<li>We kunnen snel starten, een nieuw loket bouwen we immers niet, we verzamelen een reeks al bestaande modules en configureren deze opnieuw.</li>
							<li>Er word continu functionaliteit toegevoegd aan uw loket, waardoor uw pakket altijd actueel blijft.</li>
							<li>We zijn  zelf altijd op zoek zijn naar leuke en nuttige nieuwe modules, deze ontwikkelen we op onze kosten. </li>
						</ul>
						</p>
                    </div>
                </div>
                
                <div class="col-sm-10 col-md-6 col-lg-2 col-sm-offset-1 col-md-offset-0 col-lg-offset-1">
                	<figure class="col-img40 margin-bottom40 animation" data-animation="animation-fade-in-right">
                        <img src="../images/content/team/ruben_zakelijk.png" alt="Image">
                    </figure>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- .wrap-container end -->
    
    <!-- .wrap-container -->
    <div class="wrap-container8040 bg-grey">
        
        <!-- .container -->
    	<div class="container">
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-10 col-md-6 col-lg-2 col-sm-offset-1 col-md-offset-0">
                	<figure class="margin-bottom40 animation" data-animation="animation-fade-in-left">
                    	<img src="../images/content/team/dido_zakelijk.png" alt="Image">
                    </figure>
                </div>
                
                <div class="col-sm-10 col-md-6 col-lg-9 col-sm-offset-1 col-md-offset-0 col-lg-offset-1">
                	<div class="col-text20 margin-bottom20">
                    	<div class="post-heading-left margin-bottom20">
                            <h2>Portalen</h2>
                        </div>
                        
                        <p>Vanuit conduction geloven we in samen, in het verlengde daarvan geloven we ook in de samenwerking tussen de klant en zijn klant. De trend van de afgelopen jaren om klantportalen in te richten sluit hier perfect bij aan.</p>
						<p>Klantportalen stellen gebruikers in staat om zelf zaken rondom hun eigen gegevens online te regelen. Dit gaat verder dan de klassieke relatie klant/webshop, er kan bijvoorbeeld ook worden gedacht aan huurders van een woningbouwvereniging, bewoners van een buurt. Denk ook aan de driehoek van   uitzendkrachten, uitzendbureau en inleners. In principe zijn de de mogelijkheden eindeloos.</p>
						<p>We zetten portalen graag samen met u in om zowel informatie als het gebruik toegankelijk te maken.. Dit scheelt u veel werk en geeft tegelijkertijd gebruikers  meer controle. Denk bijvoorbeeld aan de mogelijkheid voor een uitzendkracht om zijn urenbriefjes online in te vullen en te kijken of de opdrachtgever zijn uren al heeft geaccordeerd. Of een huurder die de status van zijn aanvraag voor een nieuwe badkamer kan volgen.</p>
						<p>Omdat het inrichten van portalen een van de uitgangspunten was bij het bouwen van ons framework kennen we hier nauwelijks beperkingen in. In theorie kan iedere beschikbare functionaliteit naar portalen worden verlegd en kunnen portalen zo simpel of ingewikkeld worden opgebouwd als u zelf wilt. Ook is het mogelijk om op één platform meerdere portalen voor verschillende groepen naast elkaar te draaien, waarbij de functionaliteit per groep verschilt.</p></p>
                        <p class="margin-bottom30">Omdat we vanuit onze achtergrond beschikken over een uitgebreide import/export module om met andere systemen te communiceren, kunnen onze portalen ook indirect worden gebruikt om informatie vanuit gebruikers naar andere systemen door te zetten, of gegevens uit andere systemen in te zien.</p>
                    </div>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- .wrap-container end -->
    
{% endblock %}
    
    
    