{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}   
    
    <!-- .wrap-container -->
    <div class="wrap-container8040">
        
        <!-- .container -->
    	<div class="container">
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-10 col-md-6 col-lg-9 col-sm-offset-1 col-md-offset-0 text-center-sm text-center-xs">
                	<div class="margin-bottom40">
                    	<div class="post-heading-left text-center-sm text-center-xs">
                            <h2> De ideeënfabriek </h2>
                        </div>
                       
						<p>Conduction bedenkt, ontwikkelt en verzorgt de uitvoering van innovatieve (online) concepten. De rode lijn hierin, is ons web-based framework dat wij gebruiken om online oplossingen te realiseren. Dat betekent dat wij denken in digitale en online oplossingen, waarbij ‘samen’ het sleutelwoord is. Oftewel mensen met elkaar in contact brengen en om gezamenlijk oplossingen te vormen, op bestaande problemen of behoeften. Luisteren, doorvragen, onderzoeken en meedenken is wat wij graag doen, om vervolgens met concrete en creatieve voorstellen te komen. We zijn dan ook meer een ideeënfabriek dan een ICT bedrijf, met dat verschil dat we jou dan ook meteen ontzorgen met de uitvoering.
</p>
                       	
                    </div>
                </div>
                
                <div class="col-sm-10 col-md-6 col-lg-2 col-sm-offset-1 col-md-offset-0 col-lg-offset-1">
                	<figure class="col-img40 margin-bottom40 animation" data-animation="animation-fade-in-right">
                        <img src="../images/content/werkwijze/lab.png" alt="Image">
                    </figure>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- .wrap-container end -->
    
    <!-- .wrap-container -->
    <div class="wrap-container8040 bg-grey">
        
        <!-- .container -->
    	<div class="container">
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-10 col-md-6 col-lg-2 col-sm-offset-1 col-md-offset-0">
                	<figure class="margin-bottom40 animation" data-animation="animation-fade-in-left">
                    	<img src="../images/content/werkwijze/beleven.png" alt="Image">
                    </figure>
                </div>
                
                <div class="col-sm-10 col-md-6 col-lg-9 col-sm-offset-1 col-md-offset-0 col-lg-offset-1">
                	<div class="col-text20 margin-bottom20">
                    	<div class="post-heading-left margin-bottom20">
                            <h2>Innoveren is bedenken én beleven </h2>
                        </div>
                        
                        <p>Wij beginnen onze projecten graag met een concreet basisproduct in de vorm van een wireframe, een prototype. Een prototype zonder al te veel functionaliteit, maar waar je wel goed doorheen kan klikken. Het bevat dan ook vooral onze eerste interpretatie van de vraag, misschien zitten we er wel helemaal naast.. Waarom dan toch meteen een wireframe? Omdat we zo snel mogelijk de vraag willen valideren bij jou. Hierdoor halen we eventuele ruis snel uit de opdracht. We merken dat directe interactie met een product, kan helpen bij het visualiseren van de mogelijkheden. Hierdoor worden vragen concreter en helderder. Het geeft ons de mogelijkheid om een proces van co-creatie op te starten, waarin we in gesprekken en sessies met jou en andere gebruikers en stakeholders steeds meer vragen en wensen boven tafel halen. Hiervoor gebruiken we scrum cyclussen waarin we tijdens kleine sprints functionaliteit toevoegen aan het product, waarbij we continu met de klant (en gebruikers) afstemmen. Op deze manier bouwen we samen een product.
</p>
                        
                    </div>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- .wrap-container end -->
    
    
    <!-- .wrap-container -->
    <div class="wrap-container8040">
        
        <!-- .container -->
    	<div class="container">
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-10 col-md-6 col-lg-9 col-sm-offset-1 col-md-offset-0 text-center-sm text-center-xs">
                	<div class="margin-bottom40">
                    	<div class="post-heading-left text-center-sm text-center-xs">
                            <h2>Hoe meer zielen hoe meer vreugd
</h2>
                        </div>
                        
                        <p>Wij beseffen ons heel goed dat jij ongetwijfeld ook andere software gebruikt, naast die van ons. Er zullen altijd andere partijen zijn die ideeën en expertise hebben waar wij nooit aan gedacht hebben, waar zij gewoon beter in zijn, of die in een hoek zitten waar we zelf niet heen willen. Echter zullen er ook innovatieve initiatieven zijn die om techniek verlegen zitten. Vanuit deze gedachtegang stellen we onze webservice, de kern van het pakket en de daarbij behorende functionaliteiten, dan ook graag ter beschikking aan de andere partijen waar jij mee samenwerkt.
Via onze webservice is dit alles goed aan elkaar te koppelen. Wel plaatsen we hierbij natuurlijk de kanttekening dat we het goed over veiligheid en privacy moeten hebben met alle betrokken partijen.
We zien andere applicaties, software aanbieders en consultancy & project organisaties dus niet als onze concurrenten, eerder als vitale medespelers die allen onderdeel uitmaken van het IT ecosysteem dat we bij onze klanten aantreffen. We vinden het daarom belangrijk om goed samen te werken met de andere aanbieders, die binnen een organisatie actief zijn. Daarnaast zijn we ons er als kleine organisatie ook van bewust dat er vaak een behoefte is aan extra borging in de trant van projectbegeleiding door grotere consultancy bureaus. Hier werken we dus graag aan mee.
</p>
                        
                    </div>
                </div>
                
                <div class="col-sm-1 col-md-6 col-lg-2 col-sm-offset-1 col-md-offset-0 col-lg-offset-1">
                	<figure class="col-img40 margin-bottom40 animation" data-animation="animation-fade-in-right">
                        <img src="../images/content/werkwijze/liftoff.png" alt="Image">
                    </figure>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- .wrap-container end -->
    
    
    <!-- .wrap-container -->
    <div class="wrap-container8040 bg-grey hidden">
        
        <!-- .container -->
    	<div class="container">
            
            <!-- .row -->
            <div class="row">
                
                <div class="col-sm-10 col-md-6 col-lg-2 col-sm-offset-1 col-md-offset-0">
                	<figure class="margin-bottom40 animation" data-animation="animation-fade-in-left">
                    	<img src="../images/content/werkwijze/iot.png" alt="Image">
                    </figure>
                </div>
                
                <div class="col-sm-10 col-md-6 col-lg-9 col-sm-offset-1 col-md-offset-0 col-lg-offset-1">
                	<div class="col-text20 margin-bottom20">
                    	<div class="post-heading-left margin-bottom20">
                            <h2>Internet of things</h2>
                        </div>
                        
                        <p>Bij voorkeur werken we aan platformen waarin alle betrokken partijen zelf hun eigen deel kunnen inrichten, ze weten zelf het beste wat ze willen en vinden het ook prettig om bij hun eigen gegevens te kunnen. Vanuit onze platform gedachte denken we sterk in de context van ‘web of things’, daarbinnen zijn allemaal gespecialiseerde pakketten beschikbaar die wij via API’s integreren in ons eigen pakket. Denk hierbij bijvoorbeeld aan het versturen van SMS berichten, digitale handtekeningen, controleren van paspoorten, verloning, telefooncentrales je kan het bijna zo gek niet bedenken, of iemand heeft hier ooit een keer een webbased oplossing voor bedacht. Deze webbased pakketten integreren wij continu in ons eigen pakket, daarmee voorkomen we dat we dingen bouwen die reeds bestaan en maken we ons eigen pakket eigenlijk net zo veelzijdig als het internet zelf.</p>                       
                        
                    </div>
                </div>
                
            </div>
            <!-- .row end -->
            
        </div>
        <!-- .container end -->
        
    </div>
    <!-- .wrap-container end -->
    
{% endblock %}
    
    