<span class="footer__header"><h2>Contact</h2></span>
<ul class="list list--links list--chevrons footer__nav">
    <li><a href="#">Contact Formulier</a></li>
    <li><a href="#">Ik heb een tip!</a></li>
</ul>
