<span class="footer__header">Partners</span>
<ul class="list list--links list--chevrons footer__nav" >
    <li><a href="https://www.conduction.nl">Conduction</a></li>
    <li><a href="https://www.rabobank.nl">Rabobank</a></li>
    <li><a href="https://www.khn.nl">Koninklijke Horeca Nederland</a></li>
    <li><a href="https://www.commonground.nl">Commonground</a></li>
</ul>

