<span class="footer__header"><h2>Contact</h2></span>
<ul class="list list--links list--chevrons footer__nav">
    <li><a href="/contact">Contactformulier</a></li>
    <li><a href="/tip">Ik heb een tip!</a></li>
</ul>
