<span class="footer__header"><h2>Contact</h2></span>
<ul class="list list--links list--chevrons footer__nav">
    <li><a href="#" data-toggle="modal" data-target="#myModal" onclick="openModal()">Contactformulier</a></li>
    {%  include 'chin/modals/checkin_contact_modal.html.twig' %}
    <li><a href="#" data-toggle="modal" data-target="#myModal" onclick="openModal()">Ik heb een tip!</a></li>
    {%  include 'chin/modals/checkin_tip_modal.html.twig' %}
</ul>
