<span class="footer__header"><h2>Overige</h2></span>
<ul class="list list--links list--chevrons footer__nav">
    <li><a href="/techniek">Techniek</a></li>
    <li><a href="/cookies">Cookies</a></li>
    <li><a href="/privacy">Privacy</a></li>
    <li><a href="/proclaimer">Proclaimer</a></li>
</ul>
