<span class="footer__header"><h2>Contact</h2></span>
<ul class="list list--links list--chevrons footer__nav">
    <li><a href="#" data-toggle="modal" data-target="#contactModal" onclick="openModalContact()">Contactformulier</a></li>
    <li><a href="#" data-toggle="modal" data-target="#tipModal" onclick="openModalTip()">Ik heb een tip!</a></li>

    <div class="modal modal--backdrop" role="dialog" id="tipModal" tabindex="-1" aria-describedby="modal-description3">
        <section class="modal__content" role="document">
            <div id="modal-description3" class="screenreader-only">
                Dit is de beschrijving van de <span lang="en-US">modal</span>. De Escape knop annuleert en sluit het venster.
            </div>
            <header class="modal__title">
                <h1>Heeft u een tip voor ons ?</h1>
                <button class="modal__close-button">
                    <i class="icon icon-cross"></i>
                    Sluit
                </button>
            </header>
            <div class="modal__body" tabindex="0" lang="en-US">
                <div class="input input--horizontal">
                    <textarea required="" id="tip" name="tip" aria-describedby="hint_name" class="input__control input__control--text input__control--l"></textarea>
                </div>
                <button class="btn btn--primary">Bevestig</button>
            </div>
        </section>
    </div>

    <div class="modal modal--backdrop" role="dialog" id="contactModal" tabindex="-1" aria-describedby="modal-description3">
        <section class="modal__content" role="document">
            <div id="modal-description3" class="screenreader-only">
                Dit is de beschrijving van de <span lang="en-US">modal</span>. De Escape knop annuleert en sluit het venster.
            </div>
            <header class="modal__title">
                <h1>Neem hier contact met ons op!</h1>
                <button class="modal__close-button">
                    <i class="icon icon-cross"></i>
                    Sluit
                </button>
            </header>
            <div class="modal__body" tabindex="0" lang="en-US">
                <form method="post" action="{{ path('app_user_register') }}" name="thisForm">
                    <div class="input input--text">
                        <label class="input__label" for="titel">Titel</label>
                        <input required="" id="titel" name="titel" type="text" class="input__control input__control--m">
                    </div>
                    <div class="input">
                        <label class="input__label" for="tekst">Tekstveld</label>
                        <textarea required="" id="tekst" name="tekst" class="input__control input__control--m input__control--text"></textarea>
                    </div>
                    <div class="input input--text">
                        <input hidden="" id="@type" name="@type" value="iets" type="text" class="input__control input__control--m">
                    </div>
                    <div class="input input--text">
                        <input hidden="" id="@component" name="@component" value="iets" type="text" class="input__control input__control--m">
                    </div>
                    <div class="input input--text">
                        <input hidden="" id="request_type" name="request_type" value="iets" type="text" class="input__control input__control--m">
                    </div>

                    <button type="submit" class="btn btn--primary">Bevestig</button>
                </form>
            </div>

        </section>
    </div>

    <script>
        var tipModal;
        // Load modal component
        System.import('/uno/components/modal/modal.js').then(function (module) {
            tipModal = new module.Modal(document.getElementById('tipModal'));
        });

        // Called when the user clicks the button
        function openModalTip() {
            tipModal.open();
        }
    </script>

    <script>
        var contactModal;
        // Load modal component
        System.import('/uno/components/modal/modal.js').then(function (module) {
            contactModal = new module.Modal(document.getElementById('contactModal'));
        });

        // Called when the user clicks the button
        function openModalContact() {
            contactModal.open();
        }
    </script>
</ul>
