<h2>Waarom moet ik in inchecken?</h2>
<p>In verband met corona richtlijnen vanuit de rijksoverheid is de horeca verplicht om contact gegevens van gasten voor 14 dagen op te slaan.</p>
<p>Lees <a href="/about" style="text-decoration: underline">hier</a> meer over hoe we dat veilig doen.</p>
