<span class="footer__header">Contact</span>
<ul class="list list--links footer__nav">
    <li>E-mail: <a href="mailto:info@conduction.nl">info@conduction.nl</a></li>
</ul>

<form action="#" method="post">
    <div class="input input--text">
        <label class="input__label" for="name">{{ 'name'|trans|capitalize }}</label>
        <input id="name" name="name" type="text" class="input__control input__control--m input__control--search">
    </div>
    <div class="input input--text">
        <label class="input__label" for="email">E-mail</label>
        <input id="email" name="email" type="text" class="input__control input__control--m input__control--search">
    </div>

    <div class="input">
        <label class="input__label" for="message">{{ 'message'|trans|capitalize }}</label>
        <textarea id="message" name="message" class="input__control input__control--m input__control--text"></textarea>
    </div>

    <div class="input">
        <button type="submit" class="btn btn--primary">{{ 'verstuur'|trans|capitalize }}</button>
    </div>
</form>





