
                    <div class="row">
                        <div class="col-sm-6">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium,
                                blanditiis delectus doloremque ducimus earum eius expedita harum natus nesciunt nisi rerum, veniam?
                                Atque deleniti dignissimos eius eos error ex,
                                ipsum iure iusto labore neque officiis perferendis possimus quas ratione reprehenderit suscipit totam.
                                Ducimus ex excepturi impedit iste labore maiores voluptatem.
                                <br>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </p>
                        </div>
                        <div class="col-sm-6" style="display: flex; justify-content: center">
                            <img style="height: 150px; width: 250px;" src="https://images.unsplash.com/photo-1578269174936-2709b6aeb913?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80" alt="">
                        </div>
                    </div>

                    <h2>Gemeente van de toekomst</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Beatae eligendi molestiae non porro vitae. Asperiores assumenda atque est exercitationem id in iste iure,
                        nihil officiis quisquam rerum sequi suscipit tempora. Commodi quo repellendus similique voluptate!
                        <br>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia nobis numquam quod! Accusantium commodi,
                        facere impedit magnam mollitia non quam quis quo reiciendis! Beatae blanditiis consequuntur eum fugiat nulla quis.
                    </p>

                    <h2>Blijven verbeteren</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Beatae blanditiis quaerat quasi. Ab accusantium aperiam autem deleniti dignissimos dolores et harum hic illum in,
                        laudantium magnam minima minus modi mollitia neque nesciunt odio pariatur perspiciatis provident quaerat ratione
                        rem repudiandae saepe sed sequi sit tempora temporibus ullam ut! Amet autem commodi debitis molestias necessitatibus
                        odit quaerat repudiandae sit, soluta voluptates.
                    </p>
