{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    <article>
        <div class="row">
            <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                <div class="content-background">
                    <div class="content">
                        <h1>Gemeente Zuid drecht gaat over op groene stroom</h1>
                        <span class="meta">24 juni 2020</span>
                        <div class="row">
                            <div class="col-sm-6">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Accusantium ad, architecto assumenda atque, autem corporis dolores eius fuga fugit inventore libero,
                                    <br>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, exercitationem libero perspiciatis tempore veritatis voluptate?
                                </p>
                            </div>
                            <div class="col-sm-6" style="display: flex; justify-content: center">
                                <img style="height: 150px; width: 250px;" src="https://images.unsplash.com/photo-1511497584788-876760111969?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" alt="">
                            </div>
                        </div>

                        <h2>Goed voor het milieu</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            A qui sunt vero! Accusantium cupiditate, itaque iusto maiores minus nisi possimus quibusdam!
                            Ad eius fugiat harum id laborum saepe voluptas. Autem deserunt excepturi itaque laboriosam nam possimus quae quidem.
                        </p>

                        <h2>Meedere alternatieven</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Accusantium alias atque autem enim illo ipsam itaque nam neque,
                            nisi obcaecati officiis optio pariatur placeat recusandae reprehenderit similique tempore.
                            Accusamus adipisci aspernatur at beatae blanditiis commodi consectetur deserunt eius enim excepturi,
                            in inventore magnam perferendis quam, quo reprehenderit, similique ullam veniam voluptatibus voluptatum.
                            Ducimus earum eligendi ipsum natus quia ullam voluptate.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}
