{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    <article>
        <div class="row">
            <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                <div class="content-background">
                    <div class="content">
                        <h1>Huwelijksplanner</h1>
                        <span class="meta">21 juni 2020</span>
                        <div class="row">
                            <div class="col-sm-6">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Accusantium ad, architecto assumenda atque, autem corporis dolores eius fuga fugit inventore libero,
                                    magnam minima mollitia quae quibusdam ratione rem rerum sed. Alias aperiam aspernatur consequuntur cum ducimus ex in,
                                    ipsam nemo quas quasi repellendus reprehenderit, sit voluptatibus? Illo optio repudiandae vitae.
                                    <br>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, exercitationem libero perspiciatis tempore veritatis voluptate?
                                </p>
                            </div>
                            <div class="col-sm-6" style="display: flex; justify-content: center">
                                <img style="height: 150px; width: 250px;" src="https://images.unsplash.com/photo-1553915632-175f60dd8e36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
                            </div>
                        </div>

                        <h2>Helpen bij het indienen van een huwelijk</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            A qui sunt vero! Accusantium cupiditate, itaque iusto maiores minus nisi possimus quibusdam!
                            Ad eius fugiat harum id laborum saepe voluptas. Autem deserunt excepturi itaque laboriosam nam possimus quae quidem.
                            Cupiditate doloribus fuga illum ipsam, labore laboriosam molestias optio quam qui recusandae repellendus tempora voluptatibus?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}
