{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        {% if application.defaultconfiguration.configuration.nieuws is defined %}
            {% set nieuws = commonground_resource(application.defaultconfiguration.configration.nieuws) %}
            {% set templates = commonground_resourcelist(['component'=>'wrc', 'type'=>'templates'],['templateGroups.id' => nieuws.id, 'order[dateCreated]' => 'desc']) %}
            {% for template in templates %}
                {% set slug = commonground_resource(['component'=>'wrc', 'type'=>'slugs'],['template.id' => template.id])%}
                <div class="col-sm-3">
                    <div class="card">
                        <a href="{{ slug.slug }}" class="card__content">
                            <div class="card__thumb" style="background-image: url(https://images.unsplash.com/photo-1497008386681-a7941f08011e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80)"></div>
                            <div class="card__body">
                                <span class="card__title">{{ template.description }}</span>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
