{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    <h1>Aantal woninginbraken daalt flink in zuid-drecht</h1>
    <span class="meta">22 juni 2020</span>
    <div class="row">
        <div class="col-sm-6">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusantium ad, architecto assumenda atque, autem corporis dolores eius fuga fugit inventore libero,
                magnam minima mollitia quae quibusdam ratione rem rerum sed. Alias aperiam aspernatur consequuntur cum ducimus ex in,
                ipsam nemo quas quasi repellendus reprehenderit, sit voluptatibus? Illo optio repudiandae vitae.
                <br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, exercitationem libero perspiciatis tempore veritatis voluptate?
            </p>
        </div>
        <div class="col-sm-6">
            <img style="height: 150px; width: 250px;" src="https://images.unsplash.com/photo-1590998038961-a496353e8578?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80" alt="">
        </div>
    </div>

    <h2>Wat is de volgende stap?</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Beatae eligendi molestiae non porro vitae. Asperiores assumenda atque est exercitationem id in iste iure,
        nihil officiis quisquam rerum sequi suscipit tempora. Commodi quo repellendus similique voluptate!
    </p>
{% endblock %}
