{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}        

    {% include 'widgets/slack.html.twig' %}
    <!-- .wrap-container -->
    <div class="wrap-container8040">        
        <!-- .container -->
    	<div class="container">            
            <!-- .row -->
            <div class="row">                
                <div class="col-md-12 text-center-sm text-center-xs">
                	<div class="margin-bottom40">
                    	<div class="post-heading-left text-center-sm text-center-xs">
                            <h2>Conduction tekent groeipact Common Ground</h2>
                        </div>
                       
                        <h4>Afgelopen woensdag heeft conduction het Common Ground groeipact getekend, het groeipact heeft als doel om leveranciers en afnemers te verbinden in een gemeenschappelijke visie op common ground.</h4>
                            
                        <p>We zijn blij dat het gelukt is om met zoveel verschillende partijen een gemeenschappelijke visie te ontwikkelen over hoe we de toekomst van gemeentelijke ICT gaan inrichten. En vinden het een eer dat we daar op deze manier aan mogen deelnemen.</p>

						<p>Wat ons betreft is dit een mooie aanzet, maar komt het nu neer op de praktijk. Als Conduction zullen we ons in ieder geval samen met onze partners zoals de Gemeente Utrecht, &lsquo;s Hertogenbosch en Eindhoven blijven inzetten om componenten en testomgevingen voor Gemeenten vrij toegankelijk te houden. Daarnaast zijn we nu samen met onze partners aan het kijken naar welke componenten er nog nodig zijn om de Nederlandse gemeente klaar te maken voor Open Source en de wereld van Rest Api&rsquo;s </p>
                        
                        <p>Lees <a href="http://www.conduction.nl/common-ground">hier</a> meer over de visie van Conduction op common ground en kijk <a href="https://common-ground.dev/">hier</a> voor alle componenten die conduction op dit moment al open source en vrij beschikbaar voor Common Ground aanbiedt.</p>
                        
                        <p>Aanvullende bronnen: <br/>- <a href="https://commonground.nl/news/view/54476653/eerste-partijen-ondertekenen-groeipact-common-ground">VNG persbericht groeipact Common Ground</a> <br/>- <a href="https://commonground.nl">Website common ground</a></p>
                    </div>
                </div>
                
            </div>
            <!-- .row end -->     
            <!-- .row -->   
            <div class="row">                
                <div class="col-md-12 text-center-sm text-center-xs">    
                    {% include 'widgets/share.html.twig' %}               
                </div>                
            </div>  
            <!-- .row end -->   
        </div>
        <!-- .container end -->        
    </div>
    <!-- .wrap-container end -->
    
    {% include 'widgets/newsletter.html.twig' %}
    {% include 'widgets/contact.html.twig' %}
    
{% endblock %}
    
    
    
