<div style="background-color: #F5F5F5; width: 100%; padding: 5px; max-width: 1200px;">
    <div class="container" style="width: 80%; background-color: white; margin-left: auto; margin-right: auto;">
        <div style="width: 100%; height: fit-content; background-color: #01689B">
            <h1 style="color: white; font-family: Verdana,serif; margin-left: 30px; padding-top: 15px; padding-bottom: 15px; ">Checking</h1>
        </div>
        <div style="margin-left: 30px; margin-right: 30px;">
            <p>Beste {% if receiver.givenName is defined  %}{{ receiver.givenName }}{% endif %},</p>

            <p>Uw verzoek met referentie {% if resource.reference is defined  %}{{ resource.reference }} is geannuleerd{% endif %}.</p>

            <p>Met vriendelijke groet,</p>
            {% if sender.name is defined  %}{{ sender.name }}{% endif %}
            <br>
        </div>
    </div>
</div>
