Beste {% if receiver.givenName is defined  %}{{ receiver.givenName }}{% endif %},

<p>Uw verzoek met referentie {% if resource.reference is defined  %}{{ resource.reference }} is geannuleerd.</p>

<p>Met vriendelijke groet,</p>
{% if sender.name is defined  %}{{ sender.name }}{% endif %}
