Beste gebruiker,

<p>U kunt <a href="{% if resource is defined %}{{ resource }}{% endif %}">hier</a> klikken om uw wachtwoord te resetten.</p>

<p>Met vriendelijke groet,</p>
{% if sender is defined  %}{{ sender }}{% endif %}
