Beste {% if receiver.givenName is defined  %}{{ receiver.givenName }}{% endif %},

<p>U kunt uw wachtwoord resetten door op de volgende link te drukken:</p>
<p>{% if variables.resource is defined %}{{ variables.resource }}{% endif %}</p>
<p>Met vriendelijke groet,</p>
{% if variables.sender is defined  %}{{ variables.sender }}{% endif %}
