Beste {% if receiver.givenName is defined  %}{{ receiver.givenName }}{% endif %},

<p>U kunt uw wachtwoord resetten door op de volgende link te drukken:</p>
<p>{% if resource is defined %}{{ resource }}{% endif %}</p>
<p>Met vriendelijke groet,</p>
{% if sender is defined  %}{{ sender }}{% endif %}
