Beste {{ receiver.givenName }},

<p>Er is zojuist een poging gedaan om deel te nemen aan checkin met uw email adres</p>
<p>Bent u uw wachtwoord vergeten? Klik dan <a href="https://dev.checking.nu/me">hier</a> om uw wachtwoord te wijzigen.</p>
<p>Heeft u deze aanvraag niet zelf opgestart neem dan contact op met <a href="mailto:security@conduction.nl"></a>security@conduction.nl</p>

<p>Met vriendelijke groet,</p>
{{ sender.name }}
