{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    <section class="row">
        <header class="content__header">
            <h1 class="content__header-title">{{ 'personal'|trans|capitalize }}</h1>
        </header>
    </section>


    <div class="row">
        <aside class="col-xl-3 col-lg-4 col-md-3 col-sm-modal">
            <nav class="sidenav">
                {% include 'uc/widgets/menu.html.twig' %}
            </nav>
        </aside>

        <div class="col-xl-9 col-lg-8 col-md-9">
            <div class="content-background">
                <div class="content">
                </div>
            </div>
        </div>
    </div>

{% endblock %}
