<span class="footer__header">Westfriese gemeenten <br> West-Friesland</span>
<ul class="list list--links list--chevrons footer__nav" >
    <li><a style="color: white; background: #233A79" href="https://www.hoorn.nl/" target="_blank">Hoorn</a></li>
    <li><a style="color: white; background: #233A79" href="https://www.koggenland.nl" target="_blank">Koggenland</a></li>
    <li><a style="color: white; background: #233A79" href="https://www.medemblik.nl" target="_blank">Medemblik</a></li>
    <li><a style="color: white; background: #233A79" href="https://www.opmeer.nl" target="_blank">Opmeer</a></li>
    <li><a style="color: white; background: #233A79" href="https://www.drechterland.nl" target="_blank">Drechterland</a></li>
    <li><a style="color: white; background: #233A79" href="https://www.enkhuizen.nl" target="_blank">Enkhuizen</a></li>
    <li><a style="color: white; background: #233A79" href="https://www.stedebroec.nl" target="_blank">Stede Broec</a></li>
</ul>

