<span class="footer__header">Contact gegevens</span>
<ul class="list list--links footer__nav">
    <li>Gemeente Hoorn</li>
    <li>Adres: Nieuwe Steen 1</li>
    <li>Postcode: 1620 AR Hoorn</li>
</ul>
<br>
<ul class="list list--links footer__nav">
    <li>Telefoonnummer: 0229 - 252200</li>
    <li>E-mail: <a style="color: white ;background: #233A79" href="mailto:info@regiowestfriesland.nl">info@regiowestfriesland.nl</a></li>
</ul>


