<span class="footer__header">Nieuwsbrief</span>
<form action="#" method="post">

    <div class="input">
        <label class="input__label" for="naam">Naam</label>
        <input required="" type="naam" id="naam" class="input__control input__control--text input__control--m">
    </div>

    <div class="input">
        <label class="input__label" for="email">E-mailadres</label>
        <input required="" type="email" id="email" class="input__control input__control--text input__control--m">
    </div>

    <div class="input">
        <button type="submit" class="btn btn--primary">Inschrijven</button>
    </div>
</form>
