<span class="footer__header">Partners</span>
<ul class="list list--links list--chevrons footer__nav">
    <li><a style="color: white; background: #233A79" href="https://www.regiowestfriesland.nl" target="_blank">West-Friesland</a></li>
    <li><a style="color: white; background: #233A79" href="https://www.htasoftware.eu" target="_blank">HTA</a></li>
    <li><a style="color: white; background: #233A79" href="https://www.conduction.nl" target="_blank">Conduction</a></li>
</ul>

<span class="footer__header">Juridisch</span>
<ul class="list list--links list--chevrons footer__nav">
    <li><a style="color: white; background: #233A79" href="#">Over</a></li>
    <li><a style="color: white; background: #233A79" href="#">Privacy</a></li>
    <li><a style="color: white; background: #233A79" href="#">Disclaimer</a></li>
</ul>

