<h1>Verwerkers-overeenkomst </h1>
<p>Conduction</p>


<p><strong>Bestaande uit: </strong></p>
<p><strong>Deel 1. Data Pro Statement</strong></p>
<p><strong>Deel 2. Standaardclausules voor verwerkingen</strong></p>

<p style="margin-top: 20px"></p>

<p>Deel 1: Data Pro Statement</p>
<p>Dit Data Pro Statement vormt samen met de Standaardclausules voor verwerkingen de verwerkersovereenkomst voor het product of de dienst van het bedrijf dat dit Data Pro Statement heeft opgesteld.</p>

<p></p>

<p>Algemene informatie</p>

<ol>
    <li>
        <p><strong>Dit Data Pro Statement is opgesteld door de volgende data processor (verwerker):</strong></p>
        <p>Conduction B.V. gevestigd op de Emmalaan 7 te Amsterdam</p>
        <p>Voor vragen over dit Data Pro Statement of dataprotectie kan contact opgenomen worden met:</p>
        <p>Matthias Oliveiro (privacy@conduction.nl)</p>
    </li>
    <li>
        <p><strong>Dit Data Pro Statement geldt vanaf 28-09-2020 versie 1.0</strong></p>
        <p>Dit Data Pro Statement en de daarin omschreven beveiligingsmaatregelen passen wij regelmatig aan om ten aanzien van data protectie steeds voorbereid en actueel te blijven. Wij houden u op de hoogte van nieuwe versies via onze normale kanalen</p>
    </li>
    <li>
        <p><strong>Dit Data Pro Statement is van toepassing op de volgende producten en diensten van data processor span.</strong></p>
        <p>Checking</p>
    </li>
    <li>
        <p><strong>Omschrijving Checking</strong></p>
        <p>Checking is een makkelijke en veilige manier van het beschikbaar stellen van persoonlijke gegevens in het kader van een mogelijk bron- en contactonderzoek door de GGD. Wat Checking anders maakt is dat bezoekers zij/haar gegevens niet overdraagt, maar in plaats daarvan ze tijdelijk ter beschikking stelt in een datakluis. De gegevens worden daar slechts uitgehaald op verzoek van de GGD en dan ook alleen aan de GGD verstrekt. Op die manier voorkomen we dat contactgegevens overal rondslingeren met alle gevolgen van dien.</p>
    </li>
    <li>
        <p><strong>Checking is ontworpen en ingericht om er de volgende soort gegevens mee te verwerken:</strong></p>
        <p>Voornaam, Achternaam, emailadres en telefoonnumme</p>
        <p></p>
        <ul>
            <li>
                <p>Bij dit product/deze dienst is rekening geen rekening gehouden met de verwerking van bijzondere persoonsgegevens, of gegevens betreffende strafrechtelijke veroordelingen en strafbare feiten of door de overheid uitgegeven persoonsnummers.</p>
            </li>
        </ul>
    </li>
</ol>

<p></p>

<p>[Optie:] Data processor heeft bij het ontwerpen van het product/de dienst privacy by design/privacy by default op de volgende wijze toegepast:</p>

<p>[omschrijf hier op welke manier privacy by design/privacy by default is toegepast]</p>

<p></p>

<p>[Keuze:] Data processor gebruikt de Standaardclausules voor verwerkingen, welke als bijlage bij de Overeenkomst te vinden zijn.    of    Data Processor gebruikt NIET de Standaardclausules voor verwerkingen, maar gebruikt in plaats daarvan de [naam eigen verwerkersovereenkomst], welke als bijlage bij de Overeenkomst te vinden zijn/integraal verwerkt is in de Overeenkomst.</p>

<p></p>

<p>[Keuze:] Data processor verwerkt de persoonsgegevens van zijn opdrachtgevers binnen de EU/EER.    of    Data Processor verwerkt de persoonsgegevens (gedeeltelijk) buiten de EU/EER. De Data processor heeft op de volgende manier geborgd dat een passend beschermingsniveau van toepassing is:</p>

<p>Voor dit land/gebied/sector/internationale organisatie is een adequaatheidsbesluit van de Europese Commissie van toepassing;</p>

<p>De organisatie heeft zich aangesloten bij Privacy Shield;</p>

<p>Data processor heeft bindende bedrijfsvoorschriften [link/verwijzing naar bindende bedrijfsvoorschriften opnemen];</p>

<p>Data processor heeft met de partij in het derde land vastgestelde standaardbepalingen afgesloten [link/verwijzing naar standaardbepalingen opnemen];</p>

<p>Data Processor heeft zich in het derde land aangesloten bij de volgende goedgekeurde gedragscode: [link naar relevante gedragscode/informatie opnemen]</p>

<p>Data Processor heeft zich in het derde land aangesloten bij het volgende goedgekeurde certificaat: [link naar relevant certificaat/informatie opnemen]</p>

<p></p>

<p>Data processor maakt gebruik van de volgende sub-processors:</p>

<p>[lijst met sub-processors, of link naar lijst. Per sub-processor aangeven of gegevens binnen of buiten EU/EER verwerkt worden en welke afspraken daarmee zijn gemaakt om een passend beschermingsniveau te waarborgen. Met elke sub-processor buiten de EU/EER moet ten minste 1 afspraak uit het lijstje onder nummer 8 gemaakt zijn.] [evt.: mogelijkheid tot doorklikken naar data pro statement of privacy informatie van sub-processor].</p>

<p></p>

<p>[Optie:] Data processor ondersteunt opdrachtgever op de volgende manier bij verzoeken van betrokkenen:</p>

<p>[uitwerken op welke wijze inzage-, correctie- en verwijderverzoeken vergemakkelijkt worden, en hoe een opdrachtgever een dataportabiliteitsverzoek kan uitvoeren]</p>

<p></p>

<p>[Optie:] Data processor zal op de volgende wijze medewerking verlenen aan Data Privacy Impact Assessments:</p>

<p>[indien hiervoor een standaardprocedure is opgesteld, omschrijf dan wat deze inhoudt. Indien er geen standaardprocedure is, kan deze optie worden weggelaten].</p>

<p></p>

<p>Na be&euml;indiging van de Overeenkomst met een opdrachtgever verwijdert data processor de persoonsgegevens die hij voor opdrachtgever verwerkt in principe binnen [3 maanden] op zodanige wijze dat deze niet langer kunnen worden gebruikt en niet langer toegankelijk zijn (render inaccessible).</p>

<p>[als termijn langer is dan 3 maanden hier toelichten waarom]</p>

<p>[optie: uitleg op welke wijze gegevens verwijderd worden]</p>

<p></p>

<p>[Optie, indien klant dit wenst:] Na be&euml;indiging van de Overeenkomst met opdrachtgever retourneert data processor alle persoonsgegevens die hij voor opdrachtgever verwerkt binnen 3 maanden op de volgende manier:</p>

<p>[optie: uitleg op welke wijze gegevens worden geretourneerd]</p>

<p></p>

<p>Beveiligingsbeleid</p>

<p>Data processor heeft de volgende beveiligingsmaatregelen genomen ter beveiliging van zijn product of dienst:</p>

<p>[omschrijf hier de beveiligingsmaatregelen of verwijs naar een document met (een samenvatting van) de beveiligingsmaatregelen. In het dataprotectiebeleid moeten in ieder geval de volgende onderwerpen aan bod komen (pas toe of leg uit waarom het anders is):</p>

<p>Persoonsgegevens worden wel/niet gepseudonimiseerd. Leg uit hoe.</p>

<p>Persoonsgegevens worden wel/niet versleuteld opgeslagen.</p>

<p>Hoe wordt vertrouwelijkheid, integriteit, beschikbaarheid en veerkracht van het product of de dienst geborgd;</p>

<p>Hoe wordt geborgd dat bij een incident de beschikbaarheid van en de toegang tot de persoonsgegevens tijdig hersteld wordt.]</p>

<p></p>

<p>Data processor heeft zich geconformeerd aan het volgende Information Security Management System (ISMS):  [verwijderen wat niet van toepassing is of vul aan]</p>

<p>NEN-ISO 27001</p>

<p>ISO/IEC 27034:2011</p>

<p>ISO27017</p>

<p>NEN 7510, NEN 7512, NEN 7513 (voor zorg)</p>

<p>PCI/DSS</p>

<p>cyber essentials standard</p>

<p>OWASP;</p>

<p>ASVS;</p>

<p>BIG (Baseline Informatiebeveiliging Gemeenten)</p>

<p>BIR (Baseline Informatiebeveiliging Rijksdienst)</p>

<p>British Standards Institution (BSI) PAS 754</p>

<p>BSIMM</p>

<p>Microsoft Security Development Lifecycle</p>

<p>Grip op SSD</p>

<p>Framework Secure Software (Secure Software Alliance)</p>

<p>NCSC Webrichtlijnen</p>

<p>ZekerOnline normenkader</p>

<p>ISMS Nederland ICT</p>

<p>Anders, namelijk: ...</p>

<p></p>

<p>Data processor heeft de volgende certificeringen:</p>

<p>Data Pro Certificate</p>

<p>ISO 27001</p>

<p>NEN 7510</p>

<p>&#8230;</p>

<p>[aanvullen met alle relevante privacycertificaten die data processor heeft, verwijderen wat niet relevant is/indien geen certificaten dan kan dit onderdeel worden weggelaten].</p>

<p></p>

<p>Datalekprotocol</p>

<p>In geval er toch iets mis gaat, hanteert data processor het volgende datalekprotocol om ervoor te zorgen dat opdrachtgever op de hoogte is van incidenten:</p>

<p>Protocol melden datalek - Checking</p>

<p>1. Inleiding Bij een datalek zijn persoonsgegevens blootgesteld aan verlies of onrechtmatige verwerking. Het kan gaan om een kwijtgeraakte USB-stick of een gestolen laptop met persoonsgegevens, maar ook om een inbraak in een datasysteem of per ongeluk verstrekte toegang tot gegevens aan personen of instanties die daartoe geen toegang zouden mogen hebben. Het verzenden van een e-mail aan een adressenbestand waarin alle e-mailadressen voor iedereen zichtbaar zijn is ook al een datalek. Als sprake is van een ernstig datalek, dan zijn we op grond van de Algemene verordening gegevensbescherming (AVG) verplicht om dit te melden aan de Autoriteit Persoonsgegevens en soms ook aan de betrokkenen. Om te zorgen voor een eenduidig beleid binnen onze organisatie en om te voorkomen dat datalekken die wel gemeld hadden moeten worden, dat niet worden en dat datalekken die niet gemeld hoeven te worden, dat wel worden, heeft Conduction B.V. ervoor gekozen de meldingen centraal te laten verlopen via het meldpunt datalek de privacy officers.</p>

<p>2. Het meldpunt datalek de privacy officers De leden van het meldpunt datalek privacy officers] zijn:  Matthias Oliveiro. De meldingen kunnen worden ingediend bij:  privacy@conduction.nl </p>

<p>3. Het protocol 3.1 Onmiddellijk nadat een medewerker/vrijwilliger ontdekt of ter ore komt dat sprake kan zijn van verlies of onrechtmatige verwerking van persoonsgegevens binnen Checking, meldt hij dat aan het meldpunt datalek de privacy officers. 3.2 Het meldpunt datalek de privacy officer beslist of sprake is van een (mogelijk) datalek en zo ja, of dit datalek moet worden gemeld bij de Autoriteit Persoonsgegevens en/of bij de betrokkene(n).</p>

<p>3.3 Het meldpunt datalek de privacy officer draagt zo nodig zorg voor de melding aan de Autoriteit Persoonsgegevens en/of de betrokkene(n). Het is de werknemer niet toegestaan om het (mogelijke) datalek zelf aan de Autoriteit Persoonsgegevens en/of de betrokkene(n) te melden. </p>

<p>3.4 Als de medewerker/vrijwilliger het niet eens is met de beslissing van het meldpunt datalek de privacy officer om het (mogelijke) datalek wel - of niet te melden aan de Autoriteit Persoonsgegevens en/of de betrokkene(n), dan richt hij zich tot de directie.</p>

<p></p>

<p></p>

<p></p>

<p>Pagina-einde </p>

<p>Deel 2: Standaardclausules voor verwerkingen</p>

<p>Versie: september 2019</p>

<p>Vormt samen met het Data Pro Statement de verwerkersovereenkomst en is een bijlage bij de Overeenkomst en de daarbij behorende bijlagen zoals toepasselijke algemene voorwaarden.</p>

<p>Artikel 1.Definities</p>

<p>Onderstaande begrippen hebben in deze Standaardclausules voor verwerkingen, in het Data Pro Statement en in de overeenkomst de volgende betekenis:</p>

<p>Autoriteit Persoonsgegevens (AP): toezichthoudende autoriteit, zoals omschreven in artikel 4, sub 21 Avg.</p>

<p>Avg: de Algemene verordening gegevensbescherming.</p>

<p>Data Processor: partij die als ICT-leverancier in het kader van de uitvoering van de Overeenkomst als verwerker Persoonsgegevens verwerkt ten behoeve van diens Opdrachtgever.</p>

<p>Data Pro Statement: statement van Data Processor waarin hij onder andere informatie geeft met betrekking tot het beoogd gebruik van zijn product of dienst, getroffen beveiligingsmaatregelen, sub-processors, datalekken, certificeringen en omgang met rechten van Data subjects.</p>

<p>Data subject (betrokkene): een ge&iuml;dentificeerde of identificeerbare natuurlijke persoon.</p>

<p>Opdrachtgever: partij in wiens opdracht Data Processor persoonsgegevens verwerkt. De Opdrachtgever kan zowel verwerkingsverantwoordelijke (&ldquo;controller&rdquo;) zijn als een andere verwerker.</p>

<p>Overeenkomst: de tussen Opdrachtgever en Data Processor geldende overeenkomst, op basis waarvan de ICT-leverancier diensten en/of producten levert aan Opdrachtgever, waarvan de verwerkersovereenkomst onderdeel vormt.</p>

<p>Persoonsgegevens: alle informatie over een ge&iuml;dentificeerde of identificeerbare natuurlijke persoon, zoals omschreven in artikel 4, sub 1 Avg, die Data Processor in het kader van de uitvoering van zijn verplichtingen voortvloeiende uit de Overeenkomst verwerkt.</p>

<p>Verwerkersovereenkomst: deze Standaardclausules voor verwerkingen, die tezamen met het Data Pro Statement (of vergelijkbare informatie) van Data Processor de verwerkersovereenkomst vormen als bedoeld in artikel 28, lid 3 Avg.</p>

<p></p>

<p>Artikel 2. Algemeen</p>

<p>Deze Standaardclausules voor verwerkingen zijn van toepassing op alle verwerkingen van Persoonsgegevens die Data Processor doet in het kader van de levering van zijn producten en diensten en op alle Overeenkomsten en aanbiedingen. De toepasselijkheid van verwerkersovereenkomsten van Opdrachtgever wordt uitdrukkelijk van de hand gewezen.</p>

<p>Het Data Pro Statement, en met name de daarin opgenomen beveiligingsmaatregelen, kan van tijd tot tijd door Data Processor worden aangepast aan veranderende omstandigheden. Data Processor zal Opdrachtgever van significante aanpassingen op de hoogte stellen. Indien Opdrachtgever in redelijkheid niet akkoord kan gaan met de aanpassingen, is Opdrachtgever gerechtigd binnen 30 dagen na kennisgeving van de aanpassingen de verwerkersovereenkomst schriftelijk gemotiveerd op te zeggen.</p>

<p>Data Processor verwerkt de Persoonsgegevens namens en in opdracht van Opdrachtgever overeenkomstig de met Data Processor overeengekomen schriftelijke instructies van Opdrachtgever.</p>

<p>Opdrachtgever, dan wel diens klant, is de verwerkingsverantwoordelijke in de zin van de Avg, heeft de zeggenschap over de verwerking van de Persoonsgegevens en heeft het doel van en de middelen voor de verwerking van de Persoonsgegevens vastgesteld.</p>

<p>Data Processor is verwerker in de zin van de Avg en heeft daarom geen zeggenschap over het doel van en de middelen voor de verwerking van de Persoonsgegevens en neemt derhalve geen beslissingen over onder meer het gebruik van de Persoonsgegevens.</p>

<p>Data Processor geeft uitvoering aan de Avg zoals neergelegd in deze Standaardclausules voor verwerkingen, het Data Pro Statement en de Overeenkomst. Het is aan Opdrachtgever om op basis van deze informatie te beoordelen of Data Processor afdoende garanties biedt met betrekking tot het toepassen van passende technische en organisatorische maatregelen opdat de verwerking aan de vereisten van de Avg voldoet en de bescherming van de rechten van Data subjects voldoende zijn gewaarborgd.</p>

<p>Opdrachtgever staat er tegenover Data Processor voor in dat hij conform de Avg handelt, dat hij zijn systemen en infrastructuur te allen tijde adequaat beveiligt en dat de inhoud, het gebruik en/of de verwerking van de Persoonsgegevens niet onrechtmatig zijn en geen inbreuk maken op enig recht van een derde.</p>

<p>Een aan Opdrachtgever door de AP opgelegde bestuurlijke boete kan niet worden verhaald op Data Processor.</p>

<p></p>

<p>Artikel 3. Beveiliging</p>

<p>Data Processor treft de technische en organisatorische beveiligingsmaatregelen, zoals omschreven in zijn Data Pro Statement. Bij het treffen van de technische en organisatorische beveiligingsmaatregelen heeft Data Processor rekening gehouden met de stand van de techniek, de uitvoeringskosten van de beveiligingsmaatregelen, de aard, omvang en de context van de verwerkingen, de doeleinden en het beoogd gebruik van zijn producten en diensten, de verwerkingsrisico&rsquo;s en de qua waarschijnlijkheid en ernst uiteenlopende risico&rsquo;s voor de rechten en vrijheden van Data subjects die hij gezien het beoogd gebruik van zijn producten en diensten mocht verwachten.</p>

<p>Tenzij expliciet anders vermeld in het Data Pro Statement is het product of de dienst van Data Processor niet ingericht op de verwerking van bijzondere categorie&euml;n van Persoonsgegevens of gegevens betreffende strafrechtelijke veroordelingen of strafbare feiten of door de overheid uitgegeven persoonsnummers.</p>

<p>Data Processor streeft ernaar dat de door hem te treffen beveiligingsmaatregelen passend zijn voor het door Data Processor beoogde gebruik van het product of de dienst.</p>

<p>De omschreven beveiligingsmaatregelen bieden, naar het oordeel van de Opdrachtgever, rekening houdend met de in artikel 3.1 genoemde factoren een op het risico van de verwerking van de door hem gebruikte of verstrekte Persoonsgegevens afgestemd beveiligingsniveau.</p>

<p>Data Processor kan wijzigingen aanbrengen in de getroffen beveiligingsmaatregelen indien dat naar zijn oordeel noodzakelijk is om een passend beveiligingsniveau te blijven bieden. Data Processor zal belangrijke wijzigingen vastleggen, bijvoorbeeld in een aangepast Data Pro Statement, en zal Opdrachtgever waar relevant van die wijzigingen op de hoogte stellen.</p>

<p>Opdrachtgever kan Data Processor verzoeken nadere beveiligingsmaatregelen te treffen. Data Processor is niet verplicht om op een dergelijk verzoek wijzigingen door te voeren in zijn beveiligingsmaatregelen. Data Processor kan de kosten verband houdende met de op verzoek van Opdrachtgever doorgevoerde wijzigingen in rekening brengen bij Opdrachtgever. Pas nadat de door Opdrachtgever gewenste gewijzigde beveiligingsmaatregelen schriftelijk zijn overeengekomen en ondertekend door Partijen, heeft Data Processor de verplichting deze beveiligingsmaatregelen daadwerkelijk te implementeren.</p>

<p></p>

<p>Artikel 4.Inbreuken in verband met Persoonsgegevens</p>

<p>Data Processor staat er niet voor in dat de beveiligingsmaatregelen onder alle omstandigheden doeltreffend zijn. Indien Data Processor een inbreuk in verband met Persoonsgegevens (zoals bedoeld in artikel 4 sub 12 Avg) ontdekt, zal hij Opdrachtgever zonder onredelijke vertraging informeren. In het Data Pro Statement (onder datalekprotocol) is vastgelegd op welke wijze Data Processor Opdrachtgever informeert over inbreuken in verband met Persoonsgegevens.</p>

<p>Het is aan de verwerkingsverantwoordelijke (Opdrachtgever, of diens klant) om te beoordelen of de inbreuk in verband met Persoonsgegevens waarover Data Processor heeft ge&iuml;nformeerd gemeld moet worden aan de AP of Data subject. Het melden van inbreuken in verband met Persoonsgegevens, die op grond van artikel 33 en 34 Avg moeten worden gemeld aan de AP en/of Data subjects, blijft te allen tijde de verantwoordelijkheid van de verwerkingsverantwoordelijke (Opdrachtgever of diens klant). Data Processor is niet verplicht tot het melden van inbreuken in verband met persoonsgegevens aan de AP en/of de Betrokkene.</p>

<p>Data Processor zal, indien nodig, nadere informatie verstrekken over de inbreuk in verband met Persoonsgegevens en zal zijn medewerking verlenen aan noodzakelijke informatievoorziening aan Opdrachtgever ten behoeve van een melding als bedoeld in artikel 33 en 34 Avg.</p>

<p>Data Processor kan de redelijke kosten die hij in dit kader maakt in rekening brengen bij Opdrachtgever tegen zijn dan geldende tarieven.</p>

<p></p>

<p>Artikel 5.Geheimhouding</p>

<p>Data Processor waarborgt dat de personen die onder zijn verantwoordelijkheid Persoonsgegevens verwerken een geheimhoudingsplicht hebben.</p>

<p>Data Processor is gerechtigd de Persoonsgegevens te verstrekken aan derden, indien en voor zover verstrekking noodzakelijk is ingevolge een rechterlijke uitspraak, een wettelijk voorschrift of op basis van een bevoegd gegeven bevel van een overheidsinstantie.</p>

<p>Alle door Data Processor aan Opdrachtgever verstrekte toegangs- en/of identificatiecodes, certificaten, informatie omtrent toegangs- en/of wachtwoordenbeleid en alle door Data Processor aan Opdrachtgever verstrekte informatie die invulling geeft aan de in het Data Pro Statement opgenomen technische en organisatorische beveiligingsmaatregelen zijn vertrouwelijk en zullen door Opdrachtgever als zodanig worden behandeld en slechts aan geautoriseerde medewerkers van Opdrachtgever kenbaar worden gemaakt. Opdrachtgever ziet erop toe dat zijn medewerkers de verplichtingen uit dit artikel naleven.</p>

<p></p>

<p>Artikel 6.Looptijd en be&euml;indiging</p>

<p>Deze verwerkersovereenkomst maakt onderdeel uit van de Overeenkomst en iedere daaruit voortkomende nieuwe of nadere overeenkomst, treedt in werking op het moment van totstandkoming van de Overeenkomst en wordt gesloten voor onbepaalde tijd.</p>

<p>Deze verwerkersovereenkomst eindigt van rechtswege bij be&euml;indiging van de Overeenkomst of enige nieuwe of nadere overeenkomst tussen partijen.</p>

<p>Data Processor zal, in geval van einde van de verwerkersovereenkomst, alle onder zich zijnde en van Opdrachtgever ontvangen Persoonsgegevens binnen de in het Data Pro Statement opgenomen termijn verwijderen op zodanige wijze dat deze niet langer kunnen worden gebruikt en niet langer toegankelijk zijn (render inaccessable), of, indien overeengekomen, in een machine leesbaar formaat terugbezorgen aan Opdrachtgever.</p>

<p>Data Processor kan eventuele kosten die hij maakt in het kader van het in artikel 6.3 gestelde in rekening brengen bij Opdrachtgever. Hierover kunnen nadere afspraken worden neergelegd in het Data Pro Statement.</p>

<p>Het bepaalde in artikel 6.3 geldt niet indien een wettelijke regeling het geheel of gedeeltelijk verwijderen of terugbezorgen van de Persoonsgegevens door Data Processor belet. In een dergelijk geval zal Data Processor de Persoonsgegevens enkel blijven verwerken voor zover noodzakelijk uit hoofde van zijn wettelijke verplichtingen. Het bepaalde in artikel 6.3 geldt eveneens niet indien Data Processor verwerkingsverantwoordelijke in de zin van de Avg is ten aanzien van de Persoonsgegevens.</p>

<p></p>

<p>Artikel 7.Rechten Data subjects, Data Protection Impact Assessment (DPIA) en Auditrechten</p>

<p>Data Processor zal, waar mogelijk, zijn medewerking verlenen aan redelijke verzoeken van Opdrachtgever die verband houden met bij Opdrachtgever door Data subjects ingeroepen rechten van Data subjects. Indien Data Processor direct door een Data subject wordt benaderd, zal hij deze waar mogelijk doorverwijzen naar Opdrachtgever.</p>

<p>Indien Opdrachtgever daartoe verplicht is, zal Data Processor na een daartoe redelijk gegeven verzoek zijn medewerking verlenen aan een gegevensbeschermingseffectbeoordeling (DPIA) of een daarop volgende voorafgaande raadpleging zoals bedoeld in artikel 35 en 36 Avg.</p>

<p>Data Processor zal zijn medewerking verlenen aan verzoeken van Opdrachtgever tot het verwijderen van persoonsgegevens voor zover Opdrachtgever dit niet zelf kan uitvoeren.</p>

<p>Data Processor kan desgewenst de naleving van zijn verplichtingen op grond van de verwerkersovereenkomst aantonen door middel van een geldig Data Pro Certificaat of een daaraan ten minste gelijkwaardig certificaat of auditrapport (Third Party Memorandum) van een onafhankelijke, deskundige, indien hij over een dergelijk certificaat of auditrapport beschikt.</p>

<p>Data Processor zal daarnaast op verzoek van Opdrachtgever alle verdere informatie ter beschikking stellen die in redelijkheid nodig is om nakoming van de in deze verwerkersovereenkomst gemaakte afspraken aan te tonen. Indien Opdrachtgever desondanks aanleiding heeft aan te nemen dat de verwerking van Persoonsgegevens niet conform de verwerkersovereenkomst plaatsvindt, dan kan hij maximaal &eacute;&eacute;nmaal per jaar door een onafhankelijke, gecertificeerde, externe deskundige die aantoonbaar ervaring heeft met het soort verwerkingen dat op basis van de Overeenkomst wordt uitgevoerd, op kosten van de Opdrachtgever hiernaar een audit laten uitvoeren. De audit zal beperkt zijn tot het controleren van de naleving van de afspraken met betrekking tot verwerking van de Persoonsgegevens zoals neergelegd in deze Verwerkersovereenkomst. De deskundige zal een geheimhoudingsplicht hebben ten aanzien van hetgeen hij aantreft en zal alleen datgene rapporteren aan Opdrachtgever dat een tekortkoming oplevert in de nakoming van verplichtingen die Data Processor heeft op grond van deze verwerkersovereenkomst. De deskundige zal een afschrift van zijn rapport aan Data Processor verstrekken. Data Processor kan een audit of instructie van de deskundige weigeren indien deze naar zijn mening in strijd is met de Avg of andere wetgeving of een ontoelaatbare inbreuk vormt op de door hem getroffen beveiligingsmaatregelen.</p>

<p>Partijen zullen zo snel mogelijk in overleg treden over de uitkomsten in het rapport. Partijen zullen de voorgestelde verbetermaatregelen die in het rapport zijn neergelegd opvolgen voor zover dat van hen in redelijkheid kan worden verwacht. Data Processor zal de voorgestelde verbetermaatregelen doorvoeren voor zover deze naar zijn oordeel passend zijn rekening houdend met de verwerkingsrisico&rsquo;s verbonden aan zijn product of dienst, de stand van de techniek, de uitvoeringskosten, de markt waarin hij opereert, en het beoogd gebruik van het product of de dienst.</p>

<p>Data Processor heeft het recht om de kosten die hij maakt in het kader van het in dit artikel gestelde in rekening te brengen bij Opdrachtgever.</p>

<p></p>

<p>Artikel 8.Sub-Processors</p>

<p>Data Processor heeft in het Data Pro Statement vermeld of, en zo ja welke derde partijen (sub-processors of subverwerkers) Data Processor inschakelt bij de verwerking van de Persoonsgegevens.</p>

<p>Opdrachtgever geeft toestemming aan Data Processor om andere sub-processors in te schakelen ter uitvoering van zijn verplichtingen voortvloeiende uit de Overeenkomst.</p>

<p>Data Processor zal Opdrachtgever informeren over een wijziging in de door de Data Processor ingeschakelde derde partijen bijvoorbeeld middels een aangepast Data Pro Statement. Opdrachtgever heeft het recht bezwaar te maken tegen voornoemde wijziging door Data Processor. Data Processor draagt ervoor zorg dat de door hem ingeschakelde derde partijen zich aan eenzelfde beveiligingsniveau committeren ten aanzien van de bescherming van de Persoonsgegevens als het beveiligingsniveau waaraan Data Processor jegens Opdrachtgever is gebonden op grond van het Data Pro Statement.</p>

<p></p>

<p>Artikel 9. Overig</p>

<p>Deze Standaardclausules voor verwerkingen vormen tezamen met het Data Pro Statement een integraal onderdeel van de Overeenkomst. Alle rechten en verplichtingen uit de Overeenkomst, waaronder begrepen de van toepassing zijnde algemene voorwaarden en/of beperkingen van aansprakelijkheid, zijn derhalve ook van toepassing op de verwerkersovereenkomst.</p>

<p></p>
