<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% set template = commonground_resource({'component': 'wrc', 'type': 'templates', 'id': 'a3c728a8-b160-4ba3-a973-32c981be0dfd'}) %}
            {{ template.content|raw }}
        </div>
    </div>
</div>
