<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% set template = commonground_resource({'component': 'wrc', 'type': 'templates', 'id': '29d316fe-0577-4f34-98ed-a93714dcb314'}) %}
            {{ template.content|raw }}
        </div>
    </div>
</div>
