{% extends 'base.html.twig' %}

{% block container %}

    <div class="container" style="padding: 20px; background-color: white">
    <div class="row">
        <div class="col-md-12">
            {% set template = commonground_resource({'component': 'wrc', 'type': 'templates', 'id': '4cf7ead1-18b5-40a8-8560-dbfc6368872a'}) %}
            {{ template.content|raw }}
        </div>
    </div>
</div>

{% endblock %}
