<span class="footer__header">Contact gegevens</span>
<ul class="list list--links footer__nav" >
    <li>Adres: Stadsplateau 1</li>
    <li>Postcode: 3521AZ Utrecht</li>
    <li>Telefoon: 14 030</li>
</ul>
<br>



