

<h2>Door wie wilt u worden getrouwd?</h2>
<p>Een trouwambtenaar heet officieel een buitengewoon ambtenaar van de burgerlijke stand (babs ). Een
    babs waarmee het klikt is belangrijk. Hieronder stellen de babsen van de gemeente Utrecht zich aan u
    voor. U kunt een voorkeur aangeven voor een van hen, dan krijgt u data te zien waarop die babs
    beschikbaar is. Wanneer u een babs heeft gekozen zal deze na de melding voorgenomen huwelijk, zelf
    contact met u opnemen.</p>
<p>Kiest u liever voor een babs uit een andere gemeente? Of voor een vriend of familielid als
    trouwambtenaar? Dan kunt u hem of haar laten benoemen tot trouwambtenaar voor 1 dag bij de gemeente
    Utrecht. Dit kunt u hier ook opgeven.</p>
<p>Bij een gratis of een eenvoudig huwelijk of geregistreerd partnerschap kunt u
    niet zelf een babs kiezen, de gemeente wijst er een toe.</p>
