<h2>Getuigen</h2>

<p>Als u trouwt of een geregistreerd partnerschap aangaat, heeft u als bruidspaar minimaal 2 en maximaal 4 getuigen nodig. Een getuige moet tenminste 18 jaar zijn. Meld de getuigen uiterlijk 6 weken voor de ceremoniedatum aan.</p>
