
<h2>Waar wilt u trouwen?</h2>

<p>Een trouwlocatie; in Utrecht is er voor elk wat wils. De gemeente Utrecht heeft een aantal eigen
    trouwlocaties; het Stadhuis, het Wijkservicecentrum in Vleuten en het Stadskantoor. Een keuze voor
    een van deze trouwlocaties kunt u direct hier doen. </p>
<p>Daarnaast zijn er verschillende andere vaste trouwlocaties. Deze trouwlocaties zijn door de gemeente
    Utrecht al goedgekeurd. Hieronder vindt u het overzicht van deze trouwlocaties. Heeft u een keuze
    gemaakt uit een van de vaste trouwlocaties? Maak dan eerst een afspraak met de locatie en geef dan
    aan ons door waar en wanneer u wilt trouwen. </p>
<p> Maar misschien wilt u een heel andere locatie. Bijvoorbeeld het café om de
    hoek, bij u thuis of in uw favoriete restaurant. Zo'n locatie heet een vrije locatie. Een aanvraag
    voor een vrije locatie kunt u hier ook doen. </p>
