{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <section class="row">
            <div class="col-xs-12 col-xl-8 col-lg-10">
                <div class="content">
                    <header class="content__header">
                        <h1>Deze pagina word nog aan gewerkt!</h1>
                        <p class="content__header-paragraph">Op deze pagina komt tekst met uitleg over deze site en Conduction.</p>
                    </header>
                </div>
            </div>
        </section>

        <article>
            <div class="row">
                <div class="col-xl-8 col-lg-10">
                    <div class="content-background">

                        <div class="content">
                            <h2>Over Conduction</h2>
                            <h3>Conduction faciliteert digitale ecostystemen
                            </h3><p>
                                Wij zijn wat je zou kunnen noemen Digital Socials, wij ontwikkelen techniek waarbij mens en community centraal staan. Graag dragen we dan ook bij het aan het ontwikkelen van digitale oplossingen voor maatschappelijke vraagstukken:
                            </p><p>
                                ‘Tech to serve people’.
                            </p><p>
                                Meer informatie over Conduction is te vinden op <a href="https://www.conduction.nl/">onze website</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endblock %}
