<span class="footer__header">Voor Overheden</span>
<ul class="list list--links list--chevrons footer__nav" >
    <li><a style="color: white" href="/over">Uitleg</a></li>
    <li><a style="color: white" href="/stages">Opdrachten uitzetten</a></li>
    <li><a style="color: white" href="/studenten">Stagaires vinden</a></li>
</ul>

<span class="footer__header">Voor Bedrijven</span>
<ul class="list list--links list--chevrons footer__nav" >
    <li><a style="color: white" href="/over">Uitleg</a></li>
    <li><a style="color: white" href="/stages">Opdrachten uitzetten</a></li>
    <li><a style="color: white" href="/studenten">Stagaires vinden</a></li>
</ul>

