<span class="footer__header">Voor studenten</span>
<ul class="list list--links list--chevrons footer__nav" >
    <li><a style="color: black" href="/over">Uitleg</a></li>
    <li><a style="color: black" href="/stages">Stages</a></li>
    <li><a style="color: black" href="/education/programs">Tutorials</a></li>
</ul>

