<span class="footer__header">Partners</span>
<ul class="list list--links list--chevrons footer__nav" style="color: white;" >
    <li><a style="color: white" href="https://www.conduction.nl">Conduction</a></li>
    <li><a style="color: white" href="https://www.rocvanflevoland.nl/">ROC Flevoland</a></li>
    <li><a style="color: white" href="https://vng.nl/">VNG</a></li>
    <li><a style="color: white" href="https://www.sidn.nl/">SIDN</a></li>
</ul>

