<span class="footer__header">Voor Overheden</span>
<ul class="list list--links list--chevrons footer__nav" >
    <li><a style="color: black" href="/about">Uitleg</a></li>
    <li><a style="color: black" href="/process/abff7693-ee71-4121-b286-db95627b40bf">Opdrachten uitzetten</a></li>
    <li><a style="color: black" href="/education/students">Stagaires vinden</a></li>
</ul>

<span class="footer__header">Voor Bedrijven</span>
<ul class="list list--links list--chevrons footer__nav" >
    <li><a style="color: black" href="/about">Uitleg</a></li>
    <li><a style="color: black" href="/process/abff7693-ee71-4121-b286-db95627b40bf">Opdrachten uitzetten</a></li>
    <li><a style="color: black" href="/education/students">Stagaires vinden</a></li>
</ul>

