<span class="footer__header">Partners</span>
<ul class="list list--links list--chevrons footer__nav" >
    <li><a style="color: black" href="https://www.conduction.nl">Conduction</a></li>
    <li><a style="color: black" href="https://vng.nl/">VNG</a></li>
    <li><a style="color: black" href="https://www.sidn.nl/">SIDN</a></li>
</ul>

<span class="footer__header">Onderwijs instellingen</span>
<ul class="list list--links list--chevrons footer__nav" >
    <li><a style="color: black" href="https://www.rocvanflevoland.nl/">ROC Flevoland</a></li>
</ul>

<span class="footer__header">Over de website</span>
<ul class="list list--links list--chevrons footer__nav" >
    <li><a style="color: black" href="/privacy">Privacy</a></li>
    <li><a style="color: black" href="/proclaimer">Proclaimer</a></li>
    <li><a style="color: black" href="/cookies">Cookies</a></li>
</ul>

