<span class="footer__header">Contact gegevens</span>
<ul class="list list--links footer__nav" >
    <li>Adres: Emmalaan 7</li>
    <li>Postcode: 1075AT Amsterdam</li>
    <li>Telefoon: 06-12345678</li>
    <li><a style="text-decoration: none;" href="https://www.conduction.nl/contact"><button class="btn btn--primary" style=" color: black;">Contact</button></a></li>
</ul>



