<span class="footer__header">Voor studenten</span>
<ul class="list list--links list--chevrons footer__nav" >
    <li><a style="color: black" href="/education/overview">Mijn Overzicht</a></li>
    <li><a style="color: black" href="/about">Uitleg</a></li>
    <li><a style="color: black" href="/education/internships">Stages</a></li>
    <li><a style="color: black" href="/education/programs">Programma's</a></li>
</ul>

