<span class="footer__header">Voor studenten</span>
<ul class="list list--links list--chevrons footer__nav" >
    <li><a style="color: white" href="/over">Uitleg</a></li>
    <li><a style="color: white" href="/stages">Stages</a></li>
    <li><a style="color: white" href="/tutorials">Tutorials</a></li>
</ul>

