<span class="footer__header">Voor Overheden</span>
<ul class="list list--links list--chevrons footer__nav" >
    <li><a style="color: black" href="/over">Uitleg</a></li>
    <li><a style="color: black" href="{{ path('app_process_load',{"id":"abff7693-ee71-4121-b286-db95627b40bf"}) }}">Opdrachten uitzetten</a></li>
    <li><a style="color: black" href="/studenten">Stagaires vinden</a></li>
</ul>

<span class="footer__header">Voor Bedrijven</span>
<ul class="list list--links list--chevrons footer__nav" >
    <li><a style="color: black" href="/over">Uitleg</a></li>
    <li><a style="color: black" href="{{ path('app_process_load',{"id":"abff7693-ee71-4121-b286-db95627b40bf"}) }}">Opdrachten uitzetten</a></li>
    <li><a style="color: black" href="/studenten">Stagaires vinden</a></li>
</ul>

