{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    </div>
    <div class="row content-background background--hemelblauw" style="height: 400px; background: url(https://images.unsplash.com/photo-1547499681-28dece7dba00?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80) !important; background-size: cover !important;">
        <div class="container" style="height: 400px; position: relative;">
            <div  style=" position: absolute; bottom: 15px; right: 15px; padding: 15px; margin: 0; background-color: #004699">
                <h1>Over</h1>
                <p>Voorbeeld tekst</p>
            </div>
        </div>
    </div>

    <div class="container">
        <h1>Dit is een tijdelijke pagina</h1>
    </div>
{% endblock %}
