{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block container %}
    <div class="container">
        <section class="row">
            <div class="col-md-12 background--primary">
                <h1>Deze pagina word nog aan gewerkt!</h1>
                <p class="content__header-paragraph">Op deze pagina komt tekst met uitleg over deze site en Conduction.</p>
            </div>
        </section>
    </div>
{% endblock %}
