{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block container %}
    <div class="container">
        <section class="row">
            <div class="col-md-12 background--primary">
                <h1>Wat is CheckIng?</h1>
                <p>Checking is een makkelijke en veilige manier van het beschikbaar stellen van persoonlijke gegeven voor een eventueel contactonderzoek door de GGD zonder dat deze inzichtelijk zijn voor anderen.</p>

                <p> Wat Checking anders maakt is dat deals bezoeker van een horecagelegenheid zijn gegevens niet overdraagt, maar in plaats daarvan ze tijdelijk ter beschikking stelt in een datakluis. De gegevens worden daar slechts uitgehaald op verzoek van de GGD en dan ook alleen aan de GGD verstrekt.</p>

                <p>Op die manier voorkomen we met zijn allen dat contact gegevens overal rondslingeren met alle gevolgen van dien, dat is wel zo fijn voor de horeca en wel zo veilig voor klanten.</p>
            </div>
        </section>
        <section class="row">
            <div class="col-md-12 background--primary">
                <h1>Hoe werkt Checking?</h1>
                <p>Bij aankomst in een horecagelegenheid wordt de bezoeker gevraagd een QR-code of NFC sticker te scannen met zijn of haar smartphone. Deze opent de Checking website waar de bezoeker kan inloggen met met behulp van zijn of haar bank-app. De bank stelt vervolgens contactgegevens beschikbaar die tijdelijk worden opgeslagen in een datakluis. De ondernemer heeft geen toegang tot deze gegevens.</p>

                <p>Wanneer de GGD constateert dat iemand positief is getest op COVID-19, starten zij een contactonderzoek. Als uit het contactonderzoek blijkt dat iemand recent bij een horecagelegenheid is geweest, dan kan de GGD daar de contactgegevens opvragen van iedereen die op dezelfde dag en tijd in de horecagelegenheid was.</p>

                <p>De horecagelegenheid zal Checking vervolgens vragen om de contactgegevens over te dragen aan de GGD. Checkin draagt vervolgens die contactgegevens veilig over aan de GGD.</p>
            </div>
        </section>
        <section class="row">
            <div class="col-md-12 background--primary">
                <h1>HWie zitten er eigenlijk achter Checking?</h1>
                <p>Checking is een samenwerkingsverband van Koninklijke Horeca Nederland de Rabobank en Conduction.</p>
            </div>
        </section>
        <section class="row">
            <div class="col-md-12 background--primary">
                <h1>Techniek</h1>
                <p>Checking is een open source project gebaseerd op een set aan standaard componenten die ontwikkeld zijn voor de Nederlandse overheid en in het bijzonder de Vereniging van Nederlandse Gemeente vanuit het Common Ground project. Voor het uitwisselen van contactgegeven en het vaststellen (inloggen) van gebruikers wordt gebruik gemaakt van het iDIN netwerk.</p>
            </div>
        </section>
    </div>
{% endblock %}














