{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block container %}
    <div class="container">
        <section class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10 background--primary" style="height: 500px;" >
                <h1>Deze pagina word nog aan gewerkt!</h1>
                <p class="content__header-paragraph">Op deze pagina komt tekst met uitleg over deze site en Conduction.</p>
            </div>
        </section>
    </div>
{% endblock %}
