{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block container %}
    <div class="container background--primary">
        <div class="row">
            <div class="col-md-12">
                <h1>Deze pagina word nog aan gewerkt!</h1>
                <p class="content__header-paragraph">Op deze pagina komt een cookies tekst.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Cookies</h2>
                <p>checking.nu is een website/platform van Conduction. De pagina's verschijnen onder verantwoordelijkheid van Conduction.</p>

                <p> Conduction is verantwoordelijk voor de inhoud van deze website en doet er alles aan die actueel en juist te houden en ervoor te zorgen dat de informatie gebruiksvriendelijk en toegankelijk is. Komt u toch iets tegen dat niet correct of verouderd is of heeft u voorstellen voor verbetering, mail dan naar info@conduction.nl.</p>
            </div>
        </div>
    </div>
{% endblock %}
