{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block container %}
<div class="row">
    <div class="container">
        <div class="col-md-6 col-sm-12">

        </div>
        <div class="col-md-6 col-sm-12">
            <h2>Wat is checking?</h2>

            <a href="{{ path('app_ptc_process',{'id':'fdb7186c-0ce9-4050-bd6d-cf83b0c162eb','stage':'start'}) }}" class="btn btn-block">Deelnemen aan dit platform</a>
        </div>
    </div>
</div>
{% endblock %}
