{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block container %}
    <div class="container">
        <section class="row">
            <div class="col-md-12">
                <h1>Deze pagina word nog aan gewerkt!</h1>
                <p class="content__header-paragraph">Op deze pagina komt tekst over privacy.</p>
            </div>
        </section>

        <article>
            <div class="row">
                <div class="col-md-12">
                    <h2>Privacy</h2>
                    <p>
                        De bescherming van uw privacy bij het verwerken van uw persoonsgegevens is belangrijk.
                        Conduction, als verwerkingsverantwoordelijke,
                        gaat daarom heel zorgvuldig met uw persoonsgegevens om en we houden ons daarbij aan de eisen van de Algemene Verordening Gegevensbescherming.
                    </p>
                    <p>
                        In deze privacyverklaring staat hoe we dat doen,
                        voor welke doelen we de gegevens verwerken en op basis van welke wettelijke grondslag we die gegevens vastleggen.
                        Ook leest u wat uw rechten zijn, zoals inzage, correctie en het indienen van klachten.
                        Daarnaast leggen we uit hoe we uw persoonsgegevens beveiligen.
                    </p>
                    <p>
                        Wilt u weten welke persoonsgegevens we van u hebben? Kijk dan in het Verwerkingsregister.
                        Daarin kunt u ook lezen waarom we deze gegevens nodig hebben, voor welke doelen we ze vastleggen en voor hoe lang.
                    </p>
                    <p>
                        Heeft u vragen over deze privacyverklaring? Mail dan naar info@conduction.nl of bel met 145002.
                    </p>
                </div>
            </div>
        </article>
    </div>
{% endblock %}
