{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block container %}
    <div class="container">
        <section class="row">
            <div class="col-md-12">
                <h1>Deze pagina word nog aan gewerkt!</h1>
                <p class="content__header-paragraph">Op deze pagina komt een proclaimer tekst.</p>
            </div>
        </section>

        <article>
            <div class="row">
                <div class="col-md-12">
                    <h2>Proclaimer</h2>
                    <p>
                        stage.conduction.nl is de officiële stage website van Conduction.
                        De pagina's verschijnen onder verantwoordelijkheid van Conduction.
                    </p>
                    <p>
                        Conduction is verantwoordelijk voor de inhoud van deze website en doet er alles aan die
                        actueel en juist te houden en ervoor te zorgen dat de informatie gebruiksvriendelijk en toegankelijk is.
                        Komt u toch iets tegen dat niet correct of verouderd is of heeft u voorstellen voor verbetering,
                        stuur dan een reactie naar info@conduction.nl.
                    </p>
                    <p>
                        Conduction wil volledig voldoen aan de ...
                        Voldoen aan deze standaard maakt onze website onder andere gebruiksvriendelijker en beter toegankelijk voor verschillende doelgroepen.
                    </p>
                </div>
            </div>
        </article>
    </div>
{% endblock %}
