{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block container %}
    <div class="container background--primary">
        <div class="row">
            <div class="col-md-12">
                <h1>Deze pagina word nog aan gewerkt!</h1>
                <p class="content__header-paragraph">Op deze pagina komt een proclaimer tekst.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>De techniek achter CheckIn</h2>
                <p>Checking is een open source project gebaseerd op een set aan standaard componenten die ontwikkeld zijn voor de Nederlandse overheid en in het bijzonder de Vereniging van Nederlandse Gemeente vanuit het Common Ground project. Voor het uitwisselen van contactgegeven en het vaststellen (inloggen) van gebruikers kan gebruik worden gemaakt van het iDIN netwerk..</p>
            </div>
        </div>
    </div>
{% endblock %}
